<a href="https://colab.research.google.com/github/tlacloc/analisis-defunciones-nacimientos-2022/blob/main/2018_nacimientos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 # Libreria para cargar nuestro drive
from google.colab import drive

# Cargamos nuestro drive en nuestro notebook
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!ls "/content/drive/MyDrive/Colab Notebooks"

'Copy of SDC11_actividad1_Badillo_Casanova.ipynb'   SDC_12		 test.ipynb
'EVC Hackathon Files'				    SDC_13		 Untitled0.ipynb
 Image						    SDC_14		 Untitled1.ipynb
 miriam						    SDC_15		 Vero
 SCD_12_Erick_Casanova.ipynb			    test-forvero.ipynb	 Visualizacion

In [ ]:
# Librerias de ayuda
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind
import matplotlib.pyplot as plt
import seaborn as sns

year = '2018'

In [ ]:
fileName = '/content/drive/My Drive/Colab Notebooks/miriam/nacimientos_' + year + '.csv'
df = pd.read_csv(fileName, low_memory=False)
df.head(10)

,Unnamed: 0,CEDOCVE,ENT_NACM,MPO_NACM,FECH_NACM,EDADM,CON_INDM,HABLA_INDM,CUAL_LENGM,EDOCIVIL,...,TIPOVIAL_CERT,TIPOASEN_CERT,ENT_CERT,MPO_CERT,LOC_CERT,FECH_CERT,FECH_ALTA,FECH_CAMB,IDCAPTURA,TIPO_FORMATO
0,1,19,30,999,10/09/1998,19,2,2,9999,15,...,3,0,19,6,1,13/08/2018,17/08/2018,NaN,NaN,2015.0
1,2,19,24,13,08/01/1995,23,1,2,9999,11,...,3,0,19,6,1,13/08/2018,29/08/2018,NaN,NaN,2015.0
2,3,19,19,46,19/06/1990,28,2,2,9999,15,...,3,0,19,6,1,13/08/2018,17/08/2018,NaN,NaN,2015.0
3,4,19,30,999,12/02/1995,23,2,2,9999,15,...,3,0,19,6,1,13/08/2018,30/10/2018,NaN,NaN,2015.0
4,5,19,19,39,05/11/1994,23,2,2,9999,11,...,3,0,19,6,1,13/08/2018,30/10/2018,NaN,NaN,2015.0
5,6,19,19,39,27/02/1992,26,2,2,9999,11,...,3,0,19,6,1,13/08/2018,20/08/2018,NaN,NaN,2015.0
6,7,19,19,26,04/11/1993,24,1,2,9999,99,...,3,0,19,6,1,13/08/2018,29/08/2018,NaN,NaN,2015.0
7,8,19,30,94,13/06/1981,37,2,2,9999,15,...,3,0,19,6,1,13/08/2018,30/10/2018,NaN,NaN,2015.0
8,9,19,12,999,26/01/1992,26,2,2,9999,11,...,3,7,19,39,1,18/09/2018,10/06/2018,NaN,1.0,2015.0
9,10,19,19,39,16/12/1994,23,2,2,9999,11,...,3,7,19,39,1,19/09/2018,10/06/2018,NaN,1.0,2015.0

In [ ]:
df.rename(columns = {'TAM_AUD':'TAMIZAUDITIVO'}, inplace = True)
df.rename(columns = {'HIJO_SOBV':'HIJOSSOBREVIVIENTES'}, inplace = True)
df.rename(columns = {'FECH_NACH':'FECHANACIMIENTO'}, inplace = True)
df.rename(columns = {'ORDEN_NAC':'ORDENNACIMIENTO'}, inplace = True)
df.rename(columns = {'ENT_NAC':'ENTIDADNACIMIENTO'}, inplace = True)
df.rename(columns = {'MPO_NACM':'MUNICIPIONACIMIENTO'}, inplace = True)
df.rename(columns = {'CON_INDM':'SECONSIDERAINDIGENA'}, inplace = True)
df.rename(columns = {'HABLA_INDM':'HABLALENGUAINDIGENA'}, inplace = True)
df.rename(columns = {'FECH_NACM':'FECHANACIMIENTOMADRE'}, inplace = True)
df.rename(columns = {'EDOCIVIL':'ESTADOCONYUGAL'}, inplace = True)
df.rename(columns = {'ENT_RES':'ENTIDADRESIDENCIA'}, inplace = True)
df.rename(columns = {'MPO_RES':'MUNICIPIORESIDENCIA'}, inplace = True)
df.rename(columns = {'LOC_RES':'LOCALIDADRESIDENCIA'}, inplace = True)
df.rename(columns = {'NUM_NACVIVO':'HIJOSNACIDOSVIVOS'}, inplace = True)
df.rename(columns = {'HIJO_ANTE':'CONDICIONHIJOANTERIOR'}, inplace = True)
df.rename(columns = {'VIVE_AUN':'VIVEHIJOANTERIOR'}, inplace = True)
df.rename(columns = {'CVEOCUPHAB':'CLAVEOCUPACIONHABITUAL'}, inplace = True)
df.rename(columns = {'TRAB_ACT':'TRABAJAACTUALMENTE'}, inplace = True)
df.rename(columns = {'HORA_NACH':'HORANACIMIENTO'}, inplace = True)
df.rename(columns = {'BCG':'VACUNA_BCG'}, inplace = True)
df.rename(columns = {'HEP_B':'VACUNAHEPATITIS_B'}, inplace = True)
df.rename(columns = {'VIT_A':'VITAMINA_A'}, inplace = True)
df.rename(columns = {'VIT_K':'VITAMINA_K'}, inplace = True)
df.rename(columns = {'PRODUCTO':'PRODUCTOEMBARAZO'}, inplace = True)
df.rename(columns = {'CLUES':'CLUES'}, inplace = True)
df.rename(columns = {'FORCEPS':'UTILIZOFORCEPS'}, inplace = True)
df.rename(columns = {'FORCEPS':'TIPOCESAREA'}, inplace = True)
df.rename(columns = {'ATENDIO':'PERSONALATENDIO'}, inplace = True)
df.rename(columns = {'MPO_NAC':'MUNICIPIOPARTO'}, inplace = True)
df.rename(columns = {'LOC_NAC':'LOCALIDADPARTO'}, inplace = True)
df.rename(columns = {'CERT_POR':'CERTIFICADOPOR'}, inplace = True)
df.rename(columns = {'CLUES_33_2':'CLUESCERTIFICA'}, inplace = True)
df.rename(columns = {'ENT_CERT':'ENTIDADFEDERATIVACERTIFICA'}, inplace = True)
df.rename(columns = {'MPO_CERT':'MUNICIPIOCERTIFICA'}, inplace = True)
df.rename(columns = {'LOC_CERT':'LOCALIDADCERTIFICA'}, inplace = True)
df.rename(columns = {'FECH_CERT':'FECHACERTIFICADO'}, inplace = True)
df.rename(columns = {'INST_NAC':'LUGARNACIMIENTO'}, inplace = True)

In [ ]:
oldColumns = df.columns
oldColumns

Index(['Unnamed: 0', 'CEDOCVE', 'ENT_NACM', 'MUNICIPIONACIMIENTO',
       'FECHANACIMIENTOMADRE', 'EDADM', 'SECONSIDERAINDIGENA',
       'HABLALENGUAINDIGENA', 'CUAL_LENGM', 'ESTADOCONYUGAL', 'TIPOVIAL_RES',
       'TIPOASEN_RES', 'ENTIDADRESIDENCIA', 'MUNICIPIORESIDENCIA',
       'LOCALIDADRESIDENCIA', 'NUM_EMB', 'NUM_NACMTO', 'HIJOSNACIDOSVIVOS',
       'HIJOSSOBREVIVIENTES', 'CONDICIONHIJOANTERIOR', 'VIVEHIJOANTERIOR',
       'ORDENNACIMIENTO', 'ATEN_PREN', 'TRIM_CONS', 'TOT_CONS', 'SOB_PARTO',
       'DERHAB', 'DERHAB2', 'NIV_ESCOL', 'OCUPHAB', 'CLAVEOCUPACIONHABITUAL',
       'TRABAJAACTUALMENTE', 'FECHANACIMIENTO', 'HORANACIMIENTO', 'SEXOH',
       'GESTACH', 'TALLAH', 'PESOH', 'APGARH', 'SILVERMAN', 'VACUNA_BCG',
       'VACUNAHEPATITIS_B', 'VITAMINA_A', 'VITAMINA_K', 'TAMIZAUDITIVO',
       'PRODUCTOEMBARAZO', 'ACELRN', 'CVE_CIE', 'ACELRN2', 'CVE_CIE2',
       'PROCNAC', 'UTILIZOFORCEPS', 'ESPECIFIQUE', 'LUGARNACIMIENTO', 'UNIMED',
       'CLUES', 'PERSONALATENDIO', 'ATEN_OTRO', 'TIPOVIAL_NAC', 'TIPOASEN_NAC',
       'ENTIDADNACIMIENTO', 'MUNICIPIOPARTO', 'LOCALIDADPARTO',
       'CERTIFICADOPOR', 'OTROMEDICO', 'UNIMED_33_1', 'CLUESCERTIFICA',
       'TIPOVIAL_CERT', 'TIPOASEN_CERT', 'ENTIDADFEDERATIVACERTIFICA',
       'MUNICIPIOCERTIFICA', 'LOCALIDADCERTIFICA', 'FECHACERTIFICADO',
       'FECH_ALTA', 'FECH_CAMB', 'IDCAPTURA', 'TIPO_FORMATO'],
      dtype='object')

Variables que sd van a utilizar

In [ ]:
df.rename(columns = {'EDADM':'EDAD'}, inplace = True)
df.rename(columns = {'NUM_EMB':'NUMEROEMBARAZOS'}, inplace = True)
df.rename(columns = {'NUM_NACMTO':'HIJOSNACIDOSMUERTOS'}, inplace = True)
df.rename(columns = {'ATEN_PREN':'ATENCIONPRENATAL'}, inplace = True)
df.rename(columns = {'TRIM_CONS':'TRIMESTREPRIMERCONSULTA'}, inplace = True)
df.rename(columns = {'TOT_CONS':'TOTALCONSULTAS'}, inplace = True)
df.rename(columns = {'SOB_PARTO':'SOBREVIVIOPARTO'}, inplace = True)
df.rename(columns = {'NIV_ESCOL':'ESCOLARIDAD'}, inplace = True)
df.rename(columns = {'SEXOH':'SEXO'}, inplace = True)
df.rename(columns = {'GESTACH':'EDADGESTACIONAL'}, inplace = True)
df.rename(columns = {'TALLAH':'TALLA'}, inplace = True)
df.rename(columns = {'PESOH':'PESO'}, inplace = True)
df.rename(columns = {'APGARH':'APGAR'}, inplace = True)
df.rename(columns = {'PRODUCTO':'PRODUCTOEMBARAZO'}, inplace = True)
df.rename(columns = {'CVE_CIE':'CODIGOCIEANOMALIA1'}, inplace = True)
df.rename(columns = {'CVE_CIE2':'CODIGOCIEANOMALIA2'}, inplace = True)
df.rename(columns = {'PROCNAC':'RESOLUCIONEMBARAZO'}, inplace = True)
df.rename(columns = {'ENT_NACM':'ENTIDADFEDERATIVAPARTO'}, inplace = True)

df.head(10)

,Unnamed: 0,CEDOCVE,ENTIDADFEDERATIVAPARTO,MUNICIPIONACIMIENTO,FECHANACIMIENTOMADRE,EDAD,SECONSIDERAINDIGENA,HABLALENGUAINDIGENA,CUAL_LENGM,ESTADOCONYUGAL,...,TIPOVIAL_CERT,TIPOASEN_CERT,ENTIDADFEDERATIVACERTIFICA,MUNICIPIOCERTIFICA,LOCALIDADCERTIFICA,FECHACERTIFICADO,FECH_ALTA,FECH_CAMB,IDCAPTURA,TIPO_FORMATO
0,1,19,30,999,10/09/1998,19,2,2,9999,15,...,3,0,19,6,1,13/08/2018,17/08/2018,NaN,NaN,2015.0
1,2,19,24,13,08/01/1995,23,1,2,9999,11,...,3,0,19,6,1,13/08/2018,29/08/2018,NaN,NaN,2015.0
2,3,19,19,46,19/06/1990,28,2,2,9999,15,...,3,0,19,6,1,13/08/2018,17/08/2018,NaN,NaN,2015.0
3,4,19,30,999,12/02/1995,23,2,2,9999,15,...,3,0,19,6,1,13/08/2018,30/10/2018,NaN,NaN,2015.0
4,5,19,19,39,05/11/1994,23,2,2,9999,11,...,3,0,19,6,1,13/08/2018,30/10/2018,NaN,NaN,2015.0
5,6,19,19,39,27/02/1992,26,2,2,9999,11,...,3,0,19,6,1,13/08/2018,20/08/2018,NaN,NaN,2015.0
6,7,19,19,26,04/11/1993,24,1,2,9999,99,...,3,0,19,6,1,13/08/2018,29/08/2018,NaN,NaN,2015.0
7,8,19,30,94,13/06/1981,37,2,2,9999,15,...,3,0,19,6,1,13/08/2018,30/10/2018,NaN,NaN,2015.0
8,9,19,12,999,26/01/1992,26,2,2,9999,11,...,3,7,19,39,1,18/09/2018,10/06/2018,NaN,1.0,2015.0
9,10,19,19,39,16/12/1994,23,2,2,9999,11,...,3,7,19,39,1,19/09/2018,10/06/2018,NaN,1.0,2015.0

In [ ]:
# Limpieza de datos
# Se eliminaran las columnas que no se utilizaran
['ENTIDADFEDERATIVAPARTO', 'EDAD',
       'TIPOVIAL_RES', 'TIPOASEN_RES', 'NUMEROEMBARAZOS',
       'HIJOSNACIDOSMUERTOS', 'ATENCIONPRENATAL', 'TRIMESTREPRIMERCONSULTA',
       'TOTALCONSULTAS', 'SOBREVIVIOPARTO', 'DERHAB', 'DERHAB2', 'ESCOLARIDAD',
       'OCUPHAB', 'FECHANACIMIENTO', 'SEXO', 'EDADGESTACIONAL', 'TALLA',
       'PESO', 'APGAR', 'SILVERMAN', 'ACELRN', 'CODIGOCIEANOMALIA1', 'ACELRN2',
       'CODIGOCIEANOMALIA2', 'RESOLUCIONEMBARAZO', 'ESPECIFIQUE', 'UNIMED',
       'ATEN_OTRO', 'TIPOVIAL_NAC', 'TIPOASEN_NAC', 'OTROMEDICO',
       'UNIMED_33_1', 'TIPOVIAL_CERT', 'TIPOASEN_CERT', 'FECH_ALTA',
       'FECH_CAMB', 'IDCAPTURA', 'TIPO_FORMATO']
columnsToRemove = [
    "TAMIZAUDITIVO",
    "HIJOSSOBREVIVIENTES",
    # "FECHANACIMIENTO",
    "ENTIDADNACIMIENTO",
    "MUNICIPIONACIMIENTO",
    "SECONSIDERAINDIGENA",
    "HABLALENGUAINDIGENA",
    "FECHANACIMIENTOMADRE",
    "ESTADOCONYUGAL",
    "ENTIDADRESIDENCIA",
    "MUNICIPIORESIDENCIA",
    "LOCALIDADRESIDENCIA",
    "HIJOSNACIDOSVIVOS",
    "CONDICIONHIJOANTERIOR",
    "VIVEHIJOANTERIOR",
    "ORDENNACIMIENTO",
    "CLAVEOCUPACIONHABITUAL",
    "TRABAJAACTUALMENTE",
    "HORANACIMIENTO",
    "VACUNA_BCG",
    "VACUNAHEPATITIS_B",
    "VITAMINA_A",
    "VITAMINA_K",
    # Relacionado a gemelos
    "PRODUCTOEMBARAZO",
    "CLUES",
    "UTILIZOFORCEPS",
    "PERSONALATENDIO",
    "MUNICIPIOPARTO",
    "LOCALIDADPARTO",
    "CERTIFICADOPOR",
    "CLUESCERTIFICA",
    "ENTIDADFEDERATIVACERTIFICA",
    "MUNICIPIOCERTIFICA",
    "LOCALIDADCERTIFICA",
    "FECHACERTIFICADO",
    "LUGARNACIMIENTO",
    'CEDOCVE',
    'CUAL_LENGM',
    'TIPOASEN_RES',
    'TIPOVIAL_RES',
    'DERHAB',
    'DERHAB2',
    'ATEN_OTRO', 'TIPOVIAL_NAC', 'TIPOASEN_NAC', 'OTROMEDICO',
    'UNIMED_33_1', 'TIPOVIAL_CERT', 'TIPOASEN_CERT', 'FECH_ALTA',
    'FECH_CAMB', 'IDCAPTURA', 'TIPO_FORMATO',
    'ESPECIFIQUE', 'UNIMED', 'ACELRN', 'ACELRN2'
]

df.drop(columnsToRemove, inplace=True, axis=1)

In [ ]:
columnsToReview = df.columns
columnsToReview

Index(['Unnamed: 0', 'ENTIDADFEDERATIVAPARTO', 'EDAD', 'NUMEROEMBARAZOS',
       'HIJOSNACIDOSMUERTOS', 'ATENCIONPRENATAL', 'TRIMESTREPRIMERCONSULTA',
       'TOTALCONSULTAS', 'SOBREVIVIOPARTO', 'ESCOLARIDAD', 'OCUPHAB',
       'FECHANACIMIENTO', 'SEXO', 'EDADGESTACIONAL', 'TALLA', 'PESO', 'APGAR',
       'SILVERMAN', 'CODIGOCIEANOMALIA1', 'CODIGOCIEANOMALIA2',
       'RESOLUCIONEMBARAZO'],
      dtype='object')

In [ ]:
#df=df.drop(df[df['EDAD']==999].index)
#df=df.drop(df[df['EDAD']==888].index)
#df=df.drop(df[df['NUMEROEMBARAZOS']==99].index)
#df=df.drop(df[df['HIJOSNACIDOSMUERTOS']==99].index)
#df=df.drop(df[df['ATENCIONPRENATAL']==9].index)
#df=df.drop(df[df['TRIMESTREPRIMERCONSULTA']==9].index)
#df=df.drop(df[df['TOTALCONSULTAS']==99].index)
#df=df.drop(df[df['SOBREVIVIOPARTO']==9].index)
#df=df.drop(df[df['ESCOLARIDAD']==999].index)
#df=df.drop(df[df['EDADPADRE']==999].index)
#df=df.drop(df[df['SEXO']==99].index)
#df=df.drop(df[df['EDADGESTACIONAL']==99].index)
#df=df.drop(df[df['TALLA']==99].index)
#df=df.drop(df[df['PESO']==9999].index)
#df=df.drop(df[df['TALLA']==9].index)
#df=df.drop(df[df['APGAR']==99].index)
#df=df.drop(df[df['SILVERMAN']==99].index)
#df=df.drop(df[df['UTILIZOFORCEPS']==9].index)

In [ ]:
df.head(10)

,Unnamed: 0,ENTIDADFEDERATIVAPARTO,EDAD,NUMEROEMBARAZOS,HIJOSNACIDOSMUERTOS,ATENCIONPRENATAL,TRIMESTREPRIMERCONSULTA,TOTALCONSULTAS,SOBREVIVIOPARTO,ESCOLARIDAD,...,FECHANACIMIENTO,SEXO,EDADGESTACIONAL,TALLA,PESO,APGAR,SILVERMAN,CODIGOCIEANOMALIA1,CODIGOCIEANOMALIA2,RESOLUCIONEMBARAZO
0,1,30,19,2,0,1,2,99,1,2,...,13/08/2018,2,40,51,2800,8,0,0000,0000,1
1,2,24,23,2,0,1,1,99,1,5,...,13/08/2018,2,38,52,3650,9,0,0000,0000,2
2,3,19,28,4,0,1,1,10,1,7,...,13/08/2018,2,40,50,3550,9,0,0000,0000,1
3,4,30,23,1,0,1,1,99,1,1,...,13/08/2018,1,36,51,3050,9,0,0000,0000,1
4,5,19,23,1,0,1,2,99,1,8,...,13/08/2018,1,39,55,3200,9,0,0000,0000,1
5,6,19,26,3,0,1,2,99,1,6,...,13/08/2018,1,39,54,3500,9,2,0000,0000,2
6,7,19,24,3,0,1,1,10,1,7,...,13/08/2018,1,38,50,3400,9,0,0000,0000,1
7,8,30,37,3,0,1,2,99,1,5,...,13/08/2018,2,40,52,3000,9,0,0000,0000,1
8,9,12,26,1,0,1,1,13,1,7,...,18/09/2018,1,38,53,3640,9,0,0000,0000,2
9,10,19,23,1,0,1,1,8,1,11,...,19/09/2018,2,39,48,3060,9,0,0000,0000,2

# Variable: presencia o ausencia de Malformaciones Craneofaciales MCF

In [ ]:
def update_codes(base_array):
  new_codes = []
  for value in base_array:
    for i in range(0, 10):
      new_codes.append(value[:-1] + str(i))

  return new_codes

In [ ]:
codigos_mc = update_codes(['Q100', 'Q110', 'Q120', 'Q130', 'Q140', 'Q150', 'Q160', 'Q170', 'Q180', 'Q300', 'Q350', 'Q360', 'Q370', 'Q380'])
anomalias_mc = df['CODIGOCIEANOMALIA1'].isin(codigos_mc) | df['CODIGOCIEANOMALIA2'].isin(codigos_mc)

df["Malformacion congnita craneofacial"] = None
df["Malformacion congnita craneofacial"] = np.where(df['CODIGOCIEANOMALIA1'].isin(codigos_mc) | df['CODIGOCIEANOMALIA2'].isin(codigos_mc), 2, 1)
df

,Unnamed: 0,ENTIDADFEDERATIVAPARTO,EDAD,NUMEROEMBARAZOS,HIJOSNACIDOSMUERTOS,ATENCIONPRENATAL,TRIMESTREPRIMERCONSULTA,TOTALCONSULTAS,SOBREVIVIOPARTO,ESCOLARIDAD,...,SEXO,EDADGESTACIONAL,TALLA,PESO,APGAR,SILVERMAN,CODIGOCIEANOMALIA1,CODIGOCIEANOMALIA2,RESOLUCIONEMBARAZO,Malformacion congnita craneofacial
0,1,30,19,2,0,1,2,99,1,2,...,2,40,51,2800,8,0,0000,0000,1,1
1,2,24,23,2,0,1,1,99,1,5,...,2,38,52,3650,9,0,0000,0000,2,1
2,3,19,28,4,0,1,1,10,1,7,...,2,40,50,3550,9,0,0000,0000,1,1
3,4,30,23,1,0,1,1,99,1,1,...,1,36,51,3050,9,0,0000,0000,1,1
4,5,19,23,1,0,1,2,99,1,8,...,1,39,55,3200,9,0,0000,0000,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1940651,1940652,21,21,1,0,1,2,3,1,3,...,2,38,47,9999,9,0,0000,0000,1,1
1940652,1940653,21,23,2,0,1,1,9,1,7,...,2,40,52,3280,9,0,0000,0000,1,1
1940653,1940654,21,44,3,0,1,1,9,1,3,...,2,40,53,3755,9,0,0000,0000,1,1
1940654,1940655,21,18,2,0,1,2,3,1,5,...,1,39,51,2950,9,0,0000,0000,1,1
1940655,1940656,21,20,3,0,1,1,6,1,5,...,1,39,54,3400,9,0,0000,0000,1,1

## Variable categórica clasificación de MCF
- Oftalmológicas Q100 Q110 Q120 Q130 Q140 Q150
- Oído Q160 Q170
- Cara y cuello Q180
- Nariz Q300
- Lengua y boca Q380 Q350 Q360 Q370

### Oftalmo

In [ ]:
# Valores par oftalmo
codigos_oftalmo = update_codes(['Q100', 'Q110', 'Q120', 'Q130', 'Q140', 'Q150'])
anomalias_oftalmo = df['CODIGOCIEANOMALIA1'].isin(codigos_oftalmo) | df['CODIGOCIEANOMALIA2'].isin(codigos_oftalmo)
key = "Malformacion cat"
df[key] = None
df[key].mask(anomalias_oftalmo, 1, inplace=True)

### Oido

In [ ]:
# Valores par oido
codigos_oido = update_codes(['Q160', 'Q170'])
anomalias_oido = df['CODIGOCIEANOMALIA1'].isin(codigos_oido) | df['CODIGOCIEANOMALIA2'].isin(codigos_oido)
df[key].mask(anomalias_oido, 2, inplace=True)

### Cara y cuello

In [ ]:
# Valores par cara y cuello
codigos_cara_cuello = update_codes(['Q180'])
anomalias_cara_cuello = df['CODIGOCIEANOMALIA1'].isin(codigos_cara_cuello) | df['CODIGOCIEANOMALIA2'].isin(codigos_cara_cuello)
df[key].mask(anomalias_cara_cuello, 3, inplace=True)

### Nariz

In [ ]:
# Valores para nariz
codigos_nariz = update_codes(['Q300'])
anomalias_nariz = df['CODIGOCIEANOMALIA1'].isin(codigos_nariz) | df['CODIGOCIEANOMALIA2'].isin(codigos_nariz)
df[key].mask(anomalias_nariz, 4, inplace=True)

### Lengua y boca

In [ ]:
# Valores para lengua y boca
codigos_lengua_boca = update_codes(['Q380', 'Q350', 'Q360', 'Q370'])
anomalias_lengua_boca = df['CODIGOCIEANOMALIA1'].isin(codigos_lengua_boca) | df['CODIGOCIEANOMALIA2'].isin(codigos_lengua_boca)
df[key].mask(anomalias_lengua_boca, 5, inplace=True)
df[key].value_counts()

2    2009
5    1857
3     193
1     106
4      90
Name: Malformacion cat, dtype: int64

# Segunda malformacion

In [ ]:
codigos_mc = update_codes(['Q100', 'Q110', 'Q120', 'Q130', 'Q140', 'Q150', 'Q160', 'Q170', 'Q180', 'Q300', 'Q350', 'Q360', 'Q370', 'Q380'])
key="Segunda malformacion"
df[key] = None

df[key].mask(df['CODIGOCIEANOMALIA2'] == '0000', 0, inplace=True)
df[key].mask(df['CODIGOCIEANOMALIA2'] != '0000', 1, inplace=True)
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_mc), 2, inplace=True)
df[key].value_counts()

0    1901677
1      37863
2       1116
Name: Segunda malformacion, dtype: int64

# Edad materna
Edades por decadas de vida de los que presentan malformaciones craneofaciales, ya sea en una sola columna o ambas.
menores de 20 años
20-29
30-39
40-49
mayores o igual a 50

In [ ]:
etiqueta = 'EDAD'
key = "Edad materna"
df[key] = None


df[key].mask(df[etiqueta] < 20, 1, inplace=True)
df[key].mask((df[etiqueta] >= 20) & (df[etiqueta] < 30), 2, inplace=True)
df[key].mask((df[etiqueta] >= 30) & (df[etiqueta] < 40), 3, inplace=True)
df[key].mask((df[etiqueta] >= 40) & (df[etiqueta] < 50), 4, inplace=True)
df[key].value_counts()

2    1051019
3     489239
1     359818
4      40058
Name: Edad materna, dtype: int64

# Edad paterna
Edades por decadas de vida de los que presentan malformaciones craneofaciales, ya sea en una sola columna o ambas.
menores de 20 años
20-29
30-39
40-49
mayores o igual a 50

In [ ]:
etiqueta = 'EDADPADRE'
key = "Edad paterna"
df[key] = None
df[key].value_counts()

Series([], Name: Edad paterna, dtype: int64)

# Numero de embarazos
Primigesta (1 embarazo)
Multigesta (2 a 5 embarazos)
Gran multigesta (6 o más embarazos)

In [ ]:
etiqueta = 'NUMEROEMBARAZOS'
key = "Numero de embarazos"
df[key] = None


df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask((df[etiqueta] >= 2) & (df[etiqueta] < 6), 2, inplace=True)
df[key].mask(df[etiqueta] >= 6, 4, inplace=True)
df[key].value_counts()

2    1208804
1     691906
4      39946
Name: Numero de embarazos, dtype: int64

#Hijos nacidos muertos
Sí o no

In [ ]:
etiqueta = 'HIJOSNACIDOSMUERTOS'
key = "Hijos nacidos muertos"
df[key] = None

df[key].mask(df[etiqueta] >= 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 0, 2, inplace=True)
df[key].value_counts()

2    1636486
1     304170
Name: Hijos nacidos muertos, dtype: int64

# Madre sobrevivio parto SOBREVIVIOPARTO
* Si 1
* No 2
* no aplica, se ignora, no especificado 0, 8, 9

In [ ]:
etiqueta = 'SOBREVIVIOPARTO'
no_especificado = [0, 8, 9]

key = "Madre sobrevivio al parto"
df[key] = None

df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask(df[etiqueta].isin(no_especificado), 3, inplace=True)
df[key].value_counts()

1    1939490
3       1053
2        113
Name: Madre sobrevivio al parto, dtype: int64

#Madre recibio atencion prenatal
* Si 1
* No 2
* no aplica, se ignora, no especificado 0, 8, 9

In [ ]:
etiqueta = 'ATENCIONPRENATAL'
no_especificado = [0, 8, 9]
key = "Madre recibio atencion prenatal"
df[key] = None

df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask(df[etiqueta].isin(no_especificado), 3, inplace=True)
df[key].value_counts()

1    1892419
2      42987
3       5250
Name: Madre recibio atencion prenatal, dtype: int64

#Trimestre de primer consulta
Trimestre 1
Trimestre 2
Trimestre 3

In [ ]:
etiqueta = 'TRIMESTREPRIMERCONSULTA'
key = "Trimestre de la primera consulta"
df[key] = None

df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask(df[etiqueta] == 3, 3, inplace=True)
df[key].value_counts()

1    1483361
2     335736
3      57611
Name: Trimestre de la primera consulta, dtype: int64

# Total de consulta durante el embarazo
Suficiente (5 o mas citas)
Insuficiente (1-4 citas)
No recibió (0 citas)

In [ ]:
etiqueta = 'TOTALCONSULTAS'
key = "Total numero de consultas embarazo"
df[key] = None

df[key].mask(df[etiqueta] == 0, 1, inplace=True)
df[key].mask((df[etiqueta] >= 1) & (df[etiqueta] < 5), 2, inplace=True)
df[key].mask(df[etiqueta] >= 5, 3, inplace=True)
df[key].value_counts()

3    1657359
2     240301
1      42996
Name: Total numero de consultas embarazo, dtype: int64

# Numeros de consultas durante el embarazo
0
1
2
3
4
5
Más de 5

In [ ]:
etiqueta = 'TOTALCONSULTAS'
key = "Trimestre de la primera consulta 2"
df[key] = None

df[key].mask(df[etiqueta] == 0, 0, inplace=True)
df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask(df[etiqueta] == 3, 3, inplace=True)
df[key].mask(df[etiqueta] == 4, 4, inplace=True)
df[key].mask(df[etiqueta] >= 5, 5, inplace=True)
df[key].value_counts()

5    1657359
4     115778
3      66195
0      42996
2      36223
1      22105
Name: Trimestre de la primera consulta 2, dtype: int64

#Escolaridad materna
Ninguno (0, 1, 32, 88, 99)
Primaria completa (31, 52, 112)
Secundaria completa (51, 72)
Bachillerato o preparatoria completa (71, 82)
Licenciatura completa (81, 102)
Posgrado (101)
Tecnico terminal (111, 131, 132)

In [ ]:
etiqueta = 'ESCOLARIDAD'
ninguno = [0, 1, 32, 88, 99]
primaria_completa = [31, 52, 112]
secundaria_completa = [51, 72]
bachiller = [71, 82]
licenciatura = [81, 102]
posgrado = [101]
tecnico = [111, 131, 132]
key = "Escolaridad materna"
df[key] = None
df[key].mask(df[etiqueta].isin(ninguno), 0, inplace=True)
df[key].mask(df[etiqueta].isin(primaria_completa), 1, inplace=True)
df[key].mask(df[etiqueta].isin(secundaria_completa), 2, inplace=True)
df[key].mask(df[etiqueta].isin(bachiller), 3, inplace=True)
df[key].mask(df[etiqueta].isin(licenciatura), 4, inplace=True)
df[key].mask(df[etiqueta].isin(posgrado), 5, inplace=True)
df[key].mask(df[etiqueta].isin(tecnico), 5, inplace=True)
df[key].value_counts()

0    56168
Name: Escolaridad materna, dtype: int64

# Entidad federativa de parto ENTIDADFEDERATIVAPARTO
df.agg(['count', 'size', 'nunique'])

# Sexo del recien nacido SEXO
* Hombre 1
* mujer 2
* no especificado 0,9

In [ ]:
etiqueta = 'SEXO'
key = "Escolaridad materna"
df[key] = None
df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)

df[key].mask((df[etiqueta] == 0) | (df[etiqueta] == 9), 3, inplace=True)
df[key].value_counts()

1    987679
2    951465
3      1512
Name: Escolaridad materna, dtype: int64

# Edad gestacional EDADGESTACIONAL
* pretermino =<36 semanas
* termino 37-41 semanas
* postermino =>42 semanas

In [ ]:
etiqueta = 'EDADGESTACIONAL'
key = "Edad gestacional"
df[key] = None
df[key].mask(df[etiqueta] <= 36, 1, inplace=True)
df[key].mask((df[etiqueta] > 36) & (df[etiqueta] < 42), 2, inplace=True)
df[key].mask(df[etiqueta] >= 42, 3, inplace=True)
df[key].value_counts()

2    1779460
1     141582
3      19614
Name: Edad gestacional, dtype: int64

# Peso del recien nacido PESO
* bajo peso =<2499gr
* normopeso 2500-3999gr
* macrosomico =>4000 gr

In [ ]:
etiqueta = 'PESO'
key = "Peso del nacido vivo"
df[key] = None
df[key].mask(df[etiqueta] < 2500, 1, inplace=True)
df[key].mask((df[etiqueta] >= 2500) & (df[etiqueta] < 4000), 2, inplace=True)
df[key].mask(df[etiqueta] >= 4000, 3, inplace=True)
df[key].value_counts()

2    1676037
3     137428
1     127191
Name: Peso del nacido vivo, dtype: int64

# Puntaje escala APGAR a los 5 minutos de recien nacido con MCF APGAR
* Normal 7-10 puntos
* Depresion moderada 4-6 puntos
* Depresion severa 0-3 puntos

In [ ]:
etiqueta = 'APGAR'
key = "Puntaje apgar"
df[key] = None
df[key].mask((df[etiqueta] >= 7) & (df[etiqueta] <= 10), 1, inplace=True)
df[key].mask((df[etiqueta] >= 4) & (df[etiqueta] <= 6), 2, inplace=True)
df[key].mask((df[etiqueta] >= 0) & (df[etiqueta] <= 3), 3, inplace=True)
df[key].value_counts()

1    1904890
3      13103
2      10001
Name: Puntaje apgar, dtype: int64

# Puntaje escala Silverman Anderson en recien nacidos con MCF SILVERMAN
* sin dificultad respiratoria
* dificultad respiratoria leve 1-3 puntos
* dificultad respiratoria moderada 4-6 puntos
* dificultad respiratoria severa 7-10 puntos

In [ ]:
etiqueta = 'SILVERMAN'
key = "Puntaje silverman"
df[key] = None
df[key].mask(df[etiqueta] == 0, 0, inplace=True)
df[key].mask((df[etiqueta] >= 1) & (df[etiqueta] <= 3), 1, inplace=True)
df[key].mask((df[etiqueta] >= 4) & (df[etiqueta] <= 6), 2, inplace=True)
df[key].mask((df[etiqueta] >= 7) & (df[etiqueta] <= 10), 3, inplace=True)
df[key].value_counts()

0    1727772
1     167522
3      19713
2       8609
Name: Puntaje silverman, dtype: int64

# Procedimiento utilizado para resolucion del embarazo RESOLUCIONEMBARAZO
* no especificado 0
* eutocico 1
* distocico 2
* cesarea 3
* otro 8

In [ ]:
etiqueta = 'RESOLUCIONEMBARAZO'
key = "Procedimiento para resolucion"
df[key] = None
df[key].mask(df[etiqueta] == 0, 5, inplace=True)
df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask(df[etiqueta] == 3, 3, inplace=True)
df[key].mask(df[etiqueta] == 4, 8, inplace=True)

df[key].value_counts()

1    1000460
2     913518
8      20272
3       2802
Name: Procedimiento para resolucion, dtype: int64

# FECHANACIMIENTO
Actualizar para solo usar el mes y el año

Sería
- 2018 (1)
- 2019 (2)
- 2020 (3)
- 2021 (4)
- 2022 (5)

In [ ]:
etiqueta = 'FECHANACIMIENTO'
df[etiqueta]

0          13/08/2018
1          13/08/2018
2          13/08/2018
3          13/08/2018
4          13/08/2018
              ...
1940651    10/01/2018
1940652    10/01/2018
1940653    10/01/2018
1940654    01/05/2018
1940655    01/05/2018
Name: FECHANACIMIENTO, Length: 1940656, dtype: object

In [ ]:
etiqueta = 'fecha nacimiento'
df[etiqueta] = pd.to_datetime(df['FECHANACIMIENTO'], format='%d/%m/%Y').dt.strftime('%m/%Y')
key = 'Year'
format = '01/01/' + year
df[key] = None
df[key].mask(df[etiqueta] >= format, 1, inplace=True)
df[key].value_counts()

1    1940656
Name: Year, dtype: int64

In [ ]:
fileName = '/content/drive/My Drive/Colab Notebooks/miriam/' + year + '_nacimientos_clean.csv'
df.to_csv(fileName, index=False)