<a href="https://colab.research.google.com/github/tlacloc/analisis-defunciones-nacimientos-2022/blob/main/2018_nacimientos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 # Libreria para cargar nuestro drive
from google.colab import drive

# Cargamos nuestro drive en nuestro notebook
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!ls "/content/drive/MyDrive/Colab Notebooks"

'Copy of SDC11_actividad1_Badillo_Casanova.ipynb'   SDC_12		 test.ipynb
'EVC Hackathon Files'				    SDC_13		 Untitled0.ipynb
 Image						    SDC_14		 Untitled1.ipynb
 miriam						    SDC_15		 Vero
 SCD_12_Erick_Casanova.ipynb			    test-forvero.ipynb	 Visualizacion

In [3]:
# Librerias de ayuda
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind
import matplotlib.pyplot as plt
import seaborn as sns

year = '2018'
year_key = {
    '2022': 5,
    '2021': 4,
    '2020': 3,
    '2019': 2,
    '2018': 1
}

In [4]:
fileName = '/content/drive/My Drive/Colab Notebooks/miriam/nacimientos_' + year + '.csv'
df = pd.read_csv(fileName, low_memory=False)
df.head(10)

,Unnamed: 0,CEDOCVE,ENT_NACM,MPO_NACM,FECH_NACM,EDADM,CON_INDM,HABLA_INDM,CUAL_LENGM,EDOCIVIL,...,TIPOVIAL_CERT,TIPOASEN_CERT,ENT_CERT,MPO_CERT,LOC_CERT,FECH_CERT,FECH_ALTA,FECH_CAMB,IDCAPTURA,TIPO_FORMATO
0,1,19,30,999,10/09/1998,19,2,2,9999,15,...,3,0,19,6,1,13/08/2018,17/08/2018,NaN,NaN,2015.0
1,2,19,24,13,08/01/1995,23,1,2,9999,11,...,3,0,19,6,1,13/08/2018,29/08/2018,NaN,NaN,2015.0
2,3,19,19,46,19/06/1990,28,2,2,9999,15,...,3,0,19,6,1,13/08/2018,17/08/2018,NaN,NaN,2015.0
3,4,19,30,999,12/02/1995,23,2,2,9999,15,...,3,0,19,6,1,13/08/2018,30/10/2018,NaN,NaN,2015.0
4,5,19,19,39,05/11/1994,23,2,2,9999,11,...,3,0,19,6,1,13/08/2018,30/10/2018,NaN,NaN,2015.0
5,6,19,19,39,27/02/1992,26,2,2,9999,11,...,3,0,19,6,1,13/08/2018,20/08/2018,NaN,NaN,2015.0
6,7,19,19,26,04/11/1993,24,1,2,9999,99,...,3,0,19,6,1,13/08/2018,29/08/2018,NaN,NaN,2015.0
7,8,19,30,94,13/06/1981,37,2,2,9999,15,...,3,0,19,6,1,13/08/2018,30/10/2018,NaN,NaN,2015.0
8,9,19,12,999,26/01/1992,26,2,2,9999,11,...,3,7,19,39,1,18/09/2018,10/06/2018,NaN,1.0,2015.0
9,10,19,19,39,16/12/1994,23,2,2,9999,11,...,3,7,19,39,1,19/09/2018,10/06/2018,NaN,1.0,2015.0

In [5]:
oldColumns = df.columns
oldColumns

Index(['Unnamed: 0', 'CEDOCVE', 'ENT_NACM', 'MPO_NACM', 'FECH_NACM', 'EDADM',
       'CON_INDM', 'HABLA_INDM', 'CUAL_LENGM', 'EDOCIVIL', 'TIPOVIAL_RES',
       'TIPOASEN_RES', 'ENT_RES', 'MPO_RES', 'LOC_RES', 'NUM_EMB',
       'NUM_NACMTO', 'NUM_NACVIVO', 'HIJO_SOBV', 'HIJO_ANTE', 'VIVE_AUN',
       'ORDEN_NAC', 'ATEN_PREN', 'TRIM_CONS', 'TOT_CONS', 'SOB_PARTO',
       'DERHAB', 'DERHAB2', 'NIV_ESCOL', 'OCUPHAB', 'CVEOCUPHAB', 'TRAB_ACT',
       'FECH_NACH', 'HORA_NACH', 'SEXOH', 'GESTACH', 'TALLAH', 'PESOH',
       'APGARH', 'SILVERMAN', 'BCG', 'HEP_B', 'VIT_A', 'VIT_K', 'TAM_AUD',
       'PRODUCTO', 'ACELRN', 'CVE_CIE', 'ACELRN2', 'CVE_CIE2', 'PROCNAC',
       'FORCEPS', 'ESPECIFIQUE', 'INST_NAC', 'UNIMED', 'CLUES', 'ATENDIO',
       'ATEN_OTRO', 'TIPOVIAL_NAC', 'TIPOASEN_NAC', 'ENT_NAC', 'MPO_NAC',
       'LOC_NAC', 'CERT_POR', 'OTROMEDICO', 'UNIMED_33_1', 'CLUES_33_2',
       'TIPOVIAL_CERT', 'TIPOASEN_CERT', 'ENT_CERT', 'MPO_CERT', 'LOC_CERT',
       'FECH_CERT', 'FECH_ALTA', 'FECH_CAMB', 'IDCAPTURA', 'TIPO_FORMATO'],
      dtype='object')

Renombrando columnas para relacionarlas con los a~os mas actuales

In [6]:
df.rename(columns = {'TAM_AUD':'TAMIZAUDITIVO'}, inplace = True)
df.rename(columns = {'HIJO_SOBV':'HIJOSSOBREVIVIENTES'}, inplace = True)
df.rename(columns = {'FECH_NACH':'FECHANACIMIENTO'}, inplace = True)
df.rename(columns = {'ORDEN_NAC':'ORDENNACIMIENTO'}, inplace = True)
df.rename(columns = {'ENT_NAC':'ENTIDADNACIMIENTO'}, inplace = True)
df.rename(columns = {'MPO_NACM':'MUNICIPIONACIMIENTO'}, inplace = True)
df.rename(columns = {'CON_INDM':'SECONSIDERAINDIGENA'}, inplace = True)
df.rename(columns = {'HABLA_INDM':'HABLALENGUAINDIGENA'}, inplace = True)
df.rename(columns = {'FECH_NACM':'FECHANACIMIENTOMADRE'}, inplace = True)
df.rename(columns = {'EDOCIVIL':'ESTADOCONYUGAL'}, inplace = True)
df.rename(columns = {'ENT_RES':'ENTIDADRESIDENCIA'}, inplace = True)
df.rename(columns = {'MPO_RES':'MUNICIPIORESIDENCIA'}, inplace = True)
df.rename(columns = {'LOC_RES':'LOCALIDADRESIDENCIA'}, inplace = True)
df.rename(columns = {'NUM_NACVIVO':'HIJOSNACIDOSVIVOS'}, inplace = True)
df.rename(columns = {'HIJO_ANTE':'CONDICIONHIJOANTERIOR'}, inplace = True)
df.rename(columns = {'VIVE_AUN':'VIVEHIJOANTERIOR'}, inplace = True)
df.rename(columns = {'CVEOCUPHAB':'CLAVEOCUPACIONHABITUAL'}, inplace = True)
df.rename(columns = {'TRAB_ACT':'TRABAJAACTUALMENTE'}, inplace = True)
df.rename(columns = {'HORA_NACH':'HORANACIMIENTO'}, inplace = True)
df.rename(columns = {'BCG':'VACUNA_BCG'}, inplace = True)
df.rename(columns = {'HEP_B':'VACUNAHEPATITIS_B'}, inplace = True)
df.rename(columns = {'VIT_A':'VITAMINA_A'}, inplace = True)
df.rename(columns = {'VIT_K':'VITAMINA_K'}, inplace = True)
df.rename(columns = {'PRODUCTO':'PRODUCTOEMBARAZO'}, inplace = True)
df.rename(columns = {'CLUES':'CLUES'}, inplace = True)
df.rename(columns = {'FORCEPS':'UTILIZOFORCEPS'}, inplace = True)
df.rename(columns = {'FORCEPS':'TIPOCESAREA'}, inplace = True)
df.rename(columns = {'ATENDIO':'PERSONALATENDIO'}, inplace = True)
df.rename(columns = {'MPO_NAC':'MUNICIPIOPARTO'}, inplace = True)
df.rename(columns = {'LOC_NAC':'LOCALIDADPARTO'}, inplace = True)
df.rename(columns = {'CERT_POR':'CERTIFICADOPOR'}, inplace = True)
df.rename(columns = {'CLUES_33_2':'CLUESCERTIFICA'}, inplace = True)
df.rename(columns = {'ENT_CERT':'ENTIDADFEDERATIVACERTIFICA'}, inplace = True)
df.rename(columns = {'MPO_CERT':'MUNICIPIOCERTIFICA'}, inplace = True)
df.rename(columns = {'LOC_CERT':'LOCALIDADCERTIFICA'}, inplace = True)
df.rename(columns = {'FECH_CERT':'FECHACERTIFICADO'}, inplace = True)
df.rename(columns = {'INST_NAC':'LUGARNACIMIENTO'}, inplace = True)

In [7]:
oldColumns = df.columns
oldColumns

Index(['Unnamed: 0', 'CEDOCVE', 'ENT_NACM', 'MUNICIPIONACIMIENTO',
       'FECHANACIMIENTOMADRE', 'EDADM', 'SECONSIDERAINDIGENA',
       'HABLALENGUAINDIGENA', 'CUAL_LENGM', 'ESTADOCONYUGAL', 'TIPOVIAL_RES',
       'TIPOASEN_RES', 'ENTIDADRESIDENCIA', 'MUNICIPIORESIDENCIA',
       'LOCALIDADRESIDENCIA', 'NUM_EMB', 'NUM_NACMTO', 'HIJOSNACIDOSVIVOS',
       'HIJOSSOBREVIVIENTES', 'CONDICIONHIJOANTERIOR', 'VIVEHIJOANTERIOR',
       'ORDENNACIMIENTO', 'ATEN_PREN', 'TRIM_CONS', 'TOT_CONS', 'SOB_PARTO',
       'DERHAB', 'DERHAB2', 'NIV_ESCOL', 'OCUPHAB', 'CLAVEOCUPACIONHABITUAL',
       'TRABAJAACTUALMENTE', 'FECHANACIMIENTO', 'HORANACIMIENTO', 'SEXOH',
       'GESTACH', 'TALLAH', 'PESOH', 'APGARH', 'SILVERMAN', 'VACUNA_BCG',
       'VACUNAHEPATITIS_B', 'VITAMINA_A', 'VITAMINA_K', 'TAMIZAUDITIVO',
       'PRODUCTOEMBARAZO', 'ACELRN', 'CVE_CIE', 'ACELRN2', 'CVE_CIE2',
       'PROCNAC', 'UTILIZOFORCEPS', 'ESPECIFIQUE', 'LUGARNACIMIENTO', 'UNIMED',
       'CLUES', 'PERSONALATENDIO', 'ATEN_OTRO', 'TIPOVIAL_NAC', 'TIPOASEN_NAC',
       'ENTIDADNACIMIENTO', 'MUNICIPIOPARTO', 'LOCALIDADPARTO',
       'CERTIFICADOPOR', 'OTROMEDICO', 'UNIMED_33_1', 'CLUESCERTIFICA',
       'TIPOVIAL_CERT', 'TIPOASEN_CERT', 'ENTIDADFEDERATIVACERTIFICA',
       'MUNICIPIOCERTIFICA', 'LOCALIDADCERTIFICA', 'FECHACERTIFICADO',
       'FECH_ALTA', 'FECH_CAMB', 'IDCAPTURA', 'TIPO_FORMATO'],
      dtype='object')

In [8]:
df.rename(columns = {'EDADM':'EDAD'}, inplace = True)
df.rename(columns = {'NUM_EMB':'NUMEROEMBARAZOS'}, inplace = True)
df.rename(columns = {'NUM_NACMTO':'HIJOSNACIDOSMUERTOS'}, inplace = True)
df.rename(columns = {'ATEN_PREN':'ATENCIONPRENATAL'}, inplace = True)
df.rename(columns = {'TRIM_CONS':'TRIMESTREPRIMERCONSULTA'}, inplace = True)
df.rename(columns = {'TOT_CONS':'TOTALCONSULTAS'}, inplace = True)
df.rename(columns = {'SOB_PARTO':'SOBREVIVIOPARTO'}, inplace = True)
df.rename(columns = {'NIV_ESCOL':'ESCOLARIDAD'}, inplace = True)
df.rename(columns = {'SEXOH':'SEXO'}, inplace = True)
df.rename(columns = {'GESTACH':'EDADGESTACIONAL'}, inplace = True)
df.rename(columns = {'TALLAH':'TALLA'}, inplace = True)
df.rename(columns = {'PESOH':'PESO'}, inplace = True)
df.rename(columns = {'APGARH':'APGAR'}, inplace = True)
df.rename(columns = {'PRODUCTO':'PRODUCTOEMBARAZO'}, inplace = True)
df.rename(columns = {'CVE_CIE':'CODIGOCIEANOMALIA1'}, inplace = True)
df.rename(columns = {'CVE_CIE2':'CODIGOCIEANOMALIA2'}, inplace = True)
df.rename(columns = {'PROCNAC':'RESOLUCIONEMBARAZO'}, inplace = True)
df.rename(columns = {'ENT_NACM':'ENTIDADFEDERATIVAPARTO'}, inplace = True)

Variables que sd van a utilizar

In [9]:
# Limpieza de datos
# Se eliminaran las columnas que no se utilizaran
['ENTIDADFEDERATIVAPARTO', 'EDAD',
       'TIPOVIAL_RES', 'TIPOASEN_RES', 'NUMEROEMBARAZOS',
       'HIJOSNACIDOSMUERTOS', 'ATENCIONPRENATAL', 'TRIMESTREPRIMERCONSULTA',
       'TOTALCONSULTAS', 'SOBREVIVIOPARTO', 'DERHAB', 'DERHAB2', 'ESCOLARIDAD',
       'OCUPHAB', 'FECHANACIMIENTO', 'SEXO', 'EDADGESTACIONAL', 'TALLA',
       'PESO', 'APGAR', 'SILVERMAN', 'ACELRN', 'CODIGOCIEANOMALIA1', 'ACELRN2',
       'CODIGOCIEANOMALIA2', 'RESOLUCIONEMBARAZO', 'ESPECIFIQUE', 'UNIMED',
       'ATEN_OTRO', 'TIPOVIAL_NAC', 'TIPOASEN_NAC', 'OTROMEDICO',
       'UNIMED_33_1', 'TIPOVIAL_CERT', 'TIPOASEN_CERT', 'FECH_ALTA',
       'FECH_CAMB', 'IDCAPTURA', 'TIPO_FORMATO']
columnsToRemove = [
    "TAMIZAUDITIVO",
    "HIJOSSOBREVIVIENTES",
    # "FECHANACIMIENTO",
    "ENTIDADNACIMIENTO",
    "MUNICIPIONACIMIENTO",
    "SECONSIDERAINDIGENA",
    "HABLALENGUAINDIGENA",
    "FECHANACIMIENTOMADRE",
    "ESTADOCONYUGAL",
    "ENTIDADRESIDENCIA",
    "MUNICIPIORESIDENCIA",
    "LOCALIDADRESIDENCIA",
    "HIJOSNACIDOSVIVOS",
    "CONDICIONHIJOANTERIOR",
    "VIVEHIJOANTERIOR",
    "ORDENNACIMIENTO",
    "CLAVEOCUPACIONHABITUAL",
    "TRABAJAACTUALMENTE",
    "HORANACIMIENTO",
    "VACUNA_BCG",
    "VACUNAHEPATITIS_B",
    "VITAMINA_A",
    "VITAMINA_K",
    # Relacionado a gemelos
    # "PRODUCTOEMBARAZO",
    "CLUES",
    "UTILIZOFORCEPS",
    "PERSONALATENDIO",
    "MUNICIPIOPARTO",
    "LOCALIDADPARTO",
    "CERTIFICADOPOR",
    "CLUESCERTIFICA",
    "ENTIDADFEDERATIVACERTIFICA",
    "MUNICIPIOCERTIFICA",
    "LOCALIDADCERTIFICA",
    "FECHACERTIFICADO",
    "LUGARNACIMIENTO",
    'CEDOCVE',
    'CUAL_LENGM',
    'TIPOASEN_RES',
    'TIPOVIAL_RES',
    'DERHAB',
    'DERHAB2',
    'ATEN_OTRO', 'TIPOVIAL_NAC', 'TIPOASEN_NAC', 'OTROMEDICO',
    'UNIMED_33_1', 'TIPOVIAL_CERT', 'TIPOASEN_CERT', 'FECH_ALTA',
    'FECH_CAMB', 'IDCAPTURA', 'TIPO_FORMATO',
    'ESPECIFIQUE', 'UNIMED', 'ACELRN', 'ACELRN2'
]

df.drop(columnsToRemove, inplace=True, axis=1)

In [10]:
columnsToReview = df.columns
columnsToReview

Index(['Unnamed: 0', 'ENTIDADFEDERATIVAPARTO', 'EDAD', 'NUMEROEMBARAZOS',
       'HIJOSNACIDOSMUERTOS', 'ATENCIONPRENATAL', 'TRIMESTREPRIMERCONSULTA',
       'TOTALCONSULTAS', 'SOBREVIVIOPARTO', 'ESCOLARIDAD', 'OCUPHAB',
       'FECHANACIMIENTO', 'SEXO', 'EDADGESTACIONAL', 'TALLA', 'PESO', 'APGAR',
       'SILVERMAN', 'PRODUCTOEMBARAZO', 'CODIGOCIEANOMALIA1',
       'CODIGOCIEANOMALIA2', 'RESOLUCIONEMBARAZO'],
      dtype='object')

In [11]:
#df=df.drop(df[df['EDAD']==999].index)
#df=df.drop(df[df['EDAD']==888].index)
#df=df.drop(df[df['NUMEROEMBARAZOS']==99].index)
#df=df.drop(df[df['HIJOSNACIDOSMUERTOS']==99].index)
#df=df.drop(df[df['ATENCIONPRENATAL']==9].index)
#df=df.drop(df[df['TRIMESTREPRIMERCONSULTA']==9].index)
#df=df.drop(df[df['TOTALCONSULTAS']==99].index)
#df=df.drop(df[df['SOBREVIVIOPARTO']==9].index)
#df=df.drop(df[df['ESCOLARIDAD']==999].index)
#df=df.drop(df[df['EDADPADRE']==999].index)
#df=df.drop(df[df['SEXO']==99].index)
#df=df.drop(df[df['EDADGESTACIONAL']==99].index)
#df=df.drop(df[df['TALLA']==99].index)
#df=df.drop(df[df['PESO']==9999].index)
#df=df.drop(df[df['TALLA']==9].index)
#df=df.drop(df[df['APGAR']==99].index)
#df=df.drop(df[df['SILVERMAN']==99].index)
#df=df.drop(df[df['UTILIZOFORCEPS']==9].index)

In [12]:
df.head(10)

,Unnamed: 0,ENTIDADFEDERATIVAPARTO,EDAD,NUMEROEMBARAZOS,HIJOSNACIDOSMUERTOS,ATENCIONPRENATAL,TRIMESTREPRIMERCONSULTA,TOTALCONSULTAS,SOBREVIVIOPARTO,ESCOLARIDAD,...,SEXO,EDADGESTACIONAL,TALLA,PESO,APGAR,SILVERMAN,PRODUCTOEMBARAZO,CODIGOCIEANOMALIA1,CODIGOCIEANOMALIA2,RESOLUCIONEMBARAZO
0,1,30,19,2,0,1,2,99,1,2,...,2,40,51,2800,8,0,1,0000,0000,1
1,2,24,23,2,0,1,1,99,1,5,...,2,38,52,3650,9,0,1,0000,0000,2
2,3,19,28,4,0,1,1,10,1,7,...,2,40,50,3550,9,0,1,0000,0000,1
3,4,30,23,1,0,1,1,99,1,1,...,1,36,51,3050,9,0,1,0000,0000,1
4,5,19,23,1,0,1,2,99,1,8,...,1,39,55,3200,9,0,1,0000,0000,1
5,6,19,26,3,0,1,2,99,1,6,...,1,39,54,3500,9,2,1,0000,0000,2
6,7,19,24,3,0,1,1,10,1,7,...,1,38,50,3400,9,0,1,0000,0000,1
7,8,30,37,3,0,1,2,99,1,5,...,2,40,52,3000,9,0,1,0000,0000,1
8,9,12,26,1,0,1,1,13,1,7,...,1,38,53,3640,9,0,1,0000,0000,2
9,10,19,23,1,0,1,1,8,1,11,...,2,39,48,3060,9,0,1,0000,0000,2

# Variable: presencia o ausencia de Malformaciones Craneofaciales MCF
- Con MCF (1)
- Sin (0)

In [13]:
def update_codes(base_array):
  new_codes = []
  for value in base_array:
    for i in range(0, 10):
      new_codes.append(value[:-1] + str(i))

  return new_codes

In [14]:
codigos_mc = update_codes(['Q100', 'Q110', 'Q120', 'Q130', 'Q140', 'Q150', 'Q160', 'Q170', 'Q180', 'Q300', 'Q350', 'Q360', 'Q370', 'Q380'])

anomalias_mc = df['CODIGOCIEANOMALIA1'].isin(codigos_mc) | df['CODIGOCIEANOMALIA2'].isin(codigos_mc)

key = "MCC-General"

df[key] = None
df[key].mask((~df.CODIGOCIEANOMALIA1.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA2 == '9999'), None, inplace=True)
df[key].mask((~df.CODIGOCIEANOMALIA2.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA1 == '9999'), None, inplace=True)
df[key].mask(~df.CODIGOCIEANOMALIA1.isin(codigos_mc) & ~df.CODIGOCIEANOMALIA2.isin(codigos_mc), 0, inplace=True)
df[key].mask(df.CODIGOCIEANOMALIA1.isin(codigos_mc) | df.CODIGOCIEANOMALIA2.isin(codigos_mc), 1, inplace=True)
df[key].value_counts()

0    1936401
1       4255
Name: MCC-General, dtype: int64

## Variable categórica clasificación de MCF
- Oftalmológicas Q100 Q110 Q120 Q130 Q140 Q150
- Oído Q160 Q170
- Cara y cuello Q180
- Nariz Q300
- Lengua y boca Q380 Q350 Q360 Q370

Aqui se usan numeros primos para hacer la limpieza de datos

In [15]:
codigos_oftalmo = update_codes(['Q100', 'Q110', 'Q120', 'Q130', 'Q140', 'Q150'])
codigos_oido = update_codes(['Q160', 'Q170'])
codigos_cara_cuello = update_codes(['Q180'])
codigos_nariz = update_codes(['Q300'])
codigos_lengua_boca = update_codes(['Q380', 'Q350', 'Q360', 'Q370'])

mc_value = {
    'oftalmo': 1,
    'oido': 10,
    'cuello': 100,
    'nariz': 1000,
    'boca': 10000
}
mc_values = [1, 10, 100, 1000, 10000]

### Oftalmo

In [16]:
# Valores par oftalmo
value = mc_value['oftalmo']
key = "MC-1"
df[key] = 0
df[key].mask(df['CODIGOCIEANOMALIA1'].isin(codigos_oftalmo), value, inplace=True)

key = "MC-2"
df[key] = 0
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_oftalmo), value, inplace=True)

### Oido

In [17]:
# Valores par oido
value = mc_value['oido']
key = "MC-1"
df[key].mask(df['CODIGOCIEANOMALIA1'].isin(codigos_oido), value, inplace=True)

key = "MC-2"
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_oido), value, inplace=True)

### Cara y cuello

In [18]:
# Valores par cara y cuello
value = mc_value['cuello']
key = "MC-1"
df[key].mask(df['CODIGOCIEANOMALIA1'].isin(codigos_cara_cuello), value, inplace=True)

key = "MC-2"
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_cara_cuello), value, inplace=True)

### Nariz

In [19]:
# Valores para nariz
value = mc_value['nariz']
key = "MC-1"
df[key].mask(df['CODIGOCIEANOMALIA1'].isin(codigos_nariz), value, inplace=True)

key = "MC-2"
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_nariz), value, inplace=True)

### Lengua y boca

In [20]:
# Valores para lengua y boca
value = mc_value['boca']
key = "MC-1"
df[key].mask(df['CODIGOCIEANOMALIA1'].isin(codigos_lengua_boca), value, inplace=True)

key = "MC-2"
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_lengua_boca), value, inplace=True)


Descripcion de las categoricas (MC-1 es CODIGOCIEANOMALIA1, MC-2 es CODIGOCIEANOMALIA2)

In [21]:
key = "MC-1"
df[key].value_counts()

0        1936853
10          1831
10000       1672
100          162
1             82
1000          56
Name: MC-1, dtype: int64

In [22]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

10       1831
10000    1672
0         452
100       162
1          82
1000       56
Name: MC-1, dtype: int64

In [23]:
key = "MC-2"
df[key].value_counts()

0        1939540
10           512
10000        463
1             49
1000          48
100           44
Name: MC-2, dtype: int64

In [24]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

0        3139
10        512
10000     463
1          49
1000       48
100        44
Name: MC-2, dtype: int64

In [25]:
key = 'MC-G'
df[key] = None
df[key] = df[['MC-1', 'MC-2']].sum(axis=1)
df[key].value_counts()

0        1936401
10          1731
10000       1525
20000        278
20           270
100          170
1             97
1000          68
10010         39
110           14
1010          11
2              9
11000          9
11             8
200            8
2000           5
10001          4
1100           3
1001           3
10100          2
101            1
Name: MC-G, dtype: int64

In [26]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

10       1731
10000    1525
20000     278
20        270
100       170
1          97
1000       68
10010      39
110        14
1010       11
11000       9
2           9
11          8
200         8
2000        5
10001       4
1001        3
1100        3
10100       2
101         1
Name: MC-G, dtype: int64

## Variable categórica clasificación de MCF
- Oftalmológicas (1)
- Oído (2)
- Cara y cuello (3)
- Nariz (4)
- Lengua y boca (5)

In [27]:
key="MC-G2"
etiqueta = 'MC-G'

df[key] = None
df[key].mask(df[etiqueta] == mc_value['oftalmo'], 1, inplace=True)
df[key].mask(df[etiqueta] == mc_value['oido'], 2, inplace=True)
df[key].mask(df[etiqueta] == mc_value['cuello'], 3, inplace=True)
df[key].mask(df[etiqueta] == mc_value['nariz'], 4, inplace=True)
df[key].mask(df[etiqueta] == mc_value['boca'], 5, inplace=True)
df[key].mask(~df[etiqueta].isin(mc_values), 6, inplace=True)
df[key].mask(df[etiqueta] == 0, None, inplace=True)


df[key].value_counts()

2    1731
5    1525
6     664
3     170
1      97
4      68
Name: MC-G2, dtype: int64

In [28]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts().sum()

4255

# Dos malformaciones
- No tenga una segunda malformacion, solo la primera sea MC (0)
- Las dos malformaciones sean cranofaciales  (1)
- Que una sea segunda malformacion y otra de otro tipo (2)
- MCF y no se espeficifa (3)

In [29]:
key="S-MG"
df[key] = None
# estos solo checan los que si o si, tienen solo una malformacion
mcf_primera = (df.CODIGOCIEANOMALIA1.isin(codigos_mc) & (df.CODIGOCIEANOMALIA2 == '0000'))
mcf_segunda = (df.CODIGOCIEANOMALIA2.isin(codigos_mc) & (df.CODIGOCIEANOMALIA1 == '0000'))

# tenga dos mcf
mcf_primera_y_segunda = (df.CODIGOCIEANOMALIA1.isin(codigos_mc) & df.CODIGOCIEANOMALIA2.isin(codigos_mc))

# que tenga una mcf y otra mc != a mcf
mcf_primera_mc_segunda = ((df.CODIGOCIEANOMALIA1.isin(codigos_mc))  & (df.CODIGOCIEANOMALIA2 != '0000') & (~df.CODIGOCIEANOMALIA2.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA2 != '9999'))
mc_primera_mcf_segunda = ((df.CODIGOCIEANOMALIA2.isin(codigos_mc))  & (df.CODIGOCIEANOMALIA1 != '0000') & (~df.CODIGOCIEANOMALIA1.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA1 != '9999'))

# que tenga una mcf y la otra idk
mcf_primera_idk_segunda = ((df.CODIGOCIEANOMALIA1.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA2 == '9999'))
idk_primera_mcf_segunda = ((df.CODIGOCIEANOMALIA2.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA1 == '9999'))

df[key].mask(mcf_primera | mcf_segunda, 0, inplace=True)
df[key].mask(mcf_primera_y_segunda, 1, inplace=True)
df[key].mask(mcf_primera_mc_segunda | mc_primera_mcf_segunda, 2, inplace=True)
df[key].mask(mcf_primera_idk_segunda | idk_primera_mcf_segunda, 3, inplace=True)
df[key].value_counts()

0    2547
2     834
1     664
3     210
Name: S-MG, dtype: int64

In [30]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

0    2547
2     834
1     664
3     210
Name: S-MG, dtype: int64

In [31]:
df[(df.CODIGOCIEANOMALIA1.isin(codigos_mc) & (df.CODIGOCIEANOMALIA2 != '0000') & (df.CODIGOCIEANOMALIA2 != '9999')) | (df.CODIGOCIEANOMALIA2.isin(codigos_mc) & (df.CODIGOCIEANOMALIA1 != '0000') & (df.CODIGOCIEANOMALIA1 != '9999'))]

,Unnamed: 0,ENTIDADFEDERATIVAPARTO,EDAD,NUMEROEMBARAZOS,HIJOSNACIDOSMUERTOS,ATENCIONPRENATAL,TRIMESTREPRIMERCONSULTA,TOTALCONSULTAS,SOBREVIVIOPARTO,ESCOLARIDAD,...,PRODUCTOEMBARAZO,CODIGOCIEANOMALIA1,CODIGOCIEANOMALIA2,RESOLUCIONEMBARAZO,MCC-General,MC-1,MC-2,MC-G,MC-G2,S-MG
615,616,30,31,3,0,1,1,8,1,7,...,1,Q369,Q369,1,1,10000,10000,20000,6,1
815,816,22,30,4,1,1,1,8,1,5,...,1,Q369,Q379,2,1,10000,10000,20000,6,1
1027,1028,22,39,5,0,1,2,6,1,3,...,1,Q531,Q308,1,1,0,1000,1000,4,2
1364,1365,15,30,1,0,1,1,10,1,5,...,1,Q379,Q663,2,1,10000,0,10000,5,2
1566,1567,9,24,2,1,1,2,3,1,7,...,1,Q059,Q173,1,1,0,10,10,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1933630,1933631,1,25,3,1,1,1,7,1,7,...,1,Q039,Q379,2,1,0,10000,10000,5,2
1935501,1935502,31,21,1,0,1,1,8,1,5,...,1,P128,Q170,1,1,0,10,10,2,2
1935651,1935652,31,34,2,0,1,1,7,1,5,...,1,Q359,Q369,1,1,10000,10000,20000,6,1
1935849,1935850,31,27,3,0,1,1,6,1,3,...,1,Q369,Q385,1,1,10000,10000,20000,6,1
1937180,1937181,30,20,1,0,1,2,7,1,7,...,1,K070,Q383,2,1,0,10000,10000,5,2

# Edad materna
Edades por decadas de vida de los que presentan malformaciones craneofaciales, ya sea en una sola columna o ambas.
menores de 20 años
20-29
30-39
40-49
mayores o igual a 50

In [32]:
etiqueta = 'EDAD'
key = "Edad materna"
df[key] = None


df[key].mask(df[etiqueta] < 20, 1, inplace=True)
df[key].mask((df[etiqueta] >= 20) & (df[etiqueta] < 30), 2, inplace=True)
df[key].mask((df[etiqueta] >= 30) & (df[etiqueta] < 40), 3, inplace=True)
df[key].mask((df[etiqueta] >= 40) & (df[etiqueta] < 50), 4, inplace=True)
df[key].mask((df[etiqueta] >= 50) & (df[etiqueta] != 999), 5, inplace=True)
df[key].value_counts()

2    1051019
3     489239
1     359818
4      40058
5        204
Name: Edad materna, dtype: int64

In [33]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    2265
3    1142
1     722
4     125
Name: Edad materna, dtype: int64

## Tipo de producto del embarazo
- Único (1)
- Gemelar (2)
- Tres o más (3)

In [34]:
etiqueta = 'PRODUCTOEMBARAZO'
key = "Tipo producto"
df[key] = None
df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask(df[etiqueta] == 3, 3, inplace=True)
df[key].value_counts()

1    1903630
2      31243
3        856
Name: Tipo producto, dtype: int64

In [35]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

1    4180
2      65
Name: Tipo producto, dtype: int64

# Numero de embarazos
Primigesta (1 embarazo)
Multigesta (2 a 5 embarazos)
Gran multigesta (6 o más embarazos)

In [36]:
etiqueta = 'NUMEROEMBARAZOS'
key = "Numero de embarazos"
df[key] = None


df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask((df[etiqueta] >= 2) & (df[etiqueta] < 6), 2, inplace=True)
df[key].mask((df[etiqueta] >= 6) & (df[etiqueta] != 99), 3, inplace=True)
df[key].value_counts()

2    1208804
1     691906
3      39438
Name: Numero de embarazos, dtype: int64

In [37]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    2695
1    1485
3      73
Name: Numero de embarazos, dtype: int64

#Hijos nacidos muertos
- Ausente (0)
- Presente (1)

In [38]:
etiqueta = 'HIJOSNACIDOSMUERTOS'
key = "Hijos nacidos muertos"
df[key] = None

df[key].mask((df[etiqueta] >= 1) & (df[etiqueta] != 99), 1, inplace=True)
df[key].mask(df[etiqueta] == 0, 0, inplace=True)
df[key].value_counts()

0    1636486
1     298544
Name: Hijos nacidos muertos, dtype: int64

In [39]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

0    3451
1     789
Name: Hijos nacidos muertos, dtype: int64

# Madre sobrevivio parto SOBREVIVIOPARTO
* Si 1
* No 2
* no aplica, se ignora, no especificado 0, 8, 9

In [40]:
etiqueta = 'SOBREVIVIOPARTO'
no_especificado = [0, 8, 9]

key = "Madre sobrevivio al parto"
df[key] = None

df[key].mask(df[etiqueta] == 2, 0, inplace=True)
df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta].isin(no_especificado), 2, inplace=True)
df[key].value_counts()

1    1939490
2       1053
0        113
Name: Madre sobrevivio al parto, dtype: int64

In [41]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

1    4251
2       3
0       1
Name: Madre sobrevivio al parto, dtype: int64

#Madre recibio atencion prenatal
* Si 1
* No 2
* no aplica, se ignora, no especificado 0, 8, 9

In [42]:
etiqueta = 'ATENCIONPRENATAL'
no_especificado = [0, 8, 9]
key = "Madre recibio atencion prenatal"
df[key] = None

df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 0, inplace=True)
df[key].value_counts()

1    1892419
0      42987
Name: Madre recibio atencion prenatal, dtype: int64

In [43]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

1    4156
0      90
Name: Madre recibio atencion prenatal, dtype: int64

#Trimestre de primer consulta
Trimestre 1
Trimestre 2
Trimestre 3

In [44]:
etiqueta = 'TRIMESTREPRIMERCONSULTA'
key = "Trimestre de la primera consulta"
df[key] = None

df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask(df[etiqueta] == 3, 3, inplace=True)
df[key].value_counts()

1    1483361
2     335736
3      57611
Name: Trimestre de la primera consulta, dtype: int64

In [45]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

1    3249
2     751
3     122
Name: Trimestre de la primera consulta, dtype: int64

# Total de consulta durante el embarazo
Suficiente (5 o mas citas)
Insuficiente (1-4 citas)
No recibió (0 citas)

In [46]:
etiqueta = 'TOTALCONSULTAS'
key = "Total numero de consultas embarazo"
df[key] = None

df[key].mask(df[etiqueta] == 0, 0, inplace=True)
df[key].mask((df[etiqueta] >= 1) & (df[etiqueta] < 5), 1, inplace=True)
df[key].mask((df[etiqueta] >= 5) & (df[etiqueta] != 99), 2, inplace=True)
df[key].value_counts()

2    1627006
1     240301
0      42996
Name: Total numero de consultas embarazo, dtype: int64

In [47]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    3592
1     500
0      90
Name: Total numero de consultas embarazo, dtype: int64

#Escolaridad materna
Ninguno (0, 1, 32, 88, 99)
Primaria completa (31, 52, 112)
Secundaria completa (51, 72)
Bachillerato o preparatoria completa (71, 82)
Licenciatura completa (81, 102)
Posgrado (101)
Tecnico terminal (111, 131, 132)

In [48]:
etiqueta = 'ESCOLARIDAD'
ninguno = [1]
primaria = [2, 3, 4]
secundaria = [6, 5]
bachiller = [7, 11]
licenciatura = [8, 12]
posgrado = [10]
tecnico = [] # no hay tecnico
no_esp = [0, 88, 99]
key = "Escolaridad materna"
df[key] = None
df[key].mask(df[etiqueta].isin(ninguno), 0, inplace=True)
df[key].mask(df[etiqueta].isin(primaria), 1, inplace=True)
df[key].mask(df[etiqueta].isin(secundaria), 2, inplace=True)
df[key].mask(df[etiqueta].isin(bachiller), 3, inplace=True)
df[key].mask(df[etiqueta].isin(licenciatura), 4, inplace=True)
df[key].mask(df[etiqueta].isin(posgrado), 5, inplace=True)
df[key].mask(df[etiqueta].isin(no_esp), 7, inplace=True)
df[key].value_counts()

2    759611
3    514928
1    318364
4    271396
0     32300
7     23868
5     20189
Name: Escolaridad materna, dtype: int64

In [49]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    1659
3    1096
1     711
4     617
0      86
7      43
5      43
Name: Escolaridad materna, dtype: int64

# Entidad federativa de parto ENTIDADFEDERATIVAPARTO
df.agg(['count', 'size', 'nunique'])

In [50]:
key='ENTIDADFEDERATIVAPARTO'
df[key].mask(df[key] == 99, None, inplace=True)
df[key].value_counts()

15.0    196363
9.0     144617
30.0    138869
14.0    125116
21.0    124012
11.0    108147
7.0      89434
16.0     89329
20.0     83933
12.0     76700
19.0     68171
5.0      54161
24.0     53182
8.0      51541
25.0     50907
28.0     48573
27.0     45516
13.0     45366
26.0     39735
10.0     34411
31.0     33973
22.0     31553
32.0     30791
2.0      30318
17.0     24074
1.0      23549
29.0     21588
18.0     17992
23.0     13185
4.0      12736
6.0       9334
3.0       6743
34.0      4324
35.0      3015
33.0      2340
36.0        29
Name: ENTIDADFEDERATIVAPARTO, dtype: int64

In [51]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

15.0    466
9.0     400
14.0    363
30.0    319
21.0    278
11.0    252
20.0    204
16.0    173
12.0    167
22.0    148
1.0     129
7.0     129
5.0     105
8.0     105
31.0    104
24.0     92
13.0     88
28.0     75
32.0     66
25.0     62
29.0     57
19.0     57
27.0     53
10.0     50
26.0     50
17.0     49
4.0      44
2.0      37
18.0     34
23.0     25
6.0      23
3.0      22
34.0      6
35.0      5
33.0      4
Name: ENTIDADFEDERATIVAPARTO, dtype: int64

# Sexo del recien nacido SEXO
* Hombre 1
* mujer 2
* no especificado 0,9

In [52]:
etiqueta = 'SEXO'
key = "Escolaridad materna"
df[key] = None
df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask((df[etiqueta] == 0) | (df[etiqueta] == 9), 3, inplace=True)
df[key].value_counts()

1    987679
2    951465
3      1512
Name: Escolaridad materna, dtype: int64

In [53]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

1    2385
2    1868
3       2
Name: Escolaridad materna, dtype: int64

# Edad gestacional EDADGESTACIONAL
* pretermino =<36 semanas
* termino 37-41 semanas
* postermino =>42 semanas

In [54]:
etiqueta = 'EDADGESTACIONAL'
key = "Edad gestacional"
df[key] = None
df[key].mask(df[etiqueta] <= 36, 1, inplace=True)
df[key].mask((df[etiqueta] > 36) & (df[etiqueta] < 42), 2, inplace=True)
df[key].mask((df[etiqueta] >= 42) & (df[etiqueta] != 99), 3, inplace=True)
df[key].value_counts()

2    1779460
1     141582
3      16730
Name: Edad gestacional, dtype: int64

In [55]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    3595
1     610
3      42
Name: Edad gestacional, dtype: int64

# Peso del recien nacido PESO
* bajo peso =<2499gr
* normopeso 2500-3999gr
* macrosomico =>4000 gr

In [56]:
etiqueta = 'PESO'
key = "Peso del nacido vivo"
df[key] = None
df[key].mask(df[etiqueta] < 2500, 1, inplace=True)
df[key].mask((df[etiqueta] >= 2500) & (df[etiqueta] < 4000), 2, inplace=True)
df[key].mask((df[etiqueta] >= 4000) & (df[etiqueta] != 9999), 3, inplace=True)
df[key].value_counts()

2    1676037
1     127191
3      49706
Name: Peso del nacido vivo, dtype: int64

In [57]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    3320
1     484
3     112
Name: Peso del nacido vivo, dtype: int64

# Puntaje escala APGAR a los 5 minutos de recien nacido con MCF APGAR
* Normal 7-10 puntos
* Depresion moderada 4-6 puntos
* Depresion severa 0-3 puntos

In [58]:
etiqueta = 'APGAR'
key = "Puntaje apgar"
df[key] = None
df[key].mask((df[etiqueta] >= 7) & (df[etiqueta] <= 10), 1, inplace=True)
df[key].mask((df[etiqueta] >= 4) & (df[etiqueta] <= 6), 2, inplace=True)
df[key].mask((df[etiqueta] >= 0) & (df[etiqueta] <= 3), 3, inplace=True)
df[key].mask((df[etiqueta] == 99), 4, inplace=True)
df[key].value_counts()

1    1904890
3      13103
4      12662
2      10001
Name: Puntaje apgar, dtype: int64

In [59]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

1    4119
3      58
2      57
4      21
Name: Puntaje apgar, dtype: int64

# Puntaje escala Silverman Anderson en recien nacidos con MCF SILVERMAN
* sin dificultad respiratoria
* dificultad respiratoria leve 1-3 puntos
* dificultad respiratoria moderada 4-6 puntos
* dificultad respiratoria severa 7-10 puntos

In [60]:
etiqueta = 'SILVERMAN'
key = "Puntaje silverman"
df[key] = None
df[key].mask(df[etiqueta] == 0, 0, inplace=True)
df[key].mask((df[etiqueta] >= 1) & (df[etiqueta] <= 3), 1, inplace=True)
df[key].mask((df[etiqueta] >= 4) & (df[etiqueta] <= 6), 2, inplace=True)
df[key].mask((df[etiqueta] >= 7) & (df[etiqueta] <= 10), 3, inplace=True)
df[key].mask((df[etiqueta] == 99), 4, inplace=True)
df[key].value_counts()

0    1727772
1     167522
3      19713
4      17040
2       8609
Name: Puntaje silverman, dtype: int64

In [61]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

0    3450
1     684
2      48
4      44
3      29
Name: Puntaje silverman, dtype: int64

# Procedimiento utilizado para resolucion del embarazo RESOLUCIONEMBARAZO

* eutocico 1 - (1)
* distocico 4 - (2)
* cesarea 2 (3)
* otro 3, 8 (4)
* no especificado 9 (5)

In [62]:
etiqueta = 'RESOLUCIONEMBARAZO'
key = "Procedimiento para resolucion"
otro = [3, 8]
df[key] = None
df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask(df[etiqueta] == 3, 3, inplace=True)
df[key].mask(df[etiqueta].isin(otro), 4, inplace=True)
df[key].mask(df[etiqueta] == 9, 5, inplace=True)

df[key].value_counts()

1    1000460
2     913518
4       4078
5       2328
Name: Procedimiento para resolucion, dtype: int64

In [63]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    2280
1    1896
4      13
5       8
Name: Procedimiento para resolucion, dtype: int64

# FECHANACIMIENTO
Actualizar para solo usar el mes y el año

Sería
- 2018 (1)
- 2019 (2)
- 2020 (3)
- 2021 (4)
- 2022 (5)

In [64]:
etiqueta = 'FECHANACIMIENTO'
df[etiqueta]

0          13/08/2018
1          13/08/2018
2          13/08/2018
3          13/08/2018
4          13/08/2018
              ...
1940651    10/01/2018
1940652    10/01/2018
1940653    10/01/2018
1940654    01/05/2018
1940655    01/05/2018
Name: FECHANACIMIENTO, Length: 1940656, dtype: object

In [65]:
etiqueta = 'fecha nacimiento'
df[etiqueta] = pd.to_datetime(df['FECHANACIMIENTO'], format='%d/%m/%Y').dt.strftime('%m/%Y')
key = 'Year'
format = '01/01/' + year
df[key] = None
df[key].mask(df[etiqueta] >= format, year_key[year], inplace=True)
df[key].value_counts()

1    1940656
Name: Year, dtype: int64

In [66]:
fileName = '/content/drive/My Drive/Colab Notebooks/miriam/' + year + '_nacimientos_clean.csv'
df.to_csv(fileName, index=False)

# Analisis de datos

In [67]:
df['EDAD'].replace([999, 888], None)
df['NUMEROEMBARAZOS'].replace([99], None)
df['HIJOSNACIDOSMUERTOS'].replace([99], None)
df['ATENCIONPRENATAL'].replace([9], None)
df['TRIMESTREPRIMERCONSULTA'].replace([9], None)
df['TOTALCONSULTAS'].replace([99], None)
df['SOBREVIVIOPARTO'].replace([9], None)
df['ESCOLARIDAD'].replace([999], None)
df['SEXO'].replace([99], None)
df['EDADGESTACIONAL'].replace([99], None)
df['TALLA'].replace([99], None)
df['PESO'].replace([9999], None)
df['TALLA'].replace([9], None)
df['APGAR'].replace([99], None)
df['SILVERMAN'].replace([99], None)

0          0
1          0
2          0
3          0
4          0
          ..
1940651    0
1940652    0
1940653    0
1940654    0
1940655    0
Name: SILVERMAN, Length: 1940656, dtype: object

### Pacientes con MCF

In [68]:
label = "MCC-General"
df[df[label] == 1].describe().applymap('{:,.2f}'.format)

,Unnamed: 0,ENTIDADFEDERATIVAPARTO,EDAD,NUMEROEMBARAZOS,HIJOSNACIDOSMUERTOS,ATENCIONPRENATAL,TRIMESTREPRIMERCONSULTA,TOTALCONSULTAS,SOBREVIVIOPARTO,ESCOLARIDAD,...,EDADGESTACIONAL,TALLA,PESO,APGAR,SILVERMAN,PRODUCTOEMBARAZO,RESOLUCIONEMBARAZO,MC-1,MC-2,MC-G
count,"4,255.00","4,241.00","4,255.00","4,255.00","4,255.00","4,255.00","4,255.00","4,255.00","4,255.00","4,255.00",...,"4,255.00","4,255.00","4,255.00","4,255.00","4,255.00","4,255.00","4,255.00","4,255.00","4,255.00","4,255.00"
mean,"987,272.58",16.42,26.40,2.27,0.58,1.04,1.29,9.23,1.01,6.65,...,38.38,49.13,"3,587.07",9.18,1.40,1.03,1.60,"3,950.79","1,101.66","5,052.45"
std,"563,256.82",8.11,16.31,2.45,5.88,0.39,0.93,12.34,0.20,9.01,...,3.48,4.61,"1,958.14",6.41,10.03,0.41,0.67,"4,868.82","3,111.48","6,147.97"
min,616.00,1.00,13.00,1.00,0.00,1.00,0.00,0.00,1.00,1.00,...,20.00,22.00,280.00,0.00,0.00,1.00,1.00,0.00,0.00,1.00
25%,"497,916.50",11.00,21.00,1.00,0.00,1.00,1.00,6.00,1.00,5.00,...,38.00,48.00,"2,792.50",9.00,0.00,1.00,1.00,10.00,0.00,10.00
50%,"999,904.00",15.00,25.00,2.00,0.00,1.00,1.00,8.00,1.00,5.00,...,39.00,50.00,"3,120.00",9.00,0.00,1.00,2.00,10.00,0.00,100.00
75%,"1,465,315.00",22.00,31.00,3.00,0.00,1.00,1.00,10.00,1.00,7.00,...,40.00,51.00,"3,470.00",9.00,0.00,1.00,2.00,"10,000.00",10.00,"10,000.00"
max,"1,940,258.00",35.00,999.00,99.00,99.00,9.00,9.00,99.00,9.00,99.00,...,99.00,99.00,"9,999.00",99.00,99.00,9.00,9.00,"10,000.00","10,000.00","20,000.00"

In [69]:
df[df[label] == 1].mode(numeric_only=True)

,Unnamed: 0,ENTIDADFEDERATIVAPARTO,EDAD,NUMEROEMBARAZOS,HIJOSNACIDOSMUERTOS,ATENCIONPRENATAL,TRIMESTREPRIMERCONSULTA,TOTALCONSULTAS,SOBREVIVIOPARTO,ESCOLARIDAD,...,EDADGESTACIONAL,TALLA,PESO,APGAR,SILVERMAN,PRODUCTOEMBARAZO,RESOLUCIONEMBARAZO,MC-1,MC-2,MC-G
0,616,15.0,22.0,1.0,0.0,1.0,1.0,8.0,1.0,5.0,...,39.0,50.0,9999.0,9.0,0.0,1.0,2.0,10.0,0.0,10.0
1,816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4250,1936006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4251,1937181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4252,1937890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4253,1938591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4254,1940258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Malformación congénita craneofacial
- Ausente (1)
- Presente (2)

In [70]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(df[df[label] == 1].CODIGOCIEANOMALIA1.value_counts().add(df[df[label] == 1].CODIGOCIEANOMALIA2.value_counts(),fill_value=0).sort_values(ascending=False).to_markdown())

|      |    0 |
|:-----|-----:|
| 0000 | 2547 |
| Q170 |  905 |
| Q379 |  730 |
| Q369 |  639 |
| Q172 |  436 |
| Q174 |  392 |
| Q359 |  387 |
| Q173 |  310 |
| 9999 |  210 |
| Q381 |  117 |
| P071 |   83 |
| Q179 |   73 |
| Q161 |   70 |
| Q184 |   59 |
| Q181 |   55 |
| Q189 |   53 |
| Q372 |   52 |
| Q178 |   52 |
| Q164 |   42 |
| Q309 |   42 |
| P128 |   41 |
| Q160 |   41 |
| Q360 |   40 |
| P073 |   37 |
| Q385 |   35 |
| Q300 |   28 |
| Q668 |   28 |
| Q699 |   27 |
| Q103 |   26 |
| Q660 |   25 |
| P081 |   24 |
| Q308 |   23 |
| Q111 |   22 |
| Q531 |   22 |
| Q371 |   22 |
| Q188 |   20 |
| P835 |   20 |
| Q382 |   19 |
| Q120 |   18 |
| Q02X |   17 |
| Q158 |   17 |
| P229 |   17 |
| K070 |   16 |
| Q380 |   16 |
| Q039 |   15 |
| Q663 |   15 |
| Q386 |   14 |
| Q897 |   14 |
| Q909 |   14 |
| Q383 |   13 |
| Q652 |   13 |
| Q532 |   12 |
| Q423 |   12 |
| Q169 |   12 |
| Q709 |   11 |
| Q112 |   10 |
| Q249 |   10 |
| Q870 |   10 |
| Q828 |    9 |
| Q752 |    9 |
| Q753 |    9 |
| Q180 |    9 |
| Q105 |    8 |
| Q042 |    8 |
| P059 |    8 |
| P969 |    7 |
| Q650 |    7 |
| Q353 |    7 |
| Q670 |    7 |
| Q059 |    7 |
| Q378 |    7 |
| Q352 |    6 |
| Q674 |    6 |
| Q690 |    6 |
| Q351 |    6 |
| Q539 |    6 |
| Q171 |    6 |
| Q000 |    6 |
| P120 |    6 |
| Q301 |    5 |
| Q898 |    5 |
| P050 |    5 |
| Q899 |    5 |
| Q106 |    5 |
| Q666 |    5 |
| Q793 |    5 |
| Q792 |    5 |
| Q549 |    5 |
| Q019 |    5 |
| Q384 |    5 |
| Q374 |    4 |
| Q872 |    4 |
| P545 |    4 |
| P052 |    4 |
| P080 |    4 |
| P113 |    4 |
| D180 |    4 |
| Q761 |    4 |
| Q159 |    4 |
| Q742 |    4 |
| Q843 |    4 |
| Q107 |    4 |
| Q113 |    4 |
| Q361 |    3 |
| Q248 |    3 |
| Q370 |    3 |
| Q700 |    3 |
| Q390 |    3 |
| Q692 |    3 |
| Q373 |    3 |
| Q357 |    3 |
| Q302 |    3 |
| Q303 |    3 |
| Q681 |    3 |
| Q185 |    3 |
| Q658 |    3 |
| Q749 |    3 |
| Q759 |    3 |
| Q138 |    3 |
| Q133 |    3 |
| P220 |    3 |
| Q750 |    3 |
| Q031 |    3 |
| Q894 |    3 |
| Q182 |    3 |
| Q758 |    3 |
| Q833 |    3 |
| P942 |    3 |
| P072 |    3 |
| P701 |    3 |
| Q740 |    3 |
| P012 |    2 |
| P914 |    2 |
| Q101 |    2 |
| K429 |    2 |
| P284 |    2 |
| Q748 |    2 |
| Q781 |    2 |
| Q795 |    2 |
| Q206 |    2 |
| P369 |    2 |
| Q165 |    2 |
| Q704 |    2 |
| P026 |    2 |
| Q183 |    2 |
| P143 |    2 |
| Q892 |    2 |
| P032 |    2 |
| Q186 |    2 |
| P219 |    2 |
| Q355 |    2 |
| P221 |    2 |
| Q825 |    1 |
| Q829 |    1 |
| Q790 |    1 |
| Q839 |    1 |
| Q676 |    1 |
| Q831 |    1 |
| Q673 |    1 |
| Q70X |    1 |
| Q999 |    1 |
| Q672 |    1 |
| Q820 |    1 |
| Q718 |    1 |
| Q712 |    1 |
| Q669 |    1 |
| Q738 |    1 |
| Q680 |    1 |
| Q764 |    1 |
| Q682 |    1 |
| Q688 |    1 |
| Q728 |    1 |
| Q969 |    1 |
| Q754 |    1 |
| Q937 |    1 |
| Q859 |    1 |
| Q716 |    1 |
| Q730 |    1 |
| Q917 |    1 |
| Q913 |    1 |
| Q684 |    1 |
| Q269 |    1 |
| Q656 |    1 |
| P298 |    1 |
| P963 |    1 |
| P948 |    1 |
| P928 |    1 |
| P839 |    1 |
| P838 |    1 |
| P833 |    1 |
| P832 |    1 |
| P788 |    1 |
| P722 |    1 |
| P702 |    1 |
| P700 |    1 |
| P611 |    1 |
| P599 |    1 |
| P38X |    1 |
| P291 |    1 |
| Q012 |    1 |
| P289 |    1 |
| P271 |    1 |
| P209 |    1 |
| P158 |    1 |
| P134 |    1 |
| P083 |    1 |
| P034 |    1 |
| P029 |    1 |
| P011 |    1 |
| P005 |    1 |
| N47X |    1 |
| K009 |    1 |
| D487 |    1 |
| A539 |    1 |
| P968 |    1 |
| Q043 |    1 |
| Q640 |    1 |
| Q336 |    1 |
| Q639 |    1 |
| Q620 |    1 |
| Q611 |    1 |
| Q602 |    1 |
| Q600 |    1 |
| Q558 |    1 |
| Q555 |    1 |
| Q439 |    1 |
| Q438 |    1 |
| Q419 |    1 |
| Q400 |    1 |
| Q388 |    1 |
| Q37X |    1 |
| Q375 |    1 |
| Q289 |    1 |
| Q061 |    1 |
| Q258 |    1 |
| Q223 |    1 |
| Q213 |    1 |
| Q211 |    1 |
| Q208 |    1 |
| Q204 |    1 |
| Q175 |    1 |
| Q163 |    1 |
| Q150 |    1 |
| Q141 |    1 |
| Q139 |    1 |
| Q132 |    1 |
| Q104 |    1 |
| Q079 |    1 |
| R229 |    1 |

## MCF Categórica
- Oftalmológicas (1)
- Oído (2)
- Cara y cuello (3)
- Nariz (4)
- Lengua y boca (5)

In [71]:
label = "MC-G2"
mc_value = {
    'oftalmo': 1,
    'oido': 2,
    'cuello': 3,
    'nariz': 4,
    'boca': 5
}

#### Lista oftalmo

In [72]:
value = mc_value['oftalmo']
a = df[df[label] == value].CODIGOCIEANOMALIA1.value_counts()
b = df[df[label] == value].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False).to_markdown())

|      |   0 |
|:-----|----:|
| 0000 |  46 |
| Q103 |  16 |
| Q158 |  15 |
| Q120 |  15 |
| Q111 |  11 |
| P071 |   8 |
| Q112 |   8 |
| Q105 |   6 |
| 9999 |   5 |
| Q106 |   4 |
| Q159 |   4 |
| Q113 |   4 |
| Q138 |   3 |
| Q133 |   3 |
| Q909 |   3 |
| P128 |   3 |
| Q101 |   2 |
| Q660 |   2 |
| Q107 |   2 |
| Q039 |   2 |
| Q668 |   2 |
| Q539 |   2 |
| Q249 |   2 |
| Q870 |   1 |
| Q839 |   1 |
| Q532 |   1 |
| Q752 |   1 |
| Q790 |   1 |
| Q699 |   1 |
| Q670 |   1 |
| Q663 |   1 |
| Q897 |   1 |
| Q336 |   1 |
| Q132 |   1 |
| Q248 |   1 |
| Q150 |   1 |
| Q141 |   1 |
| Q139 |   1 |
| Q042 |   1 |
| P833 |   1 |
| P788 |   1 |
| P158 |   1 |
| P134 |   1 |
| P081 |   1 |
| P059 |   1 |
| P034 |   1 |
| P026 |   1 |
| A539 |   1 |
| Q917 |   1 |

#### Lista oido

In [73]:
value = mc_value['oido']
a = df[df[label] == value].CODIGOCIEANOMALIA1.value_counts()
b = df[df[label] == value].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False).to_markdown())

|      |    0 |
|:-----|-----:|
| 0000 | 1261 |
| Q170 |  684 |
| Q172 |  319 |
| Q174 |  311 |
| Q173 |  222 |
| 9999 |   96 |
| Q179 |   52 |
| P071 |   41 |
| Q178 |   39 |
| Q164 |   33 |
| Q161 |   30 |
| P128 |   28 |
| Q160 |   26 |
| Q668 |   19 |
| P073 |   16 |
| Q531 |   11 |
| Q652 |   11 |
| Q660 |   11 |
| Q699 |    9 |
| Q828 |    9 |
| P081 |    8 |
| Q169 |    7 |
| Q663 |    7 |
| K070 |    7 |
| Q909 |    6 |
| Q423 |    6 |
| P835 |    6 |
| P120 |    5 |
| Q870 |    5 |
| Q752 |    5 |
| Q690 |    4 |
| P113 |    4 |
| Q843 |    4 |
| P229 |    4 |
| Q02X |    4 |
| Q171 |    4 |
| P059 |    4 |
| Q674 |    4 |
| Q650 |    4 |
| Q740 |    3 |
| Q899 |    3 |
| Q872 |    3 |
| Q897 |    3 |
| Q059 |    3 |
| Q761 |    3 |
| Q709 |    3 |
| P969 |    3 |
| P545 |    3 |
| Q666 |    3 |
| Q692 |    3 |
| Q670 |    3 |
| Q249 |    3 |
| Q539 |    2 |
| Q532 |    2 |
| Q549 |    2 |
| D180 |    2 |
| Q750 |    2 |
| Q390 |    2 |
| Q742 |    2 |
| P032 |    2 |
| P701 |    2 |
| Q206 |    2 |
| Q753 |    2 |
| Q898 |    2 |
| P050 |    2 |
| P143 |    2 |
| P220 |    2 |
| Q165 |    2 |
| Q795 |    2 |
| Q758 |    2 |
| Q759 |    2 |
| Q793 |    2 |
| Q781 |    2 |
| Q829 |    1 |
| Q749 |    1 |
| Q831 |    1 |
| Q825 |    1 |
| Q859 |    1 |
| Q833 |    1 |
| Q704 |    1 |
| Q820 |    1 |
| Q700 |    1 |
| Q712 |    1 |
| Q681 |    1 |
| Q718 |    1 |
| Q728 |    1 |
| Q754 |    1 |
| Q684 |    1 |
| Q419 |    1 |
| Q680 |    1 |
| P271 |    1 |
| P948 |    1 |
| P839 |    1 |
| P838 |    1 |
| P702 |    1 |
| P700 |    1 |
| P291 |    1 |
| P289 |    1 |
| P072 |    1 |
| Q039 |    1 |
| P052 |    1 |
| P026 |    1 |
| P012 |    1 |
| P011 |    1 |
| N47X |    1 |
| K429 |    1 |
| K009 |    1 |
| Q031 |    1 |
| Q061 |    1 |
| Q676 |    1 |
| Q439 |    1 |
| Q672 |    1 |
| Q669 |    1 |
| Q658 |    1 |
| Q656 |    1 |
| Q639 |    1 |
| Q620 |    1 |
| Q611 |    1 |
| Q438 |    1 |
| Q163 |    1 |
| Q400 |    1 |
| Q289 |    1 |
| Q269 |    1 |
| Q258 |    1 |
| Q208 |    1 |
| Q204 |    1 |
| Q175 |    1 |
| R229 |    1 |

Lista cuello

In [74]:
value = mc_value['cuello']
a = df[df[label] == value].CODIGOCIEANOMALIA1.value_counts()
b = df[df[label] == value].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False).to_markdown())

|      |   0 |
|:-----|----:|
| 0000 | 116 |
| Q184 |  51 |
| Q181 |  48 |
| Q189 |  39 |
| Q188 |  15 |
| 9999 |  13 |
| P081 |   8 |
| Q180 |   8 |
| P071 |   3 |
| Q185 |   3 |
| Q182 |   3 |
| P080 |   2 |
| P128 |   2 |
| Q183 |   2 |
| P073 |   2 |
| Q531 |   2 |
| P835 |   2 |
| P229 |   2 |
| Q670 |   1 |
| Q223 |   1 |
| Q681 |   1 |
| Q688 |   1 |
| Q761 |   1 |
| Q892 |   1 |
| Q660 |   1 |
| Q666 |   1 |
| P083 |   1 |
| K070 |   1 |
| K429 |   1 |
| Q186 |   1 |
| Q019 |   1 |
| Q000 |   1 |
| P928 |   1 |
| P832 |   1 |
| P298 |   1 |
| P209 |   1 |
| Q898 |   1 |

Lista nariz

In [75]:
value = mc_value['nariz']
a = df[df[label] == value].CODIGOCIEANOMALIA1.value_counts()
b = df[df[label] == value].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False).to_markdown())

|      |   0 |
|:-----|----:|
| Q309 |  29 |
| 0000 |  28 |
| Q300 |  21 |
| Q308 |  11 |
| P071 |   7 |
| 9999 |   6 |
| Q301 |   5 |
| Q02X |   3 |
| Q752 |   2 |
| P073 |   2 |
| Q668 |   2 |
| P081 |   1 |
| Q531 |   1 |
| Q870 |   1 |
| Q833 |   1 |
| Q758 |   1 |
| Q709 |   1 |
| Q699 |   1 |
| Q650 |   1 |
| Q640 |   1 |
| D487 |   1 |
| P128 |   1 |
| K070 |   1 |
| Q303 |   1 |
| Q302 |   1 |
| P059 |   1 |
| P969 |   1 |
| P835 |   1 |
| P722 |   1 |
| P599 |   1 |
| Q909 |   1 |

Lista lengua y boca

In [76]:
value = mc_value['boca']
a = df[df[label] == value].CODIGOCIEANOMALIA1.value_counts()
b = df[df[label] == value].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False).to_markdown())

|      |    0 |
|:-----|-----:|
| 0000 | 1096 |
| Q379 |  556 |
| Q369 |  464 |
| Q359 |  222 |
| Q381 |   95 |
| 9999 |   90 |
| Q372 |   42 |
| Q360 |   32 |
| P071 |   24 |
| Q385 |   22 |
| P073 |   17 |
| Q699 |   16 |
| Q382 |   16 |
| Q371 |   13 |
| Q039 |   12 |
| Q660 |   11 |
| P229 |   11 |
| Q383 |   11 |
| P835 |   11 |
| Q380 |   10 |
| Q897 |   10 |
| Q02X |   10 |
| Q386 |    9 |
| Q532 |    9 |
| Q531 |    8 |
| Q042 |    7 |
| K070 |    7 |
| Q753 |    7 |
| P128 |    7 |
| Q663 |    7 |
| Q709 |    7 |
| Q353 |    6 |
| Q423 |    6 |
| P081 |    6 |
| Q351 |    5 |
| Q249 |    5 |
| Q384 |    5 |
| Q000 |    5 |
| Q668 |    5 |
| Q792 |    5 |
| Q059 |    4 |
| Q352 |    4 |
| Q019 |    4 |
| Q909 |    4 |
| Q793 |    3 |
| Q549 |    3 |
| Q374 |    3 |
| P050 |    3 |
| P052 |    3 |
| P969 |    3 |
| Q894 |    3 |
| P942 |    3 |
| Q870 |    3 |
| Q742 |    2 |
| Q650 |    2 |
| Q748 |    2 |
| Q658 |    2 |
| Q670 |    2 |
| Q539 |    2 |
| Q674 |    2 |
| Q700 |    2 |
| Q652 |    2 |
| D180 |    2 |
| Q749 |    2 |
| P914 |    2 |
| P059 |    2 |
| P072 |    2 |
| P080 |    2 |
| P219 |    2 |
| Q899 |    2 |
| P221 |    2 |
| P284 |    2 |
| P369 |    2 |
| Q898 |    2 |
| Q690 |    2 |
| Q357 |    2 |
| Q361 |    2 |
| Q031 |    2 |
| Q373 |    2 |
| Q248 |    2 |
| Q969 |    1 |
| Q704 |    1 |
| Q937 |    1 |
| Q913 |    1 |
| Q752 |    1 |
| Q70X |    1 |
| Q872 |    1 |
| Q892 |    1 |
| Q759 |    1 |
| Q764 |    1 |
| Q716 |    1 |
| Q730 |    1 |
| Q750 |    1 |
| Q833 |    1 |
| Q738 |    1 |
| Q37X |    1 |
| Q682 |    1 |
| Q681 |    1 |
| P005 |    1 |
| P012 |    1 |
| P029 |    1 |
| P120 |    1 |
| P220 |    1 |
| P38X |    1 |
| P545 |    1 |
| P611 |    1 |
| P701 |    1 |
| P963 |    1 |
| P968 |    1 |
| Q012 |    1 |
| Q043 |    1 |
| Q079 |    1 |
| Q211 |    1 |
| Q213 |    1 |
| Q355 |    1 |
| Q370 |    1 |
| Q375 |    1 |
| Q378 |    1 |
| Q390 |    1 |
| Q555 |    1 |
| Q558 |    1 |
| Q600 |    1 |
| Q602 |    1 |
| Q666 |    1 |
| Q673 |    1 |
| Q999 |    1 |

In [77]:
label="S-MG"
a = df[(df[label] == 1) | (df[label] == 2)].CODIGOCIEANOMALIA1.value_counts()
b = df[(df[label] == 1) | (df[label] == 2)].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False))

Q170    342.0
Q379    299.0
Q359    235.0
Q369    232.0
Q172    176.0
Q173    163.0
Q174    138.0
P071     83.0
Q161     54.0
Q381     43.0
P128     41.0
Q179     37.0
P073     37.0
Q160     29.0
Q668     28.0
Q699     27.0
Q189     26.0
Q660     25.0
P081     24.0
Q309     24.0
Q385     24.0
Q372     23.0
Q531     22.0
Q184     21.0
Q178     21.0
P835     20.0
Q111     20.0
Q308     20.0
Q103     19.0
Q300     18.0
Q02X     17.0
P229     17.0
K070     16.0
Q039     15.0
Q164     15.0
Q181     15.0
Q663     15.0
Q909     14.0
Q897     14.0
Q652     13.0
Q382     13.0
Q360     13.0
Q423     12.0
Q158     12.0
Q532     12.0
Q371     12.0
Q709     11.0
Q386     11.0
Q188     10.0
Q249     10.0
Q120     10.0
Q870     10.0
Q828      9.0
Q752      9.0
Q753      9.0
Q380      9.0
Q042      8.0
Q169      8.0
P059      8.0
P969      7.0
Q670      7.0
Q059      7.0
Q650      7.0
Q690      6.0
Q000      6.0
P120      6.0
Q383      6.0
Q378      6.0
Q674      6.0
Q539      6.0
Q549      5.0
Q793      5.0
Q899      5.0
P050      5.0
Q666      5.0
Q792      5.0
Q898      5.0
Q019      5.0
P113      4.0
Q112      4.0
Q843      4.0
Q353      4.0
Q742      4.0
Q872      4.0
P080      4.0
D180      4.0
P052      4.0
Q352      4.0
P545      4.0
Q761      4.0
Q351      3.0
Q658      3.0
Q681      3.0
Q390      3.0
Q248      3.0
Q374      3.0
Q301      3.0
Q700      3.0
Q692      3.0
Q302      3.0
Q740      3.0
Q107      3.0
Q833      3.0
Q894      3.0
P701      3.0
P072      3.0
P942      3.0
Q759      3.0
Q758      3.0
Q031      3.0
Q750      3.0
Q105      3.0
Q106      3.0
P220      3.0
Q749      3.0
Q171      3.0
P914      2.0
P221      2.0
P284      2.0
P369      2.0
Q892      2.0
Q373      2.0
P143      2.0
Q185      2.0
Q370      2.0
Q795      2.0
Q748      2.0
P032      2.0
K429      2.0
Q357      2.0
Q781      2.0
Q206      2.0
P219      2.0
Q704      2.0
P012      2.0
P026      2.0
Q303      2.0
Q676      1.0
Q669      1.0
Q680      1.0
Q969      1.0
Q999      1.0
Q673      1.0
Q913      1.0
Q917      1.0
Q937      1.0
Q672      1.0
Q728      1.0
Q859      1.0
Q754      1.0
Q718      1.0
Q730      1.0
Q716      1.0
Q712      1.0
Q70X      1.0
Q738      1.0
Q656      1.0
Q764      1.0
Q839      1.0
Q688      1.0
Q790      1.0
Q684      1.0
Q825      1.0
Q829      1.0
Q831      1.0
Q682      1.0
Q820      1.0
A539      1.0
Q640      1.0
P833      1.0
P611      1.0
P700      1.0
P702      1.0
P722      1.0
P788      1.0
P832      1.0
P838      1.0
Q061      1.0
P839      1.0
P928      1.0
P948      1.0
P963      1.0
P968      1.0
Q012      1.0
P599      1.0
P38X      1.0
P298      1.0
P291      1.0
P289      1.0
P271      1.0
P209      1.0
P158      1.0
P134      1.0
P083      1.0
P034      1.0
P029      1.0
P011      1.0
P005      1.0
N47X      1.0
K009      1.0
D487      1.0
Q043      1.0
Q079      1.0
Q639      1.0
Q438      1.0
Q355      1.0
Q361      1.0
Q37X      1.0
Q388      1.0
Q400      1.0
Q419      1.0
Q439      1.0
Q104      1.0
Q555      1.0
Q558      1.0
Q600      1.0
Q602      1.0
Q611      1.0
Q620      1.0
Q336      1.0
Q289      1.0
Q269      1.0
Q258      1.0
Q223      1.0
Q213      1.0
Q211      1.0
Q208      1.0
Q204      1.0
Q186      1.0
Q182      1.0
Q180      1.0
Q159      1.0
Q139      1.0
Q138      1.0
Q133      1.0
Q113      1.0
R229      1.0
dtype: float64