<a href="https://colab.research.google.com/github/tlacloc/analisis-defunciones-nacimientos-2022/blob/main/2019_nacimientos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 # Libreria para cargar nuestro drive
from google.colab import drive

# Cargamos nuestro drive en nuestro notebook
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!ls "/content/drive/MyDrive/Colab Notebooks"

'Copy of SDC11_actividad1_Badillo_Casanova.ipynb'   SDC_12		 test.ipynb
'EVC Hackathon Files'				    SDC_13		 Untitled0.ipynb
 Image						    SDC_14		 Untitled1.ipynb
 miriam						    SDC_15		 Vero
 SCD_12_Erick_Casanova.ipynb			    test-forvero.ipynb	 Visualizacion

In [3]:
# Librerias de ayuda
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind
import matplotlib.pyplot as plt
import seaborn as sns

year = '2019'
year_key = {
    '2022': 5,
    '2021': 4,
    '2020': 3,
    '2019': 2,
    '2018': 1
}

In [4]:
fileName = '/content/drive/My Drive/Colab Notebooks/miriam/nacimientos_' + year + '.csv'
df = pd.read_csv(fileName, low_memory=False)
df.head(10)

,CEDOCVE,ENT_NACM,MPO_NACM,FECH_NACM,EDADM,CON_INDM,HABLA_INDM,CUAL_LENGM,EDOCIVIL,TIPOVIAL_RES,...,TIPOVIAL_CERT,TIPOASEN_CERT,ENT_CERT,MPO_CERT,LOC_CERT,FECH_CERT,FECH_ALTA,FECH_CAMB,IDCAPTURA,TIPO_FORMATO
0,1,1,1.0,20/12/1993,25,2.0,2.0,0000,11,5.0,...,99.0,16.0,1,1,1,06/01/2019,06/01/19,NaN,1.0,2015.0
1,1,1,1.0,04/09/2000,18,2.0,2.0,0000,11,5.0,...,99.0,16.0,1,1,1,06/01/2019,06/01/19,NaN,1.0,2015.0
2,1,1,1.0,09/11/1997,21,2.0,2.0,0000,11,5.0,...,99.0,16.0,1,1,1,06/01/2019,06/01/19,NaN,1.0,2015.0
3,1,32,56.0,27/11/2001,17,2.0,2.0,0000,15,5.0,...,99.0,16.0,1,1,1,06/01/2019,06/01/19,NaN,1.0,2015.0
4,1,14,64.0,26/06/1991,27,2.0,2.0,0000,15,5.0,...,99.0,99.0,1,1,1,09/01/2019,09/01/19,NaN,1.0,2015.0
5,1,1,1.0,25/10/2001,17,2.0,2.0,0000,12,2.0,...,99.0,99.0,1,1,1,09/01/2019,09/01/19,NaN,1.0,2015.0
6,1,1,1.0,03/09/1996,22,2.0,2.0,0000,15,5.0,...,99.0,99.0,1,1,1,10/01/2019,10/01/19,NaN,1.0,2015.0
7,1,14,39.0,14/06/1983,35,2.0,2.0,0000,11,5.0,...,99.0,99.0,1,1,1,10/01/2019,10/01/19,NaN,1.0,2015.0
8,1,1,1.0,20/09/1999,19,2.0,2.0,0000,15,5.0,...,99.0,99.0,1,1,1,10/01/2019,10/01/19,NaN,1.0,2015.0
9,1,1,1.0,05/11/1988,30,2.0,2.0,0000,15,5.0,...,99.0,16.0,1,1,1,10/01/2019,10/01/19,NaN,1.0,2015.0

In [5]:
oldColumns = df.columns
oldColumns

Index(['CEDOCVE', 'ENT_NACM', 'MPO_NACM', 'FECH_NACM', 'EDADM', 'CON_INDM',
       'HABLA_INDM', 'CUAL_LENGM', 'EDOCIVIL', 'TIPOVIAL_RES', 'TIPOASEN_RES',
       'ENT_RES', 'MPO_RES', 'LOC_RES', 'NUM_EMB', 'NUM_NACMTO', 'NUM_NACVIVO',
       'HIJO_SOBV', 'HIJO_ANTE', 'VIVE_AUN', 'ORDEN_NAC', 'ATEN_PREN',
       'TRIM_CONS', 'TOT_CONS', 'SOB_PARTO', 'DERHAB', 'DERHAB2', 'NIV_ESCOL',
       'OCUPHAB', 'CVEOCUPHAB', 'TRAB_ACT', 'FECH_NACH', 'HORA_NACH', 'SEXOH',
       'GESTACH', 'TALLAH', 'PESOH', 'APGARH', 'SILVERMAN', 'BCG', 'HEP_B',
       'VIT_A', 'VIT_K', 'TAM_AUD', 'PRODUCTO', 'ACELRN', 'CVE_CIE', 'ACELRN2',
       'CVE_CIE2', 'PROCNAC', 'FORCEPS', 'ESPECIFIQUE', 'INST_NAC', 'UNIMED',
       'CLUES', 'ATENDIO', 'ATEN_OTRO', 'TIPOVIAL_NAC', 'TIPOASEN_NAC',
       'ENT_NAC', 'MPO_NAC', 'LOC_NAC', 'CERT_POR', 'OTROMEDICO',
       'UNIMED_33_1', 'CLUES_33_2', 'TIPOVIAL_CERT', 'TIPOASEN_CERT',
       'ENT_CERT', 'MPO_CERT', 'LOC_CERT', 'FECH_CERT', 'FECH_ALTA',
       'FECH_CAMB', 'IDCAPTURA', 'TIPO_FORMATO'],
      dtype='object')

Renombrando columnas para relacionarlas con los a~os mas actuales

In [6]:
df.rename(columns = {'TAM_AUD':'TAMIZAUDITIVO'}, inplace = True)
df.rename(columns = {'HIJO_SOBV':'HIJOSSOBREVIVIENTES'}, inplace = True)
df.rename(columns = {'FECH_NACH':'FECHANACIMIENTO'}, inplace = True)
df.rename(columns = {'ORDEN_NAC':'ORDENNACIMIENTO'}, inplace = True)
df.rename(columns = {'ENT_NAC':'ENTIDADNACIMIENTO'}, inplace = True)
df.rename(columns = {'MPO_NACM':'MUNICIPIONACIMIENTO'}, inplace = True)
df.rename(columns = {'CON_INDM':'SECONSIDERAINDIGENA'}, inplace = True)
df.rename(columns = {'HABLA_INDM':'HABLALENGUAINDIGENA'}, inplace = True)
df.rename(columns = {'FECH_NACM':'FECHANACIMIENTOMADRE'}, inplace = True)
df.rename(columns = {'EDOCIVIL':'ESTADOCONYUGAL'}, inplace = True)
df.rename(columns = {'ENT_RES':'ENTIDADRESIDENCIA'}, inplace = True)
df.rename(columns = {'MPO_RES':'MUNICIPIORESIDENCIA'}, inplace = True)
df.rename(columns = {'LOC_RES':'LOCALIDADRESIDENCIA'}, inplace = True)
df.rename(columns = {'NUM_NACVIVO':'HIJOSNACIDOSVIVOS'}, inplace = True)
df.rename(columns = {'HIJO_ANTE':'CONDICIONHIJOANTERIOR'}, inplace = True)
df.rename(columns = {'VIVE_AUN':'VIVEHIJOANTERIOR'}, inplace = True)
df.rename(columns = {'CVEOCUPHAB':'CLAVEOCUPACIONHABITUAL'}, inplace = True)
df.rename(columns = {'TRAB_ACT':'TRABAJAACTUALMENTE'}, inplace = True)
df.rename(columns = {'HORA_NACH':'HORANACIMIENTO'}, inplace = True)
df.rename(columns = {'BCG':'VACUNA_BCG'}, inplace = True)
df.rename(columns = {'HEP_B':'VACUNAHEPATITIS_B'}, inplace = True)
df.rename(columns = {'VIT_A':'VITAMINA_A'}, inplace = True)
df.rename(columns = {'VIT_K':'VITAMINA_K'}, inplace = True)
df.rename(columns = {'PRODUCTO':'PRODUCTOEMBARAZO'}, inplace = True)
df.rename(columns = {'CLUES':'CLUES'}, inplace = True)
df.rename(columns = {'FORCEPS':'UTILIZOFORCEPS'}, inplace = True)
df.rename(columns = {'FORCEPS':'TIPOCESAREA'}, inplace = True)
df.rename(columns = {'ATENDIO':'PERSONALATENDIO'}, inplace = True)
df.rename(columns = {'MPO_NAC':'MUNICIPIOPARTO'}, inplace = True)
df.rename(columns = {'LOC_NAC':'LOCALIDADPARTO'}, inplace = True)
df.rename(columns = {'CERT_POR':'CERTIFICADOPOR'}, inplace = True)
df.rename(columns = {'CLUES_33_2':'CLUESCERTIFICA'}, inplace = True)
df.rename(columns = {'ENT_CERT':'ENTIDADFEDERATIVACERTIFICA'}, inplace = True)
df.rename(columns = {'MPO_CERT':'MUNICIPIOCERTIFICA'}, inplace = True)
df.rename(columns = {'LOC_CERT':'LOCALIDADCERTIFICA'}, inplace = True)
df.rename(columns = {'FECH_CERT':'FECHACERTIFICADO'}, inplace = True)
df.rename(columns = {'INST_NAC':'LUGARNACIMIENTO'}, inplace = True)

In [7]:
oldColumns = df.columns
oldColumns

Index(['CEDOCVE', 'ENT_NACM', 'MUNICIPIONACIMIENTO', 'FECHANACIMIENTOMADRE',
       'EDADM', 'SECONSIDERAINDIGENA', 'HABLALENGUAINDIGENA', 'CUAL_LENGM',
       'ESTADOCONYUGAL', 'TIPOVIAL_RES', 'TIPOASEN_RES', 'ENTIDADRESIDENCIA',
       'MUNICIPIORESIDENCIA', 'LOCALIDADRESIDENCIA', 'NUM_EMB', 'NUM_NACMTO',
       'HIJOSNACIDOSVIVOS', 'HIJOSSOBREVIVIENTES', 'CONDICIONHIJOANTERIOR',
       'VIVEHIJOANTERIOR', 'ORDENNACIMIENTO', 'ATEN_PREN', 'TRIM_CONS',
       'TOT_CONS', 'SOB_PARTO', 'DERHAB', 'DERHAB2', 'NIV_ESCOL', 'OCUPHAB',
       'CLAVEOCUPACIONHABITUAL', 'TRABAJAACTUALMENTE', 'FECHANACIMIENTO',
       'HORANACIMIENTO', 'SEXOH', 'GESTACH', 'TALLAH', 'PESOH', 'APGARH',
       'SILVERMAN', 'VACUNA_BCG', 'VACUNAHEPATITIS_B', 'VITAMINA_A',
       'VITAMINA_K', 'TAMIZAUDITIVO', 'PRODUCTOEMBARAZO', 'ACELRN', 'CVE_CIE',
       'ACELRN2', 'CVE_CIE2', 'PROCNAC', 'UTILIZOFORCEPS', 'ESPECIFIQUE',
       'LUGARNACIMIENTO', 'UNIMED', 'CLUES', 'PERSONALATENDIO', 'ATEN_OTRO',
       'TIPOVIAL_NAC', 'TIPOASEN_NAC', 'ENTIDADNACIMIENTO', 'MUNICIPIOPARTO',
       'LOCALIDADPARTO', 'CERTIFICADOPOR', 'OTROMEDICO', 'UNIMED_33_1',
       'CLUESCERTIFICA', 'TIPOVIAL_CERT', 'TIPOASEN_CERT',
       'ENTIDADFEDERATIVACERTIFICA', 'MUNICIPIOCERTIFICA',
       'LOCALIDADCERTIFICA', 'FECHACERTIFICADO', 'FECH_ALTA', 'FECH_CAMB',
       'IDCAPTURA', 'TIPO_FORMATO'],
      dtype='object')

In [8]:
df.rename(columns = {'EDADM':'EDAD'}, inplace = True)
df.rename(columns = {'NUM_EMB':'NUMEROEMBARAZOS'}, inplace = True)
df.rename(columns = {'NUM_NACMTO':'HIJOSNACIDOSMUERTOS'}, inplace = True)
df.rename(columns = {'ATEN_PREN':'ATENCIONPRENATAL'}, inplace = True)
df.rename(columns = {'TRIM_CONS':'TRIMESTREPRIMERCONSULTA'}, inplace = True)
df.rename(columns = {'TOT_CONS':'TOTALCONSULTAS'}, inplace = True)
df.rename(columns = {'SOB_PARTO':'SOBREVIVIOPARTO'}, inplace = True)
df.rename(columns = {'NIV_ESCOL':'ESCOLARIDAD'}, inplace = True)
df.rename(columns = {'SEXOH':'SEXO'}, inplace = True)
df.rename(columns = {'GESTACH':'EDADGESTACIONAL'}, inplace = True)
df.rename(columns = {'TALLAH':'TALLA'}, inplace = True)
df.rename(columns = {'PESOH':'PESO'}, inplace = True)
df.rename(columns = {'APGARH':'APGAR'}, inplace = True)
df.rename(columns = {'PRODUCTO':'PRODUCTOEMBARAZO'}, inplace = True)
df.rename(columns = {'CVE_CIE':'CODIGOCIEANOMALIA1'}, inplace = True)
df.rename(columns = {'CVE_CIE2':'CODIGOCIEANOMALIA2'}, inplace = True)
df.rename(columns = {'PROCNAC':'RESOLUCIONEMBARAZO'}, inplace = True)
df.rename(columns = {'ENT_NACM':'ENTIDADFEDERATIVAPARTO'}, inplace = True)

Variables que sd van a utilizar

In [9]:
# Limpieza de datos
# Se eliminaran las columnas que no se utilizaran
['ENTIDADFEDERATIVAPARTO', 'EDAD',
       'TIPOVIAL_RES', 'TIPOASEN_RES', 'NUMEROEMBARAZOS',
       'HIJOSNACIDOSMUERTOS', 'ATENCIONPRENATAL', 'TRIMESTREPRIMERCONSULTA',
       'TOTALCONSULTAS', 'SOBREVIVIOPARTO', 'DERHAB', 'DERHAB2', 'ESCOLARIDAD',
       'OCUPHAB', 'FECHANACIMIENTO', 'SEXO', 'EDADGESTACIONAL', 'TALLA',
       'PESO', 'APGAR', 'SILVERMAN', 'ACELRN', 'CODIGOCIEANOMALIA1', 'ACELRN2',
       'CODIGOCIEANOMALIA2', 'RESOLUCIONEMBARAZO', 'ESPECIFIQUE', 'UNIMED',
       'ATEN_OTRO', 'TIPOVIAL_NAC', 'TIPOASEN_NAC', 'OTROMEDICO',
       'UNIMED_33_1', 'TIPOVIAL_CERT', 'TIPOASEN_CERT', 'FECH_ALTA',
       'FECH_CAMB', 'IDCAPTURA', 'TIPO_FORMATO']
columnsToRemove = [
    "TAMIZAUDITIVO",
    "HIJOSSOBREVIVIENTES",
    # "FECHANACIMIENTO",
    "ENTIDADNACIMIENTO",
    "MUNICIPIONACIMIENTO",
    "SECONSIDERAINDIGENA",
    "HABLALENGUAINDIGENA",
    "FECHANACIMIENTOMADRE",
    "ESTADOCONYUGAL",
    "ENTIDADRESIDENCIA",
    "MUNICIPIORESIDENCIA",
    "LOCALIDADRESIDENCIA",
    "HIJOSNACIDOSVIVOS",
    "CONDICIONHIJOANTERIOR",
    "VIVEHIJOANTERIOR",
    "ORDENNACIMIENTO",
    "CLAVEOCUPACIONHABITUAL",
    "TRABAJAACTUALMENTE",
    "HORANACIMIENTO",
    "VACUNA_BCG",
    "VACUNAHEPATITIS_B",
    "VITAMINA_A",
    "VITAMINA_K",
    # Relacionado a gemelos
    # "PRODUCTOEMBARAZO",
    "CLUES",
    "UTILIZOFORCEPS",
    "PERSONALATENDIO",
    "MUNICIPIOPARTO",
    "LOCALIDADPARTO",
    "CERTIFICADOPOR",
    "CLUESCERTIFICA",
    "ENTIDADFEDERATIVACERTIFICA",
    "MUNICIPIOCERTIFICA",
    "LOCALIDADCERTIFICA",
    "FECHACERTIFICADO",
    "LUGARNACIMIENTO",
    'CEDOCVE',
    'CUAL_LENGM',
    'TIPOASEN_RES',
    'TIPOVIAL_RES',
    'DERHAB',
    'DERHAB2',
    'ATEN_OTRO', 'TIPOVIAL_NAC', 'TIPOASEN_NAC', 'OTROMEDICO',
    'UNIMED_33_1', 'TIPOVIAL_CERT', 'TIPOASEN_CERT', 'FECH_ALTA',
    'FECH_CAMB', 'IDCAPTURA', 'TIPO_FORMATO',
    'ESPECIFIQUE', 'UNIMED', 'ACELRN', 'ACELRN2'
]

df.drop(columnsToRemove, inplace=True, axis=1)

In [10]:
columnsToReview = df.columns
columnsToReview

Index(['ENTIDADFEDERATIVAPARTO', 'EDAD', 'NUMEROEMBARAZOS',
       'HIJOSNACIDOSMUERTOS', 'ATENCIONPRENATAL', 'TRIMESTREPRIMERCONSULTA',
       'TOTALCONSULTAS', 'SOBREVIVIOPARTO', 'ESCOLARIDAD', 'OCUPHAB',
       'FECHANACIMIENTO', 'SEXO', 'EDADGESTACIONAL', 'TALLA', 'PESO', 'APGAR',
       'SILVERMAN', 'PRODUCTOEMBARAZO', 'CODIGOCIEANOMALIA1',
       'CODIGOCIEANOMALIA2', 'RESOLUCIONEMBARAZO'],
      dtype='object')

In [11]:
#df=df.drop(df[df['EDAD']==999].index)
#df=df.drop(df[df['EDAD']==888].index)
#df=df.drop(df[df['NUMEROEMBARAZOS']==99].index)
#df=df.drop(df[df['HIJOSNACIDOSMUERTOS']==99].index)
#df=df.drop(df[df['ATENCIONPRENATAL']==9].index)
#df=df.drop(df[df['TRIMESTREPRIMERCONSULTA']==9].index)
#df=df.drop(df[df['TOTALCONSULTAS']==99].index)
#df=df.drop(df[df['SOBREVIVIOPARTO']==9].index)
#df=df.drop(df[df['ESCOLARIDAD']==999].index)
#df=df.drop(df[df['EDADPADRE']==999].index)
#df=df.drop(df[df['SEXO']==99].index)
#df=df.drop(df[df['EDADGESTACIONAL']==99].index)
#df=df.drop(df[df['TALLA']==99].index)
#df=df.drop(df[df['PESO']==9999].index)
#df=df.drop(df[df['TALLA']==9].index)
#df=df.drop(df[df['APGAR']==99].index)
#df=df.drop(df[df['SILVERMAN']==99].index)
#df=df.drop(df[df['UTILIZOFORCEPS']==9].index)

In [12]:
df.head(10)

,ENTIDADFEDERATIVAPARTO,EDAD,NUMEROEMBARAZOS,HIJOSNACIDOSMUERTOS,ATENCIONPRENATAL,TRIMESTREPRIMERCONSULTA,TOTALCONSULTAS,SOBREVIVIOPARTO,ESCOLARIDAD,OCUPHAB,...,SEXO,EDADGESTACIONAL,TALLA,PESO,APGAR,SILVERMAN,PRODUCTOEMBARAZO,CODIGOCIEANOMALIA1,CODIGOCIEANOMALIA2,RESOLUCIONEMBARAZO
0,1,25,3,1,1,1,7,1,5,HOGAR,...,1,40,52,3750,9,0,1,0000,0000,1
1,1,18,1,0,1,3,2,1,5,HOGAR,...,1,40,47,2650,9,0,1,0000,0000,1
2,1,21,2,0,1,1,3,1,5,HOGAR,...,1,37,51,3250,9,0,1,0000,0000,1
3,32,17,2,0,1,2,3,1,5,HOGAR,...,1,39,50,2900,9,0,1,0000,0000,1
4,14,27,1,0,1,2,6,1,2,HOGAR,...,1,39,50,3325,9,0,1,P819,0000,1
5,1,17,1,0,1,1,6,1,5,HOGAR,...,1,39,50,2950,9,0,1,0000,0000,2
6,1,22,1,0,1,2,6,1,7,HOGAR,...,2,40,51,3250,9,0,1,0000,0000,1
7,14,35,3,0,1,1,5,1,8,HOGAR,...,1,36,47,2650,9,2,1,P229,0000,2
8,1,19,2,0,1,1,4,1,5,HOGAR,...,2,39,47,2700,9,0,1,0000,0000,1
9,1,30,2,0,1,1,6,1,2,HOGAR,...,2,39,47,2780,9,0,1,0000,0000,1

# Variable: presencia o ausencia de Malformaciones Craneofaciales MCF
- Con MCF (1)
- Sin (0)

In [13]:
def update_codes(base_array):
  new_codes = []
  for value in base_array:
    for i in range(0, 10):
      new_codes.append(value[:-1] + str(i))

  return new_codes

In [14]:
codigos_mc = update_codes(['Q100', 'Q110', 'Q120', 'Q130', 'Q140', 'Q150', 'Q160', 'Q170', 'Q180', 'Q300', 'Q350', 'Q360', 'Q370', 'Q380'])

anomalias_mc = df['CODIGOCIEANOMALIA1'].isin(codigos_mc) | df['CODIGOCIEANOMALIA2'].isin(codigos_mc)

key = "MCC-General"

df[key] = None
df[key].mask((~df.CODIGOCIEANOMALIA1.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA2 == '9999'), None, inplace=True)
df[key].mask((~df.CODIGOCIEANOMALIA2.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA1 == '9999'), None, inplace=True)
df[key].mask(~df.CODIGOCIEANOMALIA1.isin(codigos_mc) & ~df.CODIGOCIEANOMALIA2.isin(codigos_mc), 0, inplace=True)
df[key].mask(df.CODIGOCIEANOMALIA1.isin(codigos_mc) | df.CODIGOCIEANOMALIA2.isin(codigos_mc), 1, inplace=True)
df[key].value_counts()

0    1864192
1       4022
Name: MCC-General, dtype: int64

## Variable categórica clasificación de MCF
- Oftalmológicas Q100 Q110 Q120 Q130 Q140 Q150
- Oído Q160 Q170
- Cara y cuello Q180
- Nariz Q300
- Lengua y boca Q380 Q350 Q360 Q370

Aqui se usan numeros primos para hacer la limpieza de datos

In [15]:
codigos_oftalmo = update_codes(['Q100', 'Q110', 'Q120', 'Q130', 'Q140', 'Q150'])
codigos_oido = update_codes(['Q160', 'Q170'])
codigos_cara_cuello = update_codes(['Q180'])
codigos_nariz = update_codes(['Q300'])
codigos_lengua_boca = update_codes(['Q380', 'Q350', 'Q360', 'Q370'])

mc_value = {
    'oftalmo': 1,
    'oido': 10,
    'cuello': 100,
    'nariz': 1000,
    'boca': 10000
}
mc_values = [1, 10, 100, 1000, 10000]

### Oftalmo

In [16]:
# Valores par oftalmo
value = mc_value['oftalmo']
key = "MC-1"
df[key] = 0
df[key].mask(df['CODIGOCIEANOMALIA1'].isin(codigos_oftalmo), value, inplace=True)

key = "MC-2"
df[key] = 0
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_oftalmo), value, inplace=True)

### Oido

In [17]:
# Valores par oido
value = mc_value['oido']
key = "MC-1"
df[key].mask(df['CODIGOCIEANOMALIA1'].isin(codigos_oido), value, inplace=True)

key = "MC-2"
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_oido), value, inplace=True)

### Cara y cuello

In [18]:
# Valores par cara y cuello
value = mc_value['cuello']
key = "MC-1"
df[key].mask(df['CODIGOCIEANOMALIA1'].isin(codigos_cara_cuello), value, inplace=True)

key = "MC-2"
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_cara_cuello), value, inplace=True)

### Nariz

In [19]:
# Valores para nariz
value = mc_value['nariz']
key = "MC-1"
df[key].mask(df['CODIGOCIEANOMALIA1'].isin(codigos_nariz), value, inplace=True)

key = "MC-2"
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_nariz), value, inplace=True)

### Lengua y boca

In [20]:
# Valores para lengua y boca
value = mc_value['boca']
key = "MC-1"
df[key].mask(df['CODIGOCIEANOMALIA1'].isin(codigos_lengua_boca), value, inplace=True)

key = "MC-2"
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_lengua_boca), value, inplace=True)


Descripcion de las categoricas (MC-1 es CODIGOCIEANOMALIA1, MC-2 es CODIGOCIEANOMALIA2)

In [21]:
key = "MC-1"
df[key].value_counts()

0        1864549
10          1684
10000       1643
100          169
1             98
1000          71
Name: MC-1, dtype: int64

In [22]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

10       1684
10000    1643
0         357
100       169
1          98
1000       71
Name: MC-1, dtype: int64

In [23]:
key = "MC-2"
df[key].value_counts()

0        1867250
10000        454
10           386
100           45
1000          40
1             39
Name: MC-2, dtype: int64

In [24]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

0        3058
10000     454
10        386
100        45
1000       40
1          39
Name: MC-2, dtype: int64

In [25]:
key = 'MC-G'
df[key] = None
df[key] = df[['MC-1', 'MC-2']].sum(axis=1)
df[key].value_counts()

0        1864192
10          1605
10000       1468
20000        289
20           198
100          175
1             99
1000          68
10010         40
110           15
2000          13
2             12
1010          11
200           10
10001          8
11             3
11000          3
1100           2
101            2
1001           1
Name: MC-G, dtype: int64

In [26]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

10       1605
10000    1468
20000     289
20        198
100       175
1          99
1000       68
10010      40
110        15
2000       13
2          12
1010       11
200        10
10001       8
11          3
11000       3
1100        2
101         2
1001        1
Name: MC-G, dtype: int64

## Variable categórica clasificación de MCF
- Oftalmológicas (1)
- Oído (2)
- Cara y cuello (3)
- Nariz (4)
- Lengua y boca (5)

In [27]:
key="MC-G2"
etiqueta = 'MC-G'

df[key] = None
df[key].mask(df[etiqueta] == mc_value['oftalmo'], 1, inplace=True)
df[key].mask(df[etiqueta] == mc_value['oido'], 2, inplace=True)
df[key].mask(df[etiqueta] == mc_value['cuello'], 3, inplace=True)
df[key].mask(df[etiqueta] == mc_value['nariz'], 4, inplace=True)
df[key].mask(df[etiqueta] == mc_value['boca'], 5, inplace=True)
df[key].mask(~df[etiqueta].isin(mc_values), 6, inplace=True)
df[key].mask(df[etiqueta] == 0, None, inplace=True)


df[key].value_counts()

2    1605
5    1468
6     607
3     175
1      99
4      68
Name: MC-G2, dtype: int64

In [28]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts().sum()

4022

# Dos malformaciones
- No tenga una segunda malformacion, solo la primera sea MC (0)
- Las dos malformaciones sean cranofaciales  (1)
- Que una sea segunda malformacion y otra de otro tipo (2)
- MCF y no se espeficifa (3)

In [29]:
key="S-MG"
df[key] = None
# estos solo checan los que si o si, tienen solo una malformacion
mcf_primera = (df.CODIGOCIEANOMALIA1.isin(codigos_mc) & (df.CODIGOCIEANOMALIA2 == '0000'))
mcf_segunda = (df.CODIGOCIEANOMALIA2.isin(codigos_mc) & (df.CODIGOCIEANOMALIA1 == '0000'))

# tenga dos mcf
mcf_primera_y_segunda = (df.CODIGOCIEANOMALIA1.isin(codigos_mc) & df.CODIGOCIEANOMALIA2.isin(codigos_mc))

# que tenga una mcf y otra mc != a mcf
mcf_primera_mc_segunda = ((df.CODIGOCIEANOMALIA1.isin(codigos_mc))  & (df.CODIGOCIEANOMALIA2 != '0000') & (~df.CODIGOCIEANOMALIA2.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA2 != '9999'))
mc_primera_mcf_segunda = ((df.CODIGOCIEANOMALIA2.isin(codigos_mc))  & (df.CODIGOCIEANOMALIA1 != '0000') & (~df.CODIGOCIEANOMALIA1.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA1 != '9999'))

# que tenga una mcf y la otra idk
mcf_primera_idk_segunda = ((df.CODIGOCIEANOMALIA1.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA2 == '9999'))
idk_primera_mcf_segunda = ((df.CODIGOCIEANOMALIA2.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA1 == '9999'))

df[key].mask(mcf_primera | mcf_segunda, 0, inplace=True)
df[key].mask(mcf_primera_y_segunda, 1, inplace=True)
df[key].mask(mcf_primera_mc_segunda | mc_primera_mcf_segunda, 2, inplace=True)
df[key].mask(mcf_primera_idk_segunda | idk_primera_mcf_segunda, 3, inplace=True)
df[key].value_counts()

0    2488
2     775
1     607
3     152
Name: S-MG, dtype: int64

In [30]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

0    2488
2     775
1     607
3     152
Name: S-MG, dtype: int64

In [31]:
df[(df.CODIGOCIEANOMALIA1.isin(codigos_mc) & (df.CODIGOCIEANOMALIA2 != '0000') & (df.CODIGOCIEANOMALIA2 != '9999')) | (df.CODIGOCIEANOMALIA2.isin(codigos_mc) & (df.CODIGOCIEANOMALIA1 != '0000') & (df.CODIGOCIEANOMALIA1 != '9999'))]

,ENTIDADFEDERATIVAPARTO,EDAD,NUMEROEMBARAZOS,HIJOSNACIDOSMUERTOS,ATENCIONPRENATAL,TRIMESTREPRIMERCONSULTA,TOTALCONSULTAS,SOBREVIVIOPARTO,ESCOLARIDAD,OCUPHAB,...,PRODUCTOEMBARAZO,CODIGOCIEANOMALIA1,CODIGOCIEANOMALIA2,RESOLUCIONEMBARAZO,MCC-General,MC-1,MC-2,MC-G,MC-G2,S-MG
431,1,24,2,0,1,1,7,1,5,HOGAR,...,1,NaN,Q172,2,1,0,10,10,2,2
612,1,18,1,0,1,1,6,1,7,HOGAR,...,1,Q352,P128,3,1,10000,0,10000,5,2
1261,1,16,1,0,1,2,6,1,5,HOGAR,...,1,NaN,Q369,1,1,0,10000,10000,5,2
1995,1,16,1,0,1,2,7,1,5,HOGAR,...,1,Q359,Q359,1,1,10000,10000,20000,6,1
2141,1,26,2,0,1,1,8,1,7,AMA DE HOGAR,...,1,Q170,P128,1,1,10,0,10,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1863109,14,34,4,0,1,9,99,1,5,AMA DE CASA,...,1,Q761,Q189,1,1,0,100,100,3,2
1864618,14,20,1,0,1,1,1,1,5,HOGAR,...,1,Q369,P128,2,1,10000,0,10000,5,2
1866419,32,29,2,0,1,1,4,1,7,AMA DE CASA,...,1,P073,Q380,1,1,0,10000,10000,5,2
1868030,32,24,1,0,1,1,6,1,11,ESTUDIANTE,...,1,NaN,Q174,2,1,0,10,10,2,2
1868167,32,17,2,2,1,3,4,1,6,ESTUDIANTE,...,1,Q301,Q699,1,1,1000,0,1000,4,2

# Edad materna
Edades por decadas de vida de los que presentan malformaciones craneofaciales, ya sea en una sola columna o ambas.
menores de 20 años
20-29
30-39
40-49
mayores o igual a 50

In [32]:
etiqueta = 'EDAD'
key = "Edad materna"
df[key] = None


df[key].mask(df[etiqueta] < 20, 1, inplace=True)
df[key].mask((df[etiqueta] >= 20) & (df[etiqueta] < 30), 2, inplace=True)
df[key].mask((df[etiqueta] >= 30) & (df[etiqueta] < 40), 3, inplace=True)
df[key].mask((df[etiqueta] >= 40) & (df[etiqueta] < 50), 4, inplace=True)
df[key].mask((df[etiqueta] >= 50) & (df[etiqueta] != 999), 5, inplace=True)
df[key].value_counts()

2    1010191
3     483577
1     333503
4      40164
5        779
Name: Edad materna, dtype: int64

In [33]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    2108
3    1130
1     658
4     124
5       2
Name: Edad materna, dtype: int64

## Tipo de producto del embarazo
- Único (1)
- Gemelar (2)
- Tres o más (3)

In [34]:
etiqueta = 'PRODUCTOEMBARAZO'
key = "Tipo producto"
df[key] = None
df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask(df[etiqueta] == 3, 3, inplace=True)
df[key].value_counts()

1    1832339
2      30365
3       1001
Name: Tipo producto, dtype: int64

In [35]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

1    3936
2      70
3       2
Name: Tipo producto, dtype: int64

# Numero de embarazos
Primigesta (1 embarazo)
Multigesta (2 a 5 embarazos)
Gran multigesta (6 o más embarazos)

In [36]:
etiqueta = 'NUMEROEMBARAZOS'
key = "Numero de embarazos"
df[key] = None


df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask((df[etiqueta] >= 2) & (df[etiqueta] < 6), 2, inplace=True)
df[key].mask((df[etiqueta] >= 6) & (df[etiqueta] != 99), 3, inplace=True)
df[key].value_counts()

2    1177149
1     652651
3      37958
Name: Numero de embarazos, dtype: int64

In [37]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    2530
1    1408
3      83
Name: Numero de embarazos, dtype: int64

#Hijos nacidos muertos
- Ausente (0)
- Presente (1)

In [38]:
etiqueta = 'HIJOSNACIDOSMUERTOS'
key = "Hijos nacidos muertos"
df[key] = None

df[key].mask((df[etiqueta] >= 1) & (df[etiqueta] != 99), 1, inplace=True)
df[key].mask(df[etiqueta] == 0, 0, inplace=True)
df[key].value_counts()

0    1566148
1     297394
Name: Hijos nacidos muertos, dtype: int64

In [39]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

0    3235
1     779
Name: Hijos nacidos muertos, dtype: int64

# Madre sobrevivio parto SOBREVIVIOPARTO
* Si 1
* No 2
* no aplica, se ignora, no especificado 0, 8, 9

In [40]:
etiqueta = 'SOBREVIVIOPARTO'
no_especificado = [0, 8, 9]

key = "Madre sobrevivio al parto"
df[key] = None

df[key].mask(df[etiqueta] == 2, 0, inplace=True)
df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta].isin(no_especificado), 2, inplace=True)
df[key].value_counts()

1    1867085
2       1015
0        114
Name: Madre sobrevivio al parto, dtype: int64

In [41]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

1    4020
2       1
0       1
Name: Madre sobrevivio al parto, dtype: int64

#Madre recibio atencion prenatal
* Si 1
* No 2
* no aplica, se ignora, no especificado 0, 8, 9

In [42]:
etiqueta = 'ATENCIONPRENATAL'
no_especificado = [0, 8, 9]
key = "Madre recibio atencion prenatal"
df[key] = None

df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 0, inplace=True)
df[key].value_counts()

1    1818842
0      44526
Name: Madre recibio atencion prenatal, dtype: int64

In [43]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

1    3924
0      85
Name: Madre recibio atencion prenatal, dtype: int64

#Trimestre de primer consulta
Trimestre 1
Trimestre 2
Trimestre 3

In [44]:
etiqueta = 'TRIMESTREPRIMERCONSULTA'
key = "Trimestre de la primera consulta"
df[key] = None

df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask(df[etiqueta] == 3, 3, inplace=True)
df[key].value_counts()

1    1422871
2     323356
3      56843
Name: Trimestre de la primera consulta, dtype: int64

In [45]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

1    3053
2     720
3     117
Name: Trimestre de la primera consulta, dtype: int64

# Total de consulta durante el embarazo
Suficiente (5 o mas citas)
Insuficiente (1-4 citas)
No recibió (0 citas)

In [46]:
etiqueta = 'TOTALCONSULTAS'
key = "Total numero de consultas embarazo"
df[key] = None

df[key].mask(df[etiqueta] == 0, 0, inplace=True)
df[key].mask((df[etiqueta] >= 1) & (df[etiqueta] < 5), 1, inplace=True)
df[key].mask((df[etiqueta] >= 5) & (df[etiqueta] != 99), 2, inplace=True)
df[key].value_counts()

2    1561162
1     233607
0      44566
Name: Total numero de consultas embarazo, dtype: int64

In [47]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    3413
1     472
0      86
Name: Total numero de consultas embarazo, dtype: int64

#Escolaridad materna
Ninguno (0, 1, 32, 88, 99)
Primaria completa (31, 52, 112)
Secundaria completa (51, 72)
Bachillerato o preparatoria completa (71, 82)
Licenciatura completa (81, 102)
Posgrado (101)
Tecnico terminal (111, 131, 132)

In [48]:
etiqueta = 'ESCOLARIDAD'
ninguno = [1]
primaria = [2, 3, 4]
secundaria = [6, 5]
bachiller = [7, 11]
licenciatura = [8, 12]
posgrado = [10]
tecnico = [] # no hay tecnico
no_esp = [0, 88, 99]
key = "Escolaridad materna"
df[key] = None
df[key].mask(df[etiqueta].isin(ninguno), 0, inplace=True)
df[key].mask(df[etiqueta].isin(primaria), 1, inplace=True)
df[key].mask(df[etiqueta].isin(secundaria), 2, inplace=True)
df[key].mask(df[etiqueta].isin(bachiller), 3, inplace=True)
df[key].mask(df[etiqueta].isin(licenciatura), 4, inplace=True)
df[key].mask(df[etiqueta].isin(posgrado), 5, inplace=True)
df[key].mask(df[etiqueta].isin(no_esp), 7, inplace=True)
df[key].value_counts()

2    721787
3    507078
1    299934
4    269515
0     27560
7     21995
5     20345
Name: Escolaridad materna, dtype: int64

In [49]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    1554
3    1103
4     624
1     613
0      52
7      44
5      32
Name: Escolaridad materna, dtype: int64

# Entidad federativa de parto ENTIDADFEDERATIVAPARTO
df.agg(['count', 'size', 'nunique'])

In [50]:
key='ENTIDADFEDERATIVAPARTO'
df[key].mask(df[key] == 99, None, inplace=True)
df[key].value_counts()

15.0    185526
9.0     136248
30.0    130044
14.0    122864
21.0    119983
11.0    102431
7.0      96787
16.0     89021
20.0     79264
12.0     74203
19.0     65139
24.0     51368
5.0      50686
25.0     49008
8.0      48200
28.0     47171
27.0     43587
13.0     42749
26.0     38267
10.0     32978
31.0     32254
22.0     29995
32.0     29142
2.0      29028
17.0     23441
1.0      23015
29.0     20314
18.0     17379
4.0      13354
23.0     12916
6.0       9053
3.0       6353
34.0      4768
35.0      2743
33.0      1395
Name: ENTIDADFEDERATIVAPARTO, dtype: int64

In [51]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

15.0    449
9.0     386
14.0    338
30.0    282
21.0    273
11.0    199
16.0    182
20.0    172
22.0    141
13.0    125
8.0     120
1.0     120
12.0    120
7.0     119
5.0     114
28.0     96
24.0     87
31.0     78
27.0     74
17.0     60
32.0     60
25.0     54
29.0     51
26.0     49
10.0     48
19.0     44
4.0      31
18.0     30
2.0      29
6.0      27
3.0      19
23.0     19
34.0      6
33.0      4
35.0      2
Name: ENTIDADFEDERATIVAPARTO, dtype: int64

# Sexo del recien nacido SEXO
* Hombre 1
* mujer 2
* no especificado 0,9

In [52]:
etiqueta = 'SEXO'
key = "Escolaridad materna"
df[key] = None
df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask((df[etiqueta] == 0) | (df[etiqueta] == 9), 3, inplace=True)
df[key].value_counts()

1    949986
2    916817
3      1411
Name: Escolaridad materna, dtype: int64

In [53]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

1    2194
2    1820
3       8
Name: Escolaridad materna, dtype: int64

# Edad gestacional EDADGESTACIONAL
* pretermino =<36 semanas
* termino 37-41 semanas
* postermino =>42 semanas

In [54]:
etiqueta = 'EDADGESTACIONAL'
key = "Edad gestacional"
df[key] = None
df[key].mask(df[etiqueta] <= 36, 1, inplace=True)
df[key].mask((df[etiqueta] > 36) & (df[etiqueta] < 42), 2, inplace=True)
df[key].mask((df[etiqueta] >= 42) & (df[etiqueta] != 99), 3, inplace=True)
df[key].value_counts()

2    1710376
1     139826
3      15210
Name: Edad gestacional, dtype: int64

In [55]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    3454
1     508
3      56
Name: Edad gestacional, dtype: int64

# Peso del recien nacido PESO
* bajo peso =<2499gr
* normopeso 2500-3999gr
* macrosomico =>4000 gr

In [56]:
etiqueta = 'PESO'
key = "Peso del nacido vivo"
df[key] = None
df[key].mask(df[etiqueta] < 2500, 1, inplace=True)
df[key].mask((df[etiqueta] >= 2500) & (df[etiqueta] < 4000), 2, inplace=True)
df[key].mask((df[etiqueta] >= 4000) & (df[etiqueta] != 9999), 3, inplace=True)
df[key].value_counts()

2    1602398
1     118438
3      46923
Name: Peso del nacido vivo, dtype: int64

In [57]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    3157
1     415
3     102
Name: Peso del nacido vivo, dtype: int64

# Puntaje escala APGAR a los 5 minutos de recien nacido con MCF APGAR
* Normal 7-10 puntos
* Depresion moderada 4-6 puntos
* Depresion severa 0-3 puntos

In [58]:
etiqueta = 'APGAR'
key = "Puntaje apgar"
df[key] = None
df[key].mask((df[etiqueta] >= 7) & (df[etiqueta] <= 10), 1, inplace=True)
df[key].mask((df[etiqueta] >= 4) & (df[etiqueta] <= 6), 2, inplace=True)
df[key].mask((df[etiqueta] >= 0) & (df[etiqueta] <= 3), 3, inplace=True)
df[key].mask((df[etiqueta] == 99), 4, inplace=True)
df[key].value_counts()

1    1832655
4      15120
3      12141
2       8298
Name: Puntaje apgar, dtype: int64

In [59]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

1    3916
2      52
3      40
4      14
Name: Puntaje apgar, dtype: int64

# Puntaje escala Silverman Anderson en recien nacidos con MCF SILVERMAN
* sin dificultad respiratoria
* dificultad respiratoria leve 1-3 puntos
* dificultad respiratoria moderada 4-6 puntos
* dificultad respiratoria severa 7-10 puntos

In [60]:
etiqueta = 'SILVERMAN'
key = "Puntaje silverman"
df[key] = None
df[key].mask(df[etiqueta] == 0, 0, inplace=True)
df[key].mask((df[etiqueta] >= 1) & (df[etiqueta] <= 3), 1, inplace=True)
df[key].mask((df[etiqueta] >= 4) & (df[etiqueta] <= 6), 2, inplace=True)
df[key].mask((df[etiqueta] >= 7) & (df[etiqueta] <= 10), 3, inplace=True)
df[key].mask((df[etiqueta] == 99), 4, inplace=True)
df[key].value_counts()

0    1661679
1     160342
4      20326
3      16944
2       8923
Name: Puntaje silverman, dtype: int64

In [61]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

0    3279
1     643
2      41
3      30
4      29
Name: Puntaje silverman, dtype: int64

# Procedimiento utilizado para resolucion del embarazo RESOLUCIONEMBARAZO

* eutocico 1 - (1)
* distocico 4 - (2)
* cesarea 2 (3)
* otro 3, 8 (4)
* no especificado 9 (5)

In [62]:
etiqueta = 'RESOLUCIONEMBARAZO'
key = "Procedimiento para resolucion"
otro = [3, 8]
df[key] = None
df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask(df[etiqueta] == 3, 3, inplace=True)
df[key].mask(df[etiqueta].isin(otro), 4, inplace=True)
df[key].mask(df[etiqueta] == 9, 5, inplace=True)

df[key].value_counts()

1    951193
2    890428
4      4120
5      2836
Name: Procedimiento para resolucion, dtype: int64

In [63]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    2151
1    1803
5      11
4       4
Name: Procedimiento para resolucion, dtype: int64

# FECHANACIMIENTO
Actualizar para solo usar el mes y el año

Sería
- 2018 (1)
- 2019 (2)
- 2020 (3)
- 2021 (4)
- 2022 (5)

In [64]:
etiqueta = 'FECHANACIMIENTO'
df[etiqueta]

0          06/01/2019
1          06/01/2019
2          06/01/2019
3          06/01/2019
4          09/01/2019
              ...
1868209    23/05/2019
1868210    24/05/2019
1868211    24/05/2019
1868212    25/05/2019
1868213    25/05/2019
Name: FECHANACIMIENTO, Length: 1868214, dtype: object

In [65]:
etiqueta = 'fecha nacimiento'
df[etiqueta] = pd.to_datetime(df['FECHANACIMIENTO'], format='%d/%m/%Y').dt.strftime('%m/%Y')
key = 'Year'
format = '01/01/' + year
df[key] = None
df[key].mask(df[etiqueta] >= format, year_key[year], inplace=True)
df[key].value_counts()

2    1868214
Name: Year, dtype: int64

In [66]:
fileName = '/content/drive/My Drive/Colab Notebooks/miriam/' + year + '_nacimientos_clean.csv'
df.to_csv(fileName, index=False)

# Analisis de datos

In [67]:
df['EDAD'].replace([999, 888], None)
df['NUMEROEMBARAZOS'].replace([99], None)
df['HIJOSNACIDOSMUERTOS'].replace([99], None)
df['ATENCIONPRENATAL'].replace([9], None)
df['TRIMESTREPRIMERCONSULTA'].replace([9], None)
df['TOTALCONSULTAS'].replace([99], None)
df['SOBREVIVIOPARTO'].replace([9], None)
df['ESCOLARIDAD'].replace([999], None)
df['SEXO'].replace([99], None)
df['EDADGESTACIONAL'].replace([99], None)
df['TALLA'].replace([99], None)
df['PESO'].replace([9999], None)
df['TALLA'].replace([9], None)
df['APGAR'].replace([99], None)
df['SILVERMAN'].replace([99], None)

0          0
1          0
2          0
3          0
4          0
          ..
1868209    0
1868210    0
1868211    0
1868212    0
1868213    0
Name: SILVERMAN, Length: 1868214, dtype: object

### Pacientes con MCF

In [68]:
label = "MCC-General"
df[df[label] == 1].describe().applymap('{:,.2f}'.format)

,ENTIDADFEDERATIVAPARTO,EDAD,NUMEROEMBARAZOS,HIJOSNACIDOSMUERTOS,ATENCIONPRENATAL,TRIMESTREPRIMERCONSULTA,TOTALCONSULTAS,SOBREVIVIOPARTO,ESCOLARIDAD,SEXO,EDADGESTACIONAL,TALLA,PESO,APGAR,SILVERMAN,PRODUCTOEMBARAZO,RESOLUCIONEMBARAZO,MC-1,MC-2,MC-G
count,"4,008.00","4,022.00","4,022.00","4,022.00","4,022.00","4,022.00","4,022.00","4,022.00","4,022.00","4,022.00","4,022.00","4,022.00","4,022.00","4,022.00","4,022.00","4,022.00","4,022.00","4,022.00","4,022.00","4,022.00"
mean,16.38,26.42,2.23,0.44,1.05,1.31,8.91,1.00,6.87,1.47,38.39,49.01,"3,648.51",9.07,1.08,1.03,1.60,"4,111.10","1,140.83","5,251.92"
std,8.03,6.59,1.98,4.44,0.48,0.97,10.81,0.13,9.44,0.60,2.93,3.71,"2,020.48",5.40,8.41,0.32,0.70,"4,896.25","3,162.12","6,244.04"
min,1.00,12.00,1.00,0.00,1.00,0.00,0.00,1.00,1.00,1.00,20.00,11.00,450.00,0.00,0.00,0.00,1.00,0.00,0.00,1.00
25%,10.00,21.00,1.00,0.00,1.00,1.00,6.00,1.00,5.00,1.00,38.00,48.00,"2,800.00",9.00,0.00,1.00,1.00,10.00,0.00,10.00
50%,15.00,26.00,2.00,0.00,1.00,1.00,8.00,1.00,6.00,1.00,39.00,50.00,"3,140.00",9.00,0.00,1.00,2.00,10.00,0.00,100.00
75%,22.00,31.00,3.00,0.00,1.00,1.00,10.00,1.00,7.00,2.00,40.00,51.00,"3,490.00",9.00,0.00,1.00,2.00,"10,000.00",0.00,"10,000.00"
max,35.00,99.00,99.00,99.00,9.00,9.00,99.00,9.00,99.00,9.00,99.00,99.00,"9,999.00",99.00,99.00,9.00,9.00,"10,000.00","10,000.00","20,000.00"

In [69]:
df[df[label] == 1].mode(numeric_only=True)

,ENTIDADFEDERATIVAPARTO,EDAD,NUMEROEMBARAZOS,HIJOSNACIDOSMUERTOS,ATENCIONPRENATAL,TRIMESTREPRIMERCONSULTA,TOTALCONSULTAS,SOBREVIVIOPARTO,ESCOLARIDAD,SEXO,EDADGESTACIONAL,TALLA,PESO,APGAR,SILVERMAN,PRODUCTOEMBARAZO,RESOLUCIONEMBARAZO,MC-1,MC-2,MC-G
0,15.0,27,1,0,1,1,8,1,5,1,39,50,9999,9,0,1,2,10,0,10

## Malformación congénita craneofacial
- Ausente (1)
- Presente (2)

In [70]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(df[df[label] == 1].CODIGOCIEANOMALIA1.value_counts().add(df[df[label] == 1].CODIGOCIEANOMALIA2.value_counts(),fill_value=0).sort_values(ascending=False).to_markdown())

|      |    0 |
|:-----|-----:|
| 0000 | 2488 |
| Q170 |  865 |
| Q379 |  608 |
| Q369 |  607 |
| Q172 |  426 |
| Q359 |  397 |
| Q173 |  307 |
| Q174 |  213 |
| 9999 |  152 |
| Q381 |  116 |
| Q161 |   72 |
| Q372 |   67 |
| Q178 |   62 |
| Q184 |   59 |
| Q181 |   58 |
| Q360 |   55 |
| Q179 |   49 |
| Q189 |   47 |
| P128 |   47 |
| Q160 |   41 |
| P073 |   38 |
| Q309 |   36 |
| Q385 |   34 |
| Q188 |   29 |
| Q300 |   28 |
| P071 |   28 |
| Q371 |   26 |
| Q386 |   26 |
| Q308 |   25 |
| Q380 |   23 |
| Q103 |   22 |
| P081 |   22 |
| Q120 |   21 |
| Q660 |   20 |
| Q382 |   18 |
| P835 |   17 |
| Q699 |   17 |
| Q039 |   16 |
| Q370 |   16 |
| Q378 |   16 |
| Q169 |   16 |
| Q111 |   14 |
| Q531 |   14 |
| Q02X |   13 |
| K070 |   12 |
| Q351 |   12 |
| Q383 |   12 |
| Q897 |   11 |
| Q112 |   11 |
| Q302 |   10 |
| Q159 |   10 |
| Q352 |   10 |
| P229 |   10 |
| P221 |   10 |
| Q158 |   10 |
| Q355 |    9 |
| Q532 |    9 |
| Q423 |    9 |
| Q828 |    9 |
| Q709 |    9 |
| Q361 |    8 |
| D180 |    8 |
| Q663 |    8 |
| Q000 |    8 |
| Q758 |    8 |
| Q105 |    8 |
| Q539 |    8 |
| Q374 |    8 |
| Q303 |    7 |
| Q373 |    7 |
| Q353 |    7 |
| Q652 |    7 |
| Q909 |    7 |
| Q753 |    7 |
| P059 |    7 |
| Q668 |    7 |
| Q870 |    6 |
| Q795 |    6 |
| Q752 |    6 |
| Q674 |    6 |
| Q133 |    6 |
| Q549 |    6 |
| Q101 |    6 |
| Q171 |    6 |
| Q185 |    5 |
| P121 |    5 |
| Q301 |    5 |
| P219 |    5 |
| Q375 |    5 |
| P369 |    5 |
| P220 |    5 |
| Q106 |    5 |
| Q690 |    5 |
| Q182 |    5 |
| Q183 |    5 |
| Q692 |    4 |
| Q180 |    4 |
| Q384 |    4 |
| Q175 |    4 |
| Q898 |    4 |
| Q899 |    4 |
| Q357 |    4 |
| Q700 |    4 |
| Q249 |    4 |
| P158 |    4 |
| P968 |    4 |
| P838 |    4 |
| P701 |    4 |
| P050 |    4 |
| P072 |    4 |
| Q113 |    4 |
| Q390 |    3 |
| Q833 |    3 |
| Q792 |    3 |
| Q165 |    3 |
| Q031 |    3 |
| Q742 |    3 |
| Q559 |    3 |
| Q164 |    3 |
| Q666 |    3 |
| P113 |    3 |
| Q670 |    3 |
| Q701 |    3 |
| P969 |    3 |
| Q761 |    3 |
| P052 |    3 |
| Q059 |    3 |
| Q128 |    3 |
| Q163 |    3 |
| K429 |    3 |
| Q104 |    3 |
| Q206 |    3 |
| Q139 |    2 |
| P159 |    2 |
| P143 |    2 |
| Q132 |    2 |
| Q740 |    2 |
| Q564 |    2 |
| Q729 |    2 |
| Q718 |    2 |
| Q650 |    2 |
| P120 |    2 |
| P123 |    2 |
| P026 |    2 |
| Q665 |    2 |
| Q149 |    2 |
| Q999 |    2 |
| Q672 |    2 |
| Q702 |    2 |
| Q677 |    2 |
| Q681 |    2 |
| Q688 |    2 |
| Q439 |    2 |
| Q058 |    2 |
| Q751 |    2 |
| Q042 |    2 |
| Q187 |    2 |
| Q759 |    2 |
| Q825 |    2 |
| Q387 |    2 |
| P240 |    2 |
| Q878 |    2 |
| P545 |    2 |
| K090 |    2 |
| Q848 |    2 |
| Q107 |    2 |
| P704 |    2 |
| Q929 |    1 |
| P004 |    1 |
| Q868 |    1 |
| Q703 |    1 |
| N492 |    1 |
| Q871 |    1 |
| P051 |    1 |
| Q704 |    1 |
| P025 |    1 |
| P013 |    1 |
| Q928 |    1 |
| Q794 |    1 |
| Q727 |    1 |
| Q793 |    1 |
| Q790 |    1 |
| Q731 |    1 |
| H610 |    1 |
| Q764 |    1 |
| K068 |    1 |
| Q743 |    1 |
| Q760 |    1 |
| Q750 |    1 |
| Q872 |    1 |
| P038 |    1 |
| Q713 |    1 |
| Q641 |    1 |
| Q691 |    1 |
| P942 |    1 |
| P288 |    1 |
| P291 |    1 |
| P298 |    1 |
| P544 |    1 |
| P548 |    1 |
| P550 |    1 |
| P832 |    1 |
| P917 |    1 |
| P918 |    1 |
| Q019 |    1 |
| P284 |    1 |
| Q049 |    1 |
| Q078 |    1 |
| Q100 |    1 |
| Q212 |    1 |
| Q110 |    1 |
| Q134 |    1 |
| Q135 |    1 |
| Q141 |    1 |
| Q150 |    1 |
| P285 |    1 |
| P283 |    1 |
| P080 |    1 |
| Q600 |    1 |
| Q682 |    1 |
| Q678 |    1 |
| Q675 |    1 |
| P101 |    1 |
| Q658 |    1 |
| P129 |    1 |
| Q648 |    1 |
| Q638 |    1 |
| Q613 |    1 |
| Q561 |    1 |
| P241 |    1 |
| Q558 |    1 |
| Q550 |    1 |
| P134 |    1 |
| Q528 |    1 |
| Q526 |    1 |
| P209 |    1 |
| Q421 |    1 |
| Q402 |    1 |
| Q400 |    1 |
| R220 |    1 |

## MCF Categórica
- Oftalmológicas (1)
- Oído (2)
- Cara y cuello (3)
- Nariz (4)
- Lengua y boca (5)

In [71]:
label = "MC-G2"
mc_value = {
    'oftalmo': 1,
    'oido': 2,
    'cuello': 3,
    'nariz': 4,
    'boca': 5
}

#### Lista oftalmo

In [72]:
value = mc_value['oftalmo']
a = df[df[label] == value].CODIGOCIEANOMALIA1.value_counts()
b = df[df[label] == value].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False).to_markdown())

|      |   0 |
|:-----|----:|
| 0000 |  60 |
| Q103 |  17 |
| Q120 |  13 |
| Q158 |  10 |
| Q112 |   9 |
| Q111 |   7 |
| Q159 |   6 |
| Q105 |   6 |
| Q101 |   4 |
| Q660 |   4 |
| Q113 |   4 |
| Q039 |   3 |
| Q133 |   3 |
| Q106 |   3 |
| Q149 |   2 |
| 9999 |   2 |
| Q139 |   2 |
| Q132 |   2 |
| Q104 |   2 |
| Q107 |   2 |
| P073 |   2 |
| P220 |   2 |
| P072 |   1 |
| Q423 |   1 |
| Q652 |   1 |
| P071 |   1 |
| Q663 |   1 |
| P548 |   1 |
| Q668 |   1 |
| Q688 |   1 |
| Q690 |   1 |
| Q699 |   1 |
| Q709 |   1 |
| Q742 |   1 |
| Q743 |   1 |
| Q758 |   1 |
| Q674 |   1 |
| Q134 |   1 |
| Q150 |   1 |
| Q141 |   1 |
| Q135 |   1 |
| P701 |   1 |
| Q128 |   1 |
| P123 |   1 |
| P128 |   1 |
| Q110 |   1 |
| P221 |   1 |
| P241 |   1 |
| P545 |   1 |
| Q100 |   1 |
| Q02X |   1 |
| Q000 |   1 |
| P838 |   1 |
| Q899 |   1 |

#### Lista oido

In [73]:
value = mc_value['oido']
a = df[df[label] == value].CODIGOCIEANOMALIA1.value_counts()
b = df[df[label] == value].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False).to_markdown())

|      |    0 |
|:-----|-----:|
| 0000 | 1218 |
| Q170 |  698 |
| Q172 |  334 |
| Q173 |  214 |
| Q174 |  181 |
| 9999 |   71 |
| Q178 |   45 |
| Q179 |   43 |
| Q161 |   41 |
| Q160 |   25 |
| P128 |   24 |
| P073 |   15 |
| P071 |   10 |
| P835 |    9 |
| Q828 |    9 |
| Q169 |    9 |
| P081 |    9 |
| Q171 |    6 |
| K070 |    5 |
| Q531 |    5 |
| Q039 |    5 |
| Q660 |    5 |
| Q699 |    5 |
| Q795 |    5 |
| Q870 |    5 |
| Q532 |    5 |
| Q674 |    4 |
| P059 |    4 |
| P221 |    4 |
| Q539 |    3 |
| Q164 |    3 |
| P838 |    3 |
| Q165 |    3 |
| D180 |    3 |
| Q898 |    3 |
| Q690 |    3 |
| K429 |    3 |
| Q833 |    3 |
| Q668 |    3 |
| P158 |    3 |
| P113 |    3 |
| Q718 |    2 |
| Q761 |    2 |
| Q758 |    2 |
| Q752 |    2 |
| Q729 |    2 |
| Q549 |    2 |
| Q175 |    2 |
| Q559 |    2 |
| Q672 |    2 |
| Q206 |    2 |
| Q670 |    2 |
| Q249 |    2 |
| Q652 |    2 |
| Q390 |    2 |
| Q666 |    2 |
| Q909 |    2 |
| P052 |    2 |
| P143 |    2 |
| P050 |    2 |
| Q02X |    2 |
| P969 |    2 |
| P072 |    2 |
| P701 |    2 |
| P219 |    2 |
| P159 |    2 |
| P026 |    2 |
| Q753 |    1 |
| Q751 |    1 |
| Q163 |    1 |
| Q750 |    1 |
| Q759 |    1 |
| P101 |    1 |
| Q727 |    1 |
| P120 |    1 |
| Q713 |    1 |
| Q709 |    1 |
| Q742 |    1 |
| Q764 |    1 |
| Q760 |    1 |
| Q701 |    1 |
| Q792 |    1 |
| Q794 |    1 |
| P038 |    1 |
| Q825 |    1 |
| P025 |    1 |
| Q868 |    1 |
| P004 |    1 |
| Q871 |    1 |
| Q872 |    1 |
| Q897 |    1 |
| H610 |    1 |
| Q899 |    1 |
| Q702 |    1 |
| Q688 |    1 |
| P121 |    1 |
| P129 |    1 |
| Q058 |    1 |
| Q042 |    1 |
| P968 |    1 |
| Q400 |    1 |
| Q402 |    1 |
| Q423 |    1 |
| Q528 |    1 |
| P550 |    1 |
| P545 |    1 |
| P369 |    1 |
| P288 |    1 |
| Q550 |    1 |
| P240 |    1 |
| Q613 |    1 |
| Q648 |    1 |
| P229 |    1 |
| Q658 |    1 |
| P220 |    1 |
| Q663 |    1 |
| Q665 |    1 |
| P209 |    1 |
| P134 |    1 |
| Q675 |    1 |
| Q677 |    1 |
| Q681 |    1 |
| Q682 |    1 |
| Q078 |    1 |
| Q212 |    1 |

Lista cuello

In [74]:
value = mc_value['cuello']
a = df[df[label] == value].CODIGOCIEANOMALIA1.value_counts()
b = df[df[label] == value].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False).to_markdown())

|      |   0 |
|:-----|----:|
| 0000 | 120 |
| Q181 |  56 |
| Q184 |  56 |
| Q189 |  34 |
| Q188 |  15 |
| 9999 |   9 |
| P081 |   6 |
| Q182 |   5 |
| Q185 |   3 |
| P071 |   3 |
| Q183 |   2 |
| P704 |   2 |
| Q187 |   2 |
| Q180 |   2 |
| P229 |   1 |
| Q663 |   1 |
| Q665 |   1 |
| Q677 |   1 |
| Q699 |   1 |
| Q701 |   1 |
| Q731 |   1 |
| Q652 |   1 |
| Q740 |   1 |
| Q742 |   1 |
| Q751 |   1 |
| Q752 |   1 |
| Q761 |   1 |
| Q790 |   1 |
| Q660 |   1 |
| Q423 |   1 |
| Q558 |   1 |
| Q439 |   1 |
| P283 |   1 |
| K070 |   1 |
| K090 |   1 |
| P080 |   1 |
| P121 |   1 |
| P128 |   1 |
| Q02X |   1 |
| P835 |   1 |
| P832 |   1 |
| P701 |   1 |
| P284 |   1 |
| Q825 |   1 |

Lista nariz

In [75]:
value = mc_value['nariz']
a = df[df[label] == value].CODIGOCIEANOMALIA1.value_counts()
b = df[df[label] == value].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False).to_markdown())

|      |   0 |
|:-----|----:|
| 0000 |  36 |
| Q309 |  25 |
| Q300 |  18 |
| Q308 |  16 |
| Q301 |   5 |
| P071 |   3 |
| Q752 |   3 |
| Q302 |   3 |
| P835 |   2 |
| 9999 |   2 |
| D180 |   2 |
| Q423 |   1 |
| Q795 |   1 |
| Q758 |   1 |
| Q699 |   1 |
| Q539 |   1 |
| Q531 |   1 |
| P128 |   1 |
| P219 |   1 |
| Q303 |   1 |
| P081 |   1 |
| Q000 |   1 |
| P229 |   1 |
| P221 |   1 |
| Q909 |   1 |

Lista lengua y boca

In [76]:
value = mc_value['boca']
a = df[df[label] == value].CODIGOCIEANOMALIA1.value_counts()
b = df[df[label] == value].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False).to_markdown())

|      |    0 |
|:-----|-----:|
| 0000 | 1054 |
| Q379 |  466 |
| Q369 |  425 |
| Q359 |  233 |
| Q381 |   78 |
| 9999 |   68 |
| Q372 |   50 |
| Q360 |   45 |
| P073 |   21 |
| Q385 |   21 |
| Q371 |   21 |
| P128 |   20 |
| Q386 |   19 |
| Q380 |   19 |
| Q382 |   16 |
| Q383 |   12 |
| P071 |   11 |
| Q660 |   10 |
| Q897 |   10 |
| Q378 |    9 |
| Q699 |    9 |
| Q370 |    9 |
| Q02X |    9 |
| Q531 |    8 |
| Q039 |    8 |
| P229 |    7 |
| Q709 |    7 |
| Q351 |    7 |
| Q000 |    6 |
| P081 |    6 |
| K070 |    6 |
| Q753 |    6 |
| Q352 |    6 |
| Q373 |    5 |
| Q663 |    5 |
| P835 |    5 |
| Q423 |    5 |
| Q355 |    5 |
| Q549 |    4 |
| Q692 |    4 |
| Q700 |    4 |
| Q539 |    4 |
| Q532 |    4 |
| Q758 |    4 |
| Q361 |    4 |
| Q909 |    4 |
| Q357 |    4 |
| Q384 |    4 |
| Q375 |    4 |
| P221 |    4 |
| P369 |    4 |
| Q031 |    3 |
| P121 |    3 |
| Q374 |    3 |
| P968 |    3 |
| Q353 |    3 |
| D180 |    3 |
| Q652 |    3 |
| P059 |    3 |
| Q059 |    3 |
| Q668 |    3 |
| Q650 |    2 |
| Q792 |    2 |
| Q564 |    2 |
| P050 |    2 |
| P219 |    2 |
| Q249 |    2 |
| P220 |    2 |
| Q878 |    2 |
| Q999 |    2 |
| Q848 |    2 |
| Q899 |    2 |
| P051 |    1 |
| Q681 |    1 |
| Q929 |    1 |
| Q690 |    1 |
| Q928 |    1 |
| Q898 |    1 |
| Q691 |    1 |
| P052 |    1 |
| K068 |    1 |
| Q759 |    1 |
| K090 |    1 |
| Q701 |    1 |
| Q870 |    1 |
| Q702 |    1 |
| Q703 |    1 |
| Q704 |    1 |
| P013 |    1 |
| Q740 |    1 |
| N492 |    1 |
| Q674 |    1 |
| Q793 |    1 |
| Q678 |    1 |
| Q641 |    1 |
| Q670 |    1 |
| P285 |    1 |
| Q206 |    1 |
| Q058 |    1 |
| Q049 |    1 |
| Q042 |    1 |
| Q019 |    1 |
| P969 |    1 |
| P942 |    1 |
| P918 |    1 |
| P917 |    1 |
| P544 |    1 |
| P298 |    1 |
| P291 |    1 |
| P240 |    1 |
| Q666 |    1 |
| Q390 |    1 |
| Q421 |    1 |
| Q439 |    1 |
| Q526 |    1 |
| P158 |    1 |
| P123 |    1 |
| P120 |    1 |
| Q559 |    1 |
| Q561 |    1 |
| Q600 |    1 |
| Q638 |    1 |
| P072 |    1 |
| R220 |    1 |

In [77]:
label="S-MG"
a = df[(df[label] == 1) | (df[label] == 2)].CODIGOCIEANOMALIA1.value_counts()
b = df[(df[label] == 1) | (df[label] == 2)].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False))

Q170    279.0
Q369    251.0
Q359    247.0
Q379    233.0
Q172    158.0
Q173    148.0
Q174     75.0
Q381     64.0
P128     47.0
Q161     41.0
P073     38.0
Q372     31.0
Q189     29.0
P071     28.0
Q385     24.0
Q160     24.0
Q178     23.0
P081     22.0
Q360     21.0
Q309     21.0
Q660     20.0
Q188     18.0
Q184     18.0
Q699     17.0
P835     17.0
Q039     16.0
Q179     16.0
Q308     16.0
Q300     15.0
Q120     15.0
Q531     14.0
Q02X     13.0
K070     12.0
Q371     12.0
Q103     12.0
Q897     11.0
Q111     11.0
Q386     11.0
Q169     11.0
P221     10.0
P229     10.0
Q351     10.0
Q370     10.0
Q302      9.0
Q709      9.0
Q423      9.0
Q532      9.0
Q380      9.0
Q828      9.0
Q539      8.0
Q758      8.0
Q663      8.0
Q181      8.0
Q378      8.0
Q000      8.0
D180      8.0
Q668      7.0
Q753      7.0
P059      7.0
Q303      7.0
Q909      7.0
Q652      7.0
Q112      7.0
Q549      6.0
Q361      6.0
Q382      6.0
Q352      6.0
Q752      6.0
Q795      6.0
Q870      6.0
Q374      6.0
Q674      6.0
P220      5.0
Q690      5.0
P219      5.0
Q301      5.0
P121      5.0
P369      5.0
Q353      5.0
Q159      5.0
Q355      5.0
Q183      4.0
Q898      4.0
Q249      4.0
P050      4.0
P838      4.0
P158      4.0
Q692      4.0
Q899      4.0
P968      4.0
Q373      4.0
Q106      4.0
Q700      4.0
P072      4.0
P701      4.0
Q206      3.0
Q792      3.0
Q390      3.0
P113      3.0
P052      3.0
Q031      3.0
K429      3.0
P969      3.0
Q761      3.0
Q101      3.0
Q742      3.0
Q666      3.0
Q128      3.0
Q133      3.0
Q059      3.0
Q833      3.0
Q158      3.0
Q670      3.0
Q185      3.0
Q559      3.0
Q701      3.0
Q751      2.0
Q702      2.0
Q665      2.0
Q650      2.0
Q677      2.0
Q564      2.0
Q718      2.0
Q375      2.0
Q387      2.0
P026      2.0
Q729      2.0
Q740      2.0
Q672      2.0
Q439      2.0
Q681      2.0
P120      2.0
Q163      2.0
Q878      2.0
Q149      2.0
Q132      2.0
P123      2.0
Q113      2.0
Q848      2.0
Q175      2.0
K090      2.0
Q825      2.0
Q105      2.0
Q180      2.0
P704      2.0
Q058      2.0
Q042      2.0
Q187      2.0
P240      2.0
P159      2.0
Q688      2.0
P143      2.0
Q999      2.0
Q759      2.0
P545      2.0
Q928      1.0
Q691      1.0
Q929      1.0
K068      1.0
P004      1.0
Q871      1.0
Q703      1.0
Q704      1.0
N492      1.0
Q872      1.0
Q713      1.0
Q868      1.0
Q727      1.0
Q731      1.0
Q794      1.0
Q793      1.0
Q743      1.0
Q750      1.0
Q790      1.0
Q764      1.0
Q760      1.0
P918      1.0
Q402      1.0
Q682      1.0
P298      1.0
H610      1.0
P209      1.0
Q212      1.0
P241      1.0
Q182      1.0
P283      1.0
P284      1.0
P285      1.0
P288      1.0
P291      1.0
Q171      1.0
Q678      1.0
P544      1.0
Q165      1.0
P548      1.0
P550      1.0
Q104      1.0
Q078      1.0
Q049      1.0
P832      1.0
Q019      1.0
P917      1.0
Q357      1.0
P134      1.0
P129      1.0
P101      1.0
Q675      1.0
P013      1.0
P025      1.0
Q658      1.0
Q648      1.0
Q641      1.0
Q638      1.0
Q613      1.0
Q600      1.0
Q561      1.0
Q558      1.0
Q550      1.0
P038      1.0
Q528      1.0
Q526      1.0
P051      1.0
Q421      1.0
P942      1.0
Q400      1.0
Q383      1.0
P080      1.0
R220      1.0
dtype: float64