<a href="https://colab.research.google.com/github/tlacloc/analisis-defunciones-nacimientos-2022/blob/main/2020_nacimientos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 # Libreria para cargar nuestro drive
from google.colab import drive

# Cargamos nuestro drive en nuestro notebook
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!ls "/content/drive/MyDrive/Colab Notebooks"

'Copy of SDC11_actividad1_Badillo_Casanova.ipynb'   SDC_12		 test.ipynb
'EVC Hackathon Files'				    SDC_13		 Untitled0.ipynb
 Image						    SDC_14		 Untitled1.ipynb
 miriam						    SDC_15		 Vero
 SCD_12_Erick_Casanova.ipynb			    test-forvero.ipynb	 Visualizacion

In [ ]:
# Librerias de ayuda
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind
import matplotlib.pyplot as plt
import seaborn as sns

year = '2020'
year_key = {
    '2022': 5,
    '2021': 4,
    '2020': 3,
    '2019': 2,
    '2018': 1
}

In [ ]:
fileName = '/content/drive/My Drive/Colab Notebooks/miriam/nacimientos_' + year + '.csv'
df = pd.read_csv(fileName, low_memory=False)
df.head(10)

,NACIOEXTRANJERO,ENTIDADNACIMIENTO,MUNICIPIONACIMIENTO,EDAD,SECONSIDERAINDIGENA,HABLALENGUAINDIGENA,FECHANACIMIENTOMADRE,ESTADOCONYUGAL,RESIDEEXTRANJERO,ENTIDADRESIDENCIA,...,TIPOMEDICOATENDIO,ENTIDADFEDERATIVAPARTO,MUNICIPIOPARTO,LOCALIDADPARTO,CERTIFICADOPOR,CLUESCERTIFICA,ENTIDADFEDERATIVACERTIFICA,MUNICIPIOCERTIFICA,LOCALIDADCERTIFICA,FECHACERTIFICADO
0,2,14,91,29,2,2,25/11/1990,5,2,14,...,11.0,14,91,1,7,NaN,14,91,1,09/01/2020
1,2,27,2,26,2,2,26/03/1993,5,2,27,...,NaN,27,5,74,5,NaN,27,5,1,07/01/2020
2,2,15,104,25,2,2,20/05/1994,4,2,15,...,11.0,15,33,1,2,NaN,15,33,1,11/01/2020
3,2,7,101,22,2,2,26/05/1997,4,2,7,...,11.0,7,101,1,1,NaN,7,101,1,15/01/2020
4,2,20,533,22,2,2,25/09/1997,4,2,20,...,11.0,20,59,1,4,NaN,20,59,1,10/01/2020
5,2,15,63,28,2,2,09/08/1991,5,2,15,...,13.0,15,106,1,2,NaN,15,106,1,07/01/2020
6,2,20,406,17,2,2,06/01/2003,1,2,29,...,14.0,29,25,9999,2,NaN,29,25,9999,06/01/2020
7,2,16,113,22,2,2,14/09/1997,5,2,16,...,11.0,16,69,1,1,MNSSA016533,16,69,1,10/01/2020
8,2,13,42,17,2,2,25/09/2002,4,2,13,...,11.0,13,81,1,4,HGIMO002043,13,81,1,06/01/2020
9,2,7,27,18,2,2,22/02/2001,4,2,7,...,15.0,7,78,1,4,NaN,7,78,1,13/01/2020

In [ ]:
oldColumns = df.columns
oldColumns

Index(['NACIOEXTRANJERO', 'ENTIDADNACIMIENTO', 'MUNICIPIONACIMIENTO', 'EDAD',
       'SECONSIDERAINDIGENA', 'HABLALENGUAINDIGENA', 'FECHANACIMIENTOMADRE',
       'ESTADOCONYUGAL', 'RESIDEEXTRANJERO', 'ENTIDADRESIDENCIA',
       'MUNICIPIORESIDENCIA', 'LOCALIDADRESIDENCIA', 'NUMEROEMBARAZOS',
       'HIJOSNACIDOSMUERTOS', 'HIJOSNACIDOSVIVOS', 'HIJOSSOBREVIVIENTES',
       'CONDICIONHIJOANTERIOR', 'VIVEHIJOANTERIOR', 'ORDENNACIMIENTO',
       'ATENCIONPRENATAL', 'TRIMESTREPRIMERCONSULTA', 'TOTALCONSULTAS',
       'SOBREVIVIOPARTO', 'AFILIACION', 'ESCOLARIDAD', 'INTERRUMPIOESTUDIOS',
       'CLAVEOCUPACIONHABITUAL', 'TRABAJAACTUALMENTE', 'EDADPADRE',
       'FECHANACIMIENTO', 'HORANACIMIENTO', 'SEXO', 'EDADGESTACIONAL', 'TALLA',
       'PESO', 'APGAR', 'SILVERMAN', 'TAMIZAUDITIVO', 'VACUNA_BCG',
       'VACUNAHEPATITIS_B', 'VITAMINA_A', 'VITAMINA_K', 'PRODUCTOEMBARAZO',
       'ORDENPRODUCTO', 'TOTALPRODUCTOS', 'CODIGOCIEANOMALIA1',
       'CODIGOCIEANOMALIA2', 'LUGARNACIMIENTO', 'CLUES', 'TIEMPOTRASLADO',
       'RESOLUCIONEMBARAZO', 'UTILIZOFORCEPS', 'TIPOCESAREA',
       'PERSONALATENDIO', 'TIPOMEDICOATENDIO', 'ENTIDADFEDERATIVAPARTO',
       'MUNICIPIOPARTO', 'LOCALIDADPARTO', 'CERTIFICADOPOR', 'CLUESCERTIFICA',
       'ENTIDADFEDERATIVACERTIFICA', 'MUNICIPIOCERTIFICA',
       'LOCALIDADCERTIFICA', 'FECHACERTIFICADO'],
      dtype='object')

Variables que sd van a utilizar

In [ ]:
# Limpieza de datos
# Se eliminaran las columnas que no se utilizaran

columnsToRemove = [
    "TAMIZAUDITIVO",
    "HIJOSSOBREVIVIENTES",
    # "FECHANACIMIENTO",
    "ORDENPRODUCTO",
    "NACIOEXTRANJERO",
    "ENTIDADNACIMIENTO",
    "MUNICIPIONACIMIENTO",
    "SECONSIDERAINDIGENA",
    "HABLALENGUAINDIGENA",
    "FECHANACIMIENTOMADRE",
    "RESIDEEXTRANJERO",
    "ESTADOCONYUGAL",
    "ENTIDADRESIDENCIA",
    "MUNICIPIORESIDENCIA",
    "LOCALIDADRESIDENCIA",
    "HIJOSNACIDOSVIVOS",
    "CONDICIONHIJOANTERIOR",
    "VIVEHIJOANTERIOR",
    "ORDENNACIMIENTO",
    "AFILIACION",
    "INTERRUMPIOESTUDIOS",
    "CLAVEOCUPACIONHABITUAL",
    "TRABAJAACTUALMENTE",
    "HORANACIMIENTO",
    "VACUNA_BCG",
    "VACUNAHEPATITIS_B",
    "VITAMINA_A",
    "VITAMINA_K",
    # Relacionado a gemelos
    # "PRODUCTOEMBARAZO",
    "ORDENPRODUCTO",
    "TOTALPRODUCTOS",
    "CLUES",
    "TIEMPOTRASLADO",
    # "RESOLUCIONEMBARAZO",
    "UTILIZOFORCEPS",
    "TIPOCESAREA",
    "PERSONALATENDIO",
    "TIPOMEDICOATENDIO",
    "MUNICIPIOPARTO",
    "LOCALIDADPARTO",
    "CERTIFICADOPOR",
    "CLUESCERTIFICA",
    "ENTIDADFEDERATIVACERTIFICA",
    "MUNICIPIOCERTIFICA",
    "LOCALIDADCERTIFICA",
    "FECHACERTIFICADO",
    "LUGARNACIMIENTO",
    "EDADPADRE"
]

df.drop(columnsToRemove, inplace=True, axis=1)

In [ ]:
columnsToReview = df.columns
columnsToReview

Index(['EDAD', 'NUMEROEMBARAZOS', 'HIJOSNACIDOSMUERTOS', 'ATENCIONPRENATAL',
       'TRIMESTREPRIMERCONSULTA', 'TOTALCONSULTAS', 'SOBREVIVIOPARTO',
       'ESCOLARIDAD', 'FECHANACIMIENTO', 'SEXO', 'EDADGESTACIONAL', 'TALLA',
       'PESO', 'APGAR', 'SILVERMAN', 'PRODUCTOEMBARAZO', 'CODIGOCIEANOMALIA1',
       'CODIGOCIEANOMALIA2', 'RESOLUCIONEMBARAZO', 'ENTIDADFEDERATIVAPARTO'],
      dtype='object')

In [ ]:
#df=df.drop(df[df['EDAD']==999].index)
#df=df.drop(df[df['EDAD']==888].index)
#df=df.drop(df[df['NUMEROEMBARAZOS']==99].index)
#df=df.drop(df[df['HIJOSNACIDOSMUERTOS']==99].index)
#df=df.drop(df[df['ATENCIONPRENATAL']==9].index)
#df=df.drop(df[df['TRIMESTREPRIMERCONSULTA']==9].index)
#df=df.drop(df[df['TOTALCONSULTAS']==99].index)
#df=df.drop(df[df['SOBREVIVIOPARTO']==9].index)
#df=df.drop(df[df['ESCOLARIDAD']==999].index)
#df=df.drop(df[df['EDADPADRE']==999].index)
#df=df.drop(df[df['SEXO']==99].index)
#df=df.drop(df[df['EDADGESTACIONAL']==99].index)
#df=df.drop(df[df['TALLA']==99].index)
#df=df.drop(df[df['PESO']==9999].index)
#df=df.drop(df[df['TALLA']==9].index)
#df=df.drop(df[df['APGAR']==99].index)
#df=df.drop(df[df['SILVERMAN']==99].index)
#df=df.drop(df[df['UTILIZOFORCEPS']==9].index)

In [ ]:
df.head(10)

,EDAD,NUMEROEMBARAZOS,HIJOSNACIDOSMUERTOS,ATENCIONPRENATAL,TRIMESTREPRIMERCONSULTA,TOTALCONSULTAS,SOBREVIVIOPARTO,ESCOLARIDAD,FECHANACIMIENTO,SEXO,EDADGESTACIONAL,TALLA,PESO,APGAR,SILVERMAN,PRODUCTOEMBARAZO,CODIGOCIEANOMALIA1,CODIGOCIEANOMALIA2,RESOLUCIONEMBARAZO,ENTIDADFEDERATIVAPARTO
0,29,2,0,1,1,8,1,81,09/01/2020,2,39,50,3000,9,0,1,0000,0000,1,14
1,26,6,1,1,3,2,1,31,04/01/2020,1,35,52,9999,0,0,1,0000,0000,1,27
2,25,2,0,1,1,15,1,51,08/01/2020,1,38,51,3200,9,0,1,0000,0000,3,15
3,22,2,0,1,1,10,1,71,15/01/2020,1,39,50,3150,9,0,1,0000,0000,3,7
4,22,2,0,1,1,8,1,31,10/01/2020,2,40,50,3400,9,0,1,0000,0000,3,20
5,28,2,0,1,1,7,1,51,07/01/2020,2,33,46,1945,9,0,2,0000,0000,3,15
6,17,1,0,1,1,6,1,51,06/01/2020,1,41,49,3200,9,0,1,0000,0000,1,29
7,22,2,0,1,1,9,1,31,09/01/2020,1,38,49,3300,9,0,1,0000,0000,1,16
8,17,1,0,1,1,9,1,51,05/01/2020,2,39,44,2885,9,2,1,0000,0000,1,13
9,18,1,0,1,1,8,1,51,13/01/2020,2,39,49,3000,9,0,1,0000,0000,1,7

# Variable: presencia o ausencia de Malformaciones Craneofaciales MCF
- Con MCF (1)
- Sin (0)

In [ ]:
def update_codes(base_array):
  new_codes = []
  for value in base_array:
    for i in range(0, 10):
      new_codes.append(value[:-1] + str(i))

  return new_codes

In [ ]:
codigos_mc = update_codes(['Q100', 'Q110', 'Q120', 'Q130', 'Q140', 'Q150', 'Q160', 'Q170', 'Q180', 'Q300', 'Q350', 'Q360', 'Q370', 'Q380'])
anomalias_mc = df['CODIGOCIEANOMALIA1'].isin(codigos_mc) | df['CODIGOCIEANOMALIA2'].isin(codigos_mc)

key = "MCC-General"

df[key] = None
df[key] = np.where(df.CODIGOCIEANOMALIA1.isin(codigos_mc) | df.CODIGOCIEANOMALIA2.isin(codigos_mc), 1, 0)
df[key].mask((~df.CODIGOCIEANOMALIA1.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA2 == '9999'), None, inplace=True)
df[key].mask((~df.CODIGOCIEANOMALIA2.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA1 == '9999'), None, inplace=True)
df[key].value_counts()

0.0    1725928
1.0       3771
Name: MCC-General, dtype: int64

## Variable categórica clasificación de MCF
- Oftalmológicas Q100 Q110 Q120 Q130 Q140 Q150
- Oído Q160 Q170
- Cara y cuello Q180
- Nariz Q300
- Lengua y boca Q380 Q350 Q360 Q370

Aqui se usan numeros primos para hacer la limpieza de datos

In [ ]:
codigos_oftalmo = update_codes(['Q100', 'Q110', 'Q120', 'Q130', 'Q140', 'Q150'])
codigos_oido = update_codes(['Q160', 'Q170'])
codigos_cara_cuello = update_codes(['Q180'])
codigos_nariz = update_codes(['Q300'])
codigos_lengua_boca = update_codes(['Q380', 'Q350', 'Q360', 'Q370'])

mc_value = {
    'oftalmo': 2,
    'oido': 3,
    'cuello': 5,
    'nariz': 7,
    'boca': 11
}
mc_values = [2, 3, 5, 7, 11]

### Oftalmo

In [ ]:
# Valores par oftalmo
value = mc_value['oftalmo']
key = "MC-1"
df[key] = 0
df[key].mask(df['CODIGOCIEANOMALIA1'].isin(codigos_oftalmo), value, inplace=True)

key = "MC-2"
df[key] = 0
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_oftalmo), value, inplace=True)

### Oido

In [ ]:
# Valores par oido
value = mc_value['oido']
key = "MC-1"
df[key].mask(df['CODIGOCIEANOMALIA1'].isin(codigos_oido), value, inplace=True)

key = "MC-2"
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_oido), value, inplace=True)

### Cara y cuello

In [ ]:
# Valores par cara y cuello
value = mc_value['cuello']
key = "MC-1"
df[key].mask(df['CODIGOCIEANOMALIA1'].isin(codigos_cara_cuello), value, inplace=True)

key = "MC-2"
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_cara_cuello), value, inplace=True)

### Nariz

In [ ]:
# Valores para nariz
value = mc_value['nariz']
key = "MC-1"
df[key].mask(df['CODIGOCIEANOMALIA1'].isin(codigos_nariz), value, inplace=True)

key = "MC-2"
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_nariz), value, inplace=True)

### Lengua y boca

In [ ]:
# Valores para lengua y boca
value = mc_value['boca']
key = "MC-1"
df[key].mask(df['CODIGOCIEANOMALIA1'].isin(codigos_lengua_boca), value, inplace=True)

key = "MC-2"
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_lengua_boca), value, inplace=True)

In [ ]:
key = "MC-1"
df[key].value_counts()

0     1744406
3        1653
11       1500
5         143
2          76
7          69
Name: MC-1, dtype: int64

In [ ]:
key = "MC-2"
df[key].value_counts()

0     1746864
3         435
11        425
5          54
2          35
7          34
Name: MC-2, dtype: int64

In [ ]:
key = 'MC-G'
df[key] = None
df[key] = df[['MC-1', 'MC-2']].sum(axis=1)
df[key].value_counts()

0     1744076
3        1523
11       1302
22        286
6         247
5         136
2          84
7          77
14         44
10         30
8          18
4           7
13          5
9           4
16          3
18          3
12          2
Name: MC-G, dtype: int64

## Variable categórica clasificación de MCF
- Oftalmológicas (1)
- Oído (2)
- Cara y cuello (3)
- Nariz (4)
- Lengua y boca (5)

In [ ]:
key="MC-G2"
etiqueta = 'MC-G'

df[key] = None
df[key].mask(df[etiqueta] == mc_value['oftalmo'], 1, inplace=True)
df[key].mask(df[etiqueta] == mc_value['oido'], 2, inplace=True)
df[key].mask(df[etiqueta] == mc_value['cuello'], 3, inplace=True)
df[key].mask(df[etiqueta] == mc_value['nariz'], 4, inplace=True)
df[key].mask(df[etiqueta] == mc_value['boca'], 5, inplace=True)
df[key].mask(~df[etiqueta].isin(mc_values), 6, inplace=True)
df[key].mask(df[etiqueta] == 0, None, inplace=True)


df[key].value_counts()

2    1523
5    1302
6     649
3     136
1      84
4      77
Name: MC-G2, dtype: int64

# Dos malformaciones
- No tenga una segunda malformacion, solo la primera sea MC (0)
- Las dos malformaciones sean cranofaciales  (1)
- Que una sea segunda malformacion y otra de otro tipo (2)

In [ ]:
codigos_mc = update_codes(['Q100', 'Q110', 'Q120', 'Q130', 'Q140', 'Q150', 'Q160', 'Q170', 'Q180', 'Q300', 'Q350', 'Q360', 'Q370', 'Q380'])
key="S-MG"
df[key] = None
#
df[key].mask(
    (df.CODIGOCIEANOMALIA1.isin(codigos_mc) & (df.CODIGOCIEANOMALIA2 == '0000')) | (df.CODIGOCIEANOMALIA2.isin(codigos_mc) & (df.CODIGOCIEANOMALIA1 == '0000'))
    , 0, inplace=True)
df[key].mask(df.CODIGOCIEANOMALIA1.isin(codigos_mc) & df.CODIGOCIEANOMALIA2.isin(codigos_mc), 1, inplace=True)
df[key].mask(
    (df.CODIGOCIEANOMALIA1.isin(codigos_mc) & (df.CODIGOCIEANOMALIA2 != '0000') & (df.CODIGOCIEANOMALIA2 != '9999') & (~df.CODIGOCIEANOMALIA2.isin(codigos_mc))) | (df.CODIGOCIEANOMALIA2.isin(codigos_mc) & (df.CODIGOCIEANOMALIA1 != '0000') & (df.CODIGOCIEANOMALIA1 != '9999') &  (~df.CODIGOCIEANOMALIA1.isin(codigos_mc)))
    , 2, inplace=True)
df[key].value_counts()

0    2365
1     653
2     640
Name: S-MG, dtype: int64

In [ ]:
df[(df.CODIGOCIEANOMALIA1.isin(codigos_mc) & (df.CODIGOCIEANOMALIA2 != '0000') & (df.CODIGOCIEANOMALIA2 != '9999')) | (df.CODIGOCIEANOMALIA2.isin(codigos_mc) & (df.CODIGOCIEANOMALIA1 != '0000') & (df.CODIGOCIEANOMALIA1 != '9999'))]

,EDAD,NUMEROEMBARAZOS,HIJOSNACIDOSMUERTOS,ATENCIONPRENATAL,TRIMESTREPRIMERCONSULTA,TOTALCONSULTAS,SOBREVIVIOPARTO,ESCOLARIDAD,FECHANACIMIENTO,SEXO,...,CODIGOCIEANOMALIA1,CODIGOCIEANOMALIA2,RESOLUCIONEMBARAZO,ENTIDADFEDERATIVAPARTO,MCC-General,MC-1,MC-2,MC-G,MC-G2,S-MG
424,30,4,1,1,1,6,1,51,26/02/2020,1,...,Q172,Q172,3,15,1.0,3,3,6,6,1
1488,38,5,3,1,2,6,1,51,18/06/2020,2,...,K070,Q309,3,22,1.0,0,7,7,4,2
2389,22,2,0,1,1,8,1,51,21/05/2020,1,...,Q172,Q170,1,30,1.0,3,3,6,6,1
3456,34,4,1,1,1,9,1,51,20/01/2020,2,...,Q709,Q353,1,14,1.0,0,11,11,5,2
4863,38,1,0,1,2,8,1,31,28/06/2020,1,...,Q379,Q379,3,20,1.0,11,11,22,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1743497,24,4,2,1,2,3,1,52,14/03/2020,1,...,Q188,Q682,3,14,1.0,5,0,5,3,2
1744458,36,4,1,1,1,6,1,31,14/02/2020,2,...,Q369,Q373,3,14,1.0,11,11,22,6,1
1746165,22,2,0,1,9,4,1,31,21/02/2020,2,...,Q170,P121,1,14,1.0,3,0,3,2,2
1746557,24,2,0,1,1,6,1,71,01/02/2020,2,...,Q369,Q359,3,14,1.0,11,11,22,6,1
1747662,32,1,0,1,1,5,1,51,09/03/2020,2,...,Q173,Q173,3,14,1.0,3,3,6,6,1

# Edad materna
Edades por decadas de vida de los que presentan malformaciones craneofaciales, ya sea en una sola columna o ambas.
menores de 20 años
20-29
30-39
40-49
mayores o igual a 50

In [ ]:
etiqueta = 'EDAD'
key = "Edad materna"
df[key] = None


df[key].mask(df[etiqueta] < 20, 1, inplace=True)
df[key].mask((df[etiqueta] >= 20) & (df[etiqueta] < 30), 2, inplace=True)
df[key].mask((df[etiqueta] >= 30) & (df[etiqueta] < 40), 3, inplace=True)
df[key].mask((df[etiqueta] >= 40) & (df[etiqueta] < 50), 4, inplace=True)
df[key].mask((df[etiqueta] >= 50) & (df[etiqueta] != 999), 5, inplace=True)
df[key].value_counts()

2    947724
3    464198
1    297296
4     37774
5       276
Name: Edad materna, dtype: int64

## Tipo de producto del embarazo
- Único (1)
- Gemelar (2)
- Tres o más (3)

In [ ]:
etiqueta = 'PRODUCTOEMBARAZO'
key = "Tipo producto"
df[key] = None
df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask(df[etiqueta] == 3, 3, inplace=True)
df[key].value_counts()

1    1715899
2      27508
3        743
Name: Tipo producto, dtype: int64

# Numero de embarazos
Primigesta (1 embarazo)
Multigesta (2 a 5 embarazos)
Gran multigesta (6 o más embarazos)

In [ ]:
etiqueta = 'NUMEROEMBARAZOS'
key = "Numero de embarazos"
df[key] = None


df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask((df[etiqueta] >= 2) & (df[etiqueta] < 6), 2, inplace=True)
df[key].mask((df[etiqueta] >= 6) & (df[etiqueta] != 99), 3, inplace=True)
df[key].value_counts()

2    1100041
1     613535
3      33943
Name: Numero de embarazos, dtype: int64

#Hijos nacidos muertos
- Ausente (0)
- Presente (1)

In [ ]:
etiqueta = 'HIJOSNACIDOSMUERTOS'
key = "Hijos nacidos muertos"
df[key] = None

df[key].mask((df[etiqueta] >= 1) & (df[etiqueta] != 99), 1, inplace=True)
df[key].mask(df[etiqueta] == 0, 0, inplace=True)
df[key].value_counts()

0    1464334
1     280341
Name: Hijos nacidos muertos, dtype: int64

# Madre sobrevivio parto SOBREVIVIOPARTO
* Si 1
* No 2
* no aplica, se ignora, no especificado 0, 8, 9

In [ ]:
etiqueta = 'SOBREVIVIOPARTO'
no_especificado = [0, 8, 9]

key = "Madre sobrevivio al parto"
df[key] = None

df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask(df[etiqueta].isin(no_especificado), 3, inplace=True)
df[key].value_counts()

1    1745588
3       2116
2        143
Name: Madre sobrevivio al parto, dtype: int64

#Madre recibio atencion prenatal
* Si 1
* No 2
* no aplica, se ignora, no especificado 0, 8, 9

In [ ]:
etiqueta = 'ATENCIONPRENATAL'
no_especificado = [0, 8, 9]
key = "Madre recibio atencion prenatal"
df[key] = None

df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 0, inplace=True)
df[key].value_counts()

1    1692384
0      47594
Name: Madre recibio atencion prenatal, dtype: int64

#Trimestre de primer consulta
Trimestre 1
Trimestre 2
Trimestre 3

In [ ]:
etiqueta = 'TRIMESTREPRIMERCONSULTA'
key = "Trimestre de la primera consulta"
df[key] = None

df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask(df[etiqueta] == 3, 3, inplace=True)
df[key].value_counts()

1    1315096
2     295879
3      59588
Name: Trimestre de la primera consulta, dtype: int64

# Total de consulta durante el embarazo
Suficiente (5 o mas citas)
Insuficiente (1-4 citas)
No recibió (0 citas)

In [ ]:
etiqueta = 'TOTALCONSULTAS'
key = "Total numero de consultas embarazo"
df[key] = None

df[key].mask(df[etiqueta] == 0, 0, inplace=True)
df[key].mask((df[etiqueta] >= 1) & (df[etiqueta] < 5), 1, inplace=True)
df[key].mask((df[etiqueta] >= 5) & (df[etiqueta] != 99), 2, inplace=True)
df[key].value_counts()

2    1416741
1     258035
0      51442
Name: Total numero de consultas embarazo, dtype: int64

#Escolaridad materna
Ninguno (0, 1, 32, 88, 99)
Primaria completa (31, 52, 112)
Secundaria completa (51, 72)
Bachillerato o preparatoria completa (71, 82)
Licenciatura completa (81, 102)
Posgrado (101)
Tecnico terminal (111, 131, 132)

In [ ]:
etiqueta = 'ESCOLARIDAD'
ninguno = [1]
primaria = [31, 32, 52, 112]
secundaria = [51, 72]
bachiller = [71, 82]
licenciatura = [81, 102]
posgrado = [101]
tecnico = [111, 131, 132]
no_esp = [0, 88, 99]
key = "Escolaridad materna"
df[key] = None
df[key].mask(df[etiqueta].isin(ninguno), 0, inplace=True)
df[key].mask(df[etiqueta].isin(primaria), 1, inplace=True)
df[key].mask(df[etiqueta].isin(secundaria), 2, inplace=True)
df[key].mask(df[etiqueta].isin(bachiller), 3, inplace=True)
df[key].mask(df[etiqueta].isin(licenciatura), 4, inplace=True)
df[key].mask(df[etiqueta].isin(posgrado), 5, inplace=True)
df[key].mask(df[etiqueta].isin(tecnico), 6, inplace=True)
df[key].mask(df[etiqueta].isin(tecnico), 7, inplace=True)
df[key].value_counts()

2    659938
3    483818
1    273625
4    261312
0     24449
5     20386
7      5911
Name: Escolaridad materna, dtype: int64

# Entidad federativa de parto ENTIDADFEDERATIVAPARTO
df.agg(['count', 'size', 'nunique'])

In [ ]:
df['ENTIDADFEDERATIVAPARTO'].mask(df['ENTIDADFEDERATIVAPARTO'] == 99, None, inplace=True)
df['ENTIDADFEDERATIVAPARTO'].value_counts()

15.0    202810
14.0    120009
21.0    109046
9.0     102266
30.0     97908
11.0     97126
19.0     81739
16.0     77521
7.0      77224
20.0     62781
8.0      51893
12.0     51234
28.0     51148
5.0      48880
2.0      46480
24.0     44411
25.0     42861
27.0     40036
26.0     38651
13.0     38405
22.0     37138
31.0     30708
17.0     26882
10.0     26719
32.0     25470
23.0     25040
1.0      23268
29.0     19861
18.0     15556
4.0      13011
3.0      11018
6.0      10731
0.0         13
Name: ENTIDADFEDERATIVAPARTO, dtype: int64

# Sexo del recien nacido SEXO
* Hombre 1
* mujer 2
* no especificado 0,9

In [ ]:
etiqueta = 'SEXO'
key = "Escolaridad materna"
df[key] = None
df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask((df[etiqueta] == 0) | (df[etiqueta] == 9), 3, inplace=True)
df[key].value_counts()

1    889926
2    856349
3      1572
Name: Escolaridad materna, dtype: int64

# Edad gestacional EDADGESTACIONAL
* pretermino =<36 semanas
* termino 37-41 semanas
* postermino =>42 semanas

In [ ]:
etiqueta = 'EDADGESTACIONAL'
key = "Edad gestacional"
df[key] = None
df[key].mask(df[etiqueta] <= 36, 1, inplace=True)
df[key].mask((df[etiqueta] > 36) & (df[etiqueta] < 42), 2, inplace=True)
df[key].mask(df[etiqueta] >= 42, 3, inplace=True)
df[key].value_counts()

2    1605194
1     127827
3      14826
Name: Edad gestacional, dtype: int64

# Peso del recien nacido PESO
* bajo peso =<2499gr
* normopeso 2500-3999gr
* macrosomico =>4000 gr

In [ ]:
etiqueta = 'PESO'
key = "Peso del nacido vivo"
df[key] = None
df[key].mask(df[etiqueta] < 2500, 1, inplace=True)
df[key].mask((df[etiqueta] >= 2500) & (df[etiqueta] < 4000), 2, inplace=True)
df[key].mask((df[etiqueta] >= 4000) & (df[etiqueta] != 9999), 3, inplace=True)
df[key].value_counts()

2    1499491
1     109990
3      45614
Name: Peso del nacido vivo, dtype: int64

# Puntaje escala APGAR a los 5 minutos de recien nacido con MCF APGAR
* Normal 7-10 puntos
* Depresion moderada 4-6 puntos
* Depresion severa 0-3 puntos

In [ ]:
etiqueta = 'APGAR'
key = "Puntaje apgar"
df[key] = None
df[key].mask((df[etiqueta] >= 7) & (df[etiqueta] <= 10), 1, inplace=True)
df[key].mask((df[etiqueta] >= 4) & (df[etiqueta] <= 6), 2, inplace=True)
df[key].mask((df[etiqueta] >= 0) & (df[etiqueta] <= 3), 3, inplace=True)
df[key].mask((df[etiqueta] == 99), 4, inplace=True)
df[key].value_counts()

1    1714107
3      13682
4      12839
2       7219
Name: Puntaje apgar, dtype: int64

# Puntaje escala Silverman Anderson en recien nacidos con MCF SILVERMAN
* sin dificultad respiratoria
* dificultad respiratoria leve 1-3 puntos
* dificultad respiratoria moderada 4-6 puntos
* dificultad respiratoria severa 7-10 puntos

In [ ]:
etiqueta = 'SILVERMAN'
key = "Puntaje silverman"
df[key] = None
df[key].mask(df[etiqueta] == 0, 0, inplace=True)
df[key].mask((df[etiqueta] >= 1) & (df[etiqueta] <= 3), 1, inplace=True)
df[key].mask((df[etiqueta] >= 4) & (df[etiqueta] <= 6), 2, inplace=True)
df[key].mask((df[etiqueta] >= 7) & (df[etiqueta] <= 10), 3, inplace=True)
df[key].mask((df[etiqueta] == 99), 4, inplace=True)
df[key].value_counts()

0    1549171
1     157099
3      16799
4      16492
2       8286
Name: Puntaje silverman, dtype: int64

# Procedimiento utilizado para resolucion del embarazo RESOLUCIONEMBARAZO

* eutocico 1
* distocico 2
* cesarea 3
* otro 4 (8)
* no especificado 5 (0)

In [ ]:
etiqueta = 'RESOLUCIONEMBARAZO'
key = "Procedimiento para resolucion"
df[key] = None
df[key].mask(df[etiqueta] == 5, 0, inplace=True)
df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask(df[etiqueta] == 3, 3, inplace=True)
df[key].mask(df[etiqueta] == 8, 4, inplace=True)

df[key].value_counts()

3    874942
1    842860
2     22536
4      1361
Name: Procedimiento para resolucion, dtype: int64

# FECHANACIMIENTO
Actualizar para solo usar el mes y el año

Sería
- 2018 (1)
- 2019 (2)
- 2020 (3)
- 2021 (4)
- 2022 (5)

In [ ]:
etiqueta = 'FECHANACIMIENTO'
df[etiqueta]

0          09/01/2020
1          04/01/2020
2          08/01/2020
3          15/01/2020
4          10/01/2020
              ...
1747842    02/01/2020
1747843    08/01/2020
1747844    07/01/2020
1747845    11/01/2020
1747846    17/06/2020
Name: FECHANACIMIENTO, Length: 1747847, dtype: object

In [ ]:
etiqueta = 'fecha nacimiento'
df[etiqueta] = pd.to_datetime(df['FECHANACIMIENTO'], format='%d/%m/%Y').dt.strftime('%m/%Y')
key = 'Year'
format = '01/01/' + year
df[key] = None
df[key].mask(df[etiqueta] >= format, year_key[year], inplace=True)
df[key].value_counts()

3    1747847
Name: Year, dtype: int64

In [ ]:
fileName = '/content/drive/My Drive/Colab Notebooks/miriam/' + year + '_nacimientos_clean.csv'
df.to_csv(fileName, index=False)

# Analisis de datos

In [ ]:
df['EDAD'].replace([999, 888], None)
df['NUMEROEMBARAZOS'].replace([99], None)
df['HIJOSNACIDOSMUERTOS'].replace([99], None)
df['ATENCIONPRENATAL'].replace([9], None)
df['TRIMESTREPRIMERCONSULTA'].replace([9], None)
df['TOTALCONSULTAS'].replace([99], None)
df['SOBREVIVIOPARTO'].replace([9], None)
df['ESCOLARIDAD'].replace([999], None)
df['SEXO'].replace([99], None)
df['EDADGESTACIONAL'].replace([99], None)
df['TALLA'].replace([99], None)
df['PESO'].replace([9999], None)
df['TALLA'].replace([9], None)
df['APGAR'].replace([99], None)
df['SILVERMAN'].replace([99], None)

0          0
1          0
2          0
3          0
4          0
          ..
1747842    1
1747843    0
1747844    0
1747845    0
1747846    0
Name: SILVERMAN, Length: 1747847, dtype: object

### Pacientes con MCF

In [ ]:
label = "MCC-General"
df[df[label] == 1].describe().applymap('{:,.2f}'.format)

,EDAD,NUMEROEMBARAZOS,HIJOSNACIDOSMUERTOS,ATENCIONPRENATAL,TRIMESTREPRIMERCONSULTA,TOTALCONSULTAS,SOBREVIVIOPARTO,ESCOLARIDAD,SEXO,EDADGESTACIONAL,...,PESO,APGAR,SILVERMAN,PRODUCTOEMBARAZO,RESOLUCIONEMBARAZO,ENTIDADFEDERATIVAPARTO,MCC-General,MC-1,MC-2,MC-G
count,"3,771.00","3,771.00","3,771.00","3,771.00","3,771.00","3,771.00","3,771.00","3,771.00","3,771.00","3,771.00",...,"3,771.00","3,771.00","3,771.00","3,771.00","3,771.00","3,771.00","3,771.00","3,771.00","3,771.00","3,771.00"
mean,26.61,2.29,0.34,1.05,1.33,8.27,1.00,60.05,1.45,38.24,...,"3,604.85",8.93,0.98,1.02,2.13,16.34,1.00,6.05,1.74,7.79
std,6.50,2.07,2.85,0.42,1.08,10.11,0.02,19.18,0.56,2.69,...,"1,993.60",4.28,7.59,0.15,1.00,7.92,0.00,4.17,3.53,5.49
min,10.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,22.00,...,445.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,0.00,2.00
25%,22.00,1.00,0.00,1.00,1.00,5.00,1.00,51.00,1.00,37.00,...,"2,795.00",9.00,0.00,1.00,1.00,10.00,1.00,3.00,0.00,3.00
50%,26.00,2.00,0.00,1.00,1.00,7.00,1.00,52.00,1.00,39.00,...,"3,110.00",9.00,0.00,1.00,3.00,15.00,1.00,3.00,0.00,6.00
75%,31.00,3.00,0.00,1.00,1.00,9.00,1.00,72.00,2.00,40.00,...,"3,490.00",9.00,0.00,1.00,3.00,22.00,1.00,11.00,3.00,11.00
max,49.00,99.00,99.00,9.00,9.00,99.00,1.00,131.00,9.00,99.00,...,"9,999.00",99.00,99.00,3.00,8.00,32.00,1.00,11.00,11.00,22.00

In [ ]:
df[df[label] == 1].mode(numeric_only=True)

,EDAD,NUMEROEMBARAZOS,HIJOSNACIDOSMUERTOS,ATENCIONPRENATAL,TRIMESTREPRIMERCONSULTA,TOTALCONSULTAS,SOBREVIVIOPARTO,ESCOLARIDAD,SEXO,EDADGESTACIONAL,...,PESO,APGAR,SILVERMAN,PRODUCTOEMBARAZO,RESOLUCIONEMBARAZO,ENTIDADFEDERATIVAPARTO,MCC-General,MC-1,MC-2,MC-G
0,22,1,0,1,1,8,1,51,1,39,...,9999,9,0,1,3,15.0,1.0,3,0,3

## Malformación congénita craneofacial
- Ausente (1)
- Presente (2)

In [ ]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(df[df[label] == 1].CODIGOCIEANOMALIA1.value_counts().add(df[df[label] == 1].CODIGOCIEANOMALIA2.value_counts(),fill_value=0).sort_values(ascending=False).to_markdown())

|      |    0 |
|:-----|-----:|
| 0000 | 2365 |
| Q170 |  894 |
| Q379 |  712 |
| Q172 |  488 |
| Q369 |  375 |
| Q359 |  347 |
| Q173 |  280 |
| Q174 |  172 |
| Q381 |  125 |
| 9999 |  113 |
| Q372 |   80 |
| Q179 |   76 |
| Q178 |   67 |
| Q181 |   65 |
| Q189 |   64 |
| Q309 |   48 |
| Q161 |   43 |
| P073 |   41 |
| P128 |   40 |
| Q386 |   39 |
| Q385 |   39 |
| Q360 |   35 |
| Q160 |   34 |
| Q188 |   30 |
| Q699 |   27 |
| Q371 |   27 |
| Q103 |   25 |
| Q660 |   24 |
| K070 |   22 |
| Q184 |   21 |
| Q300 |   20 |
| Q373 |   20 |
| P071 |   20 |
| Q378 |   20 |
| Q897 |   18 |
| P835 |   17 |
| P081 |   15 |
| Q039 |   15 |
| Q380 |   15 |
| Q374 |   14 |
| Q308 |   13 |
| Q158 |   13 |
| Q375 |   12 |
| Q02X |   12 |
| Q361 |   11 |
| Q169 |   11 |
| Q120 |   11 |
| Q111 |   11 |
| Q531 |   11 |
| Q383 |   11 |
| Q105 |   10 |
| Q301 |   10 |
| Q164 |    9 |
| Q532 |    9 |
| Q752 |    9 |
| P050 |    9 |
| Q353 |    9 |
| Q303 |    8 |
| P229 |    8 |
| Q351 |    8 |
| Q652 |    8 |
| Q171 |    8 |
| Q909 |    8 |
| Q112 |    7 |
| Q355 |    7 |
| Q668 |    7 |
| Q000 |    7 |
| Q382 |    7 |
| P113 |    6 |
| Q183 |    6 |
| Q423 |    6 |
| Q709 |    6 |
| P121 |    6 |
| Q370 |    6 |
| Q753 |    6 |
| Q539 |    6 |
| Q899 |    5 |
| Q549 |    5 |
| P221 |    5 |
| Q159 |    5 |
| Q249 |    5 |
| Q870 |    5 |
| Q758 |    5 |
| Q180 |    5 |
| Q750 |    5 |
| Q672 |    5 |
| P220 |    5 |
| Q019 |    5 |
| P968 |    5 |
| Q828 |    5 |
| Q690 |    5 |
| Q042 |    5 |
| Q302 |    4 |
| Q564 |    4 |
| Q663 |    4 |
| Q658 |    4 |
| Q150 |    4 |
| P969 |    4 |
| P011 |    4 |
| P059 |    4 |
| Q793 |    4 |
| P159 |    4 |
| P701 |    4 |
| Q759 |    4 |
| K429 |    3 |
| Q208 |    3 |
| D180 |    3 |
| Q681 |    3 |
| Q761 |    3 |
| Q059 |    3 |
| Q792 |    3 |
| Q388 |    3 |
| Q384 |    3 |
| Q185 |    3 |
| Q556 |    3 |
| Q666 |    3 |
| Q182 |    3 |
| Q138 |    3 |
| Q165 |    3 |
| Q128 |    3 |
| Q113 |    3 |
| Q848 |    3 |
| P942 |    2 |
| Q692 |    2 |
| Q139 |    2 |
| Q748 |    2 |
| P012 |    2 |
| P963 |    2 |
| P052 |    2 |
| Q133 |    2 |
| Q798 |    2 |
| P082 |    2 |
| Q439 |    2 |
| Q206 |    2 |
| Q790 |    2 |
| Q100 |    2 |
| Q673 |    2 |
| P209 |    2 |
| Q860 |    2 |
| Q674 |    2 |
| Q650 |    2 |
| Q754 |    2 |
| Q104 |    2 |
| P838 |    2 |
| Q270 |    2 |
| Q175 |    2 |
| Q106 |    2 |
| Q35  |    2 |
| Q898 |    2 |
| P545 |    2 |
| Q764 |    2 |
| Q917 |    1 |
| Q669 |    1 |
| Q871 |    1 |
| Q670 |    1 |
| Q849 |    1 |
| Q913 |    1 |
| Q671 |    1 |
| Q667 |    1 |
| Q665 |    1 |
| Q878 |    1 |
| Q769 |    1 |
| Q840 |    1 |
| Q677 |    1 |
| Q723 |    1 |
| Q728 |    1 |
| Q738 |    1 |
| Q740 |    1 |
| Q749 |    1 |
| Q684 |    1 |
| Q682 |    1 |
| Q678 |    1 |
| Q760 |    1 |
| Q838 |    1 |
| Q713 |    1 |
| Q774 |    1 |
| Q779 |    1 |
| Q791 |    1 |
| Q795 |    1 |
| Q799 |    1 |
| Q824 |    1 |
| Q833 |    1 |
| Q718 |    1 |
| Q243 |    1 |
| Q651 |    1 |
| P704 |    1 |
| P399 |    1 |
| P371 |    1 |
| P369 |    1 |
| P285 |    1 |
| P284 |    1 |
| P154 |    1 |
| P143 |    1 |
| P123 |    1 |
| P120 |    1 |
| P112 |    1 |
| P080 |    1 |
| P072 |    1 |
| P051 |    1 |
| P040 |    1 |
| P036 |    1 |
| P031 |    1 |
| P030 |    1 |
| P025 |    1 |
| P022 |    1 |
| P005 |    1 |
| N47X |    1 |
| L922 |    1 |
| L813 |    1 |
| L059 |    1 |
| K439 |    1 |
| K068 |    1 |
| K048 |    1 |
| D103 |    1 |
| B07X |    1 |
| P560 |    1 |
| P819 |    1 |
| Q623 |    1 |
| P914 |    1 |
| Q605 |    1 |
| Q559 |    1 |
| Q543 |    1 |
| Q528 |    1 |
| Q428 |    1 |
| Q410 |    1 |
| Q390 |    1 |
| Q36  |    1 |
| Q278 |    1 |
| Q273 |    1 |
| Q251 |    1 |
| Q248 |    1 |
| Q246 |    1 |
| Q242 |    1 |
| Q234 |    1 |
| Q210 |    1 |
| Q17  |    1 |
| Q163 |    1 |
| Q143 |    1 |
| Q141 |    1 |
| Q130 |    1 |
| Q110 |    1 |
| Q107 |    1 |
| Q102 |    1 |
| Q079 |    1 |
| Q078 |    1 |
| Q07  |    1 |
| Q043 |    1 |
| P917 |    1 |
| R160 |    1 |

## MCF Categórica
- Oftalmológicas (1)
- Oído (2)
- Cara y cuello (3)
- Nariz (4)
- Lengua y boca (5)

In [ ]:
label = "MC-G2"
mc_value = {
    'oftalmo': 1,
    'oido': 2,
    'cuello': 3,
    'nariz': 4,
    'boca': 5
}

#### Lista oftalmo

In [ ]:
value = mc_value['oftalmo']
a = df[df[label] == value].CODIGOCIEANOMALIA1.value_counts()
b = df[df[label] == value].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False).to_markdown())

|      |   0 |
|:-----|----:|
| 0000 |  52 |
| Q103 |  16 |
| Q158 |  12 |
| Q111 |   9 |
| Q120 |   7 |
| Q112 |   7 |
| Q105 |   7 |
| Q699 |   3 |
| Q159 |   3 |
| 9999 |   3 |
| Q128 |   3 |
| Q897 |   2 |
| Q106 |   2 |
| Q150 |   2 |
| Q139 |   2 |
| Q133 |   2 |
| Q113 |   2 |
| Q104 |   2 |
| Q100 |   2 |
| Q764 |   1 |
| Q752 |   1 |
| Q723 |   1 |
| K070 |   1 |
| Q249 |   1 |
| Q672 |   1 |
| Q669 |   1 |
| Q668 |   1 |
| Q792 |   1 |
| Q665 |   1 |
| Q870 |   1 |
| Q660 |   1 |
| Q605 |   1 |
| Q278 |   1 |
| Q039 |   1 |
| P071 |   1 |
| P073 |   1 |
| Q042 |   1 |
| Q141 |   1 |
| Q138 |   1 |
| Q130 |   1 |
| P081 |   1 |
| P120 |   1 |
| P121 |   1 |
| P128 |   1 |
| Q107 |   1 |
| P560 |   1 |
| Q02X |   1 |
| Q102 |   1 |
| Q143 |   1 |

#### Lista oido

In [ ]:
value = mc_value['oido']
a = df[df[label] == value].CODIGOCIEANOMALIA1.value_counts()
b = df[df[label] == value].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False).to_markdown())

|      |    0 |
|:-----|-----:|
| 0000 | 1201 |
| Q170 |  693 |
| Q172 |  341 |
| Q173 |  178 |
| Q174 |  133 |
| Q179 |   60 |
| 9999 |   50 |
| Q178 |   49 |
| Q160 |   24 |
| P128 |   24 |
| Q161 |   22 |
| P073 |   18 |
| K070 |   15 |
| P071 |   11 |
| Q660 |   10 |
| P835 |   10 |
| Q699 |    7 |
| P050 |    7 |
| Q164 |    7 |
| P081 |    7 |
| P113 |    6 |
| Q531 |    6 |
| Q169 |    6 |
| Q171 |    5 |
| P229 |    5 |
| Q828 |    4 |
| Q423 |    4 |
| Q909 |    4 |
| P968 |    4 |
| Q668 |    4 |
| Q532 |    3 |
| Q750 |    3 |
| P969 |    3 |
| Q897 |    3 |
| Q753 |    3 |
| Q165 |    3 |
| P121 |    3 |
| Q208 |    3 |
| Q761 |    3 |
| Q672 |    3 |
| Q02X |    3 |
| Q658 |    2 |
| Q650 |    2 |
| Q249 |    2 |
| Q652 |    2 |
| Q666 |    2 |
| Q663 |    2 |
| Q206 |    2 |
| Q690 |    2 |
| Q549 |    2 |
| Q039 |    2 |
| P963 |    2 |
| D180 |    2 |
| P838 |    2 |
| Q899 |    2 |
| P701 |    2 |
| Q793 |    2 |
| Q752 |    2 |
| Q848 |    1 |
| Q792 |    1 |
| Q799 |    1 |
| Q564 |    1 |
| Q870 |    1 |
| Q898 |    1 |
| Q760 |    1 |
| Q559 |    1 |
| Q764 |    1 |
| Q673 |    1 |
| Q667 |    1 |
| Q759 |    1 |
| Q677 |    1 |
| Q754 |    1 |
| Q748 |    1 |
| Q740 |    1 |
| Q738 |    1 |
| Q713 |    1 |
| Q709 |    1 |
| Q556 |    1 |
| Q684 |    1 |
| Q758 |    1 |
| Q175 |    1 |
| Q543 |    1 |
| P220 |    1 |
| P159 |    1 |
| P154 |    1 |
| P123 |    1 |
| P082 |    1 |
| P072 |    1 |
| P051 |    1 |
| P036 |    1 |
| P031 |    1 |
| P030 |    1 |
| P012 |    1 |
| P011 |    1 |
| P005 |    1 |
| N47X |    1 |
| L922 |    1 |
| L059 |    1 |
| K429 |    1 |
| K048 |    1 |
| P209 |    1 |
| P285 |    1 |
| Q528 |    1 |
| P369 |    1 |
| Q439 |    1 |
| Q428 |    1 |
| Q270 |    1 |
| Q246 |    1 |
| Q243 |    1 |
| Q242 |    1 |
| Q234 |    1 |
| Q17  |    1 |
| Q163 |    1 |
| Q078 |    1 |
| Q043 |    1 |
| Q042 |    1 |
| P917 |    1 |
| P819 |    1 |
| P704 |    1 |
| P545 |    1 |
| P399 |    1 |
| R160 |    1 |

Lista cuello

In [ ]:
value = mc_value['cuello']
a = df[df[label] == value].CODIGOCIEANOMALIA1.value_counts()
b = df[df[label] == value].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False).to_markdown())

|      |   0 |
|:-----|----:|
| 0000 |  96 |
| Q181 |  43 |
| Q189 |  37 |
| Q184 |  19 |
| Q188 |  17 |
| Q180 |   5 |
| Q183 |   5 |
| 9999 |   5 |
| P128 |   4 |
| Q759 |   3 |
| Q185 |   3 |
| Q182 |   3 |
| Q173 |   2 |
| Q103 |   2 |
| P121 |   2 |
| P071 |   2 |
| Q539 |   2 |
| Q105 |   1 |
| Q660 |   1 |
| Q840 |   1 |
| Q838 |   1 |
| Q824 |   1 |
| Q798 |   1 |
| Q795 |   1 |
| P025 |   1 |
| Q682 |   1 |
| Q672 |   1 |
| Q671 |   1 |
| Q532 |   1 |
| Q556 |   1 |
| Q113 |   1 |
| P040 |   1 |
| P052 |   1 |
| P073 |   1 |
| P159 |   1 |
| P220 |   1 |
| Q174 |   1 |
| Q172 |   1 |
| Q909 |   1 |

Lista nariz

In [ ]:
value = mc_value['nariz']
a = df[df[label] == value].CODIGOCIEANOMALIA1.value_counts()
b = df[df[label] == value].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False).to_markdown())

|      |   0 |
|:-----|----:|
| 0000 |  39 |
| Q309 |  36 |
| Q300 |  13 |
| Q308 |  10 |
| Q301 |   9 |
| Q303 |   7 |
| 9999 |   4 |
| Q752 |   3 |
| P073 |   3 |
| Q660 |   2 |
| Q753 |   2 |
| P050 |   2 |
| Q302 |   2 |
| Q674 |   1 |
| Q870 |   1 |
| Q849 |   1 |
| Q793 |   1 |
| Q758 |   1 |
| Q718 |   1 |
| Q699 |   1 |
| Q690 |   1 |
| Q681 |   1 |
| P059 |   1 |
| Q673 |   1 |
| Q666 |   1 |
| D180 |   1 |
| K070 |   1 |
| P011 |   1 |
| Q273 |   1 |
| Q042 |   1 |
| P942 |   1 |
| P835 |   1 |
| P112 |   1 |
| P081 |   1 |
| Q898 |   1 |

Lista lengua y boca

In [ ]:
value = mc_value['boca']
a = df[df[label] == value].CODIGOCIEANOMALIA1.value_counts()
b = df[df[label] == value].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False).to_markdown())

|      |   0 |
|:-----|----:|
| 0000 | 977 |
| Q379 | 515 |
| Q369 | 219 |
| Q359 | 214 |
| Q381 |  96 |
| Q372 |  58 |
| 9999 |  51 |
| Q386 |  35 |
| Q385 |  23 |
| Q371 |  21 |
| P073 |  18 |
| Q699 |  16 |
| Q378 |  16 |
| Q380 |  14 |
| Q360 |  14 |
| Q373 |  13 |
| Q897 |  13 |
| Q039 |  12 |
| Q383 |  11 |
| P128 |  11 |
| Q660 |  10 |
| Q361 |   9 |
| Q375 |   8 |
| Q02X |   8 |
| Q374 |   8 |
| Q000 |   7 |
| P835 |   6 |
| P071 |   6 |
| Q355 |   6 |
| P081 |   6 |
| Q652 |   6 |
| Q532 |   5 |
| K070 |   5 |
| P221 |   5 |
| Q709 |   5 |
| Q019 |   5 |
| Q531 |   5 |
| Q382 |   4 |
| Q370 |   4 |
| Q351 |   4 |
| Q353 |   4 |
| Q539 |   4 |
| Q388 |   3 |
| Q549 |   3 |
| Q564 |   3 |
| Q752 |   3 |
| Q758 |   3 |
| Q899 |   3 |
| Q909 |   3 |
| P059 |   3 |
| Q384 |   3 |
| Q059 |   3 |
| P229 |   3 |
| P220 |   3 |
| Q35  |   2 |
| Q690 |   2 |
| Q658 |   2 |
| Q668 |   2 |
| Q681 |   2 |
| Q692 |   2 |
| Q423 |   2 |
| Q750 |   2 |
| P159 |   2 |
| Q790 |   2 |
| Q848 |   2 |
| Q860 |   2 |
| Q870 |   2 |
| P701 |   2 |
| Q663 |   2 |
| P011 |   2 |
| Q249 |   2 |
| Q042 |   2 |
| K429 |   2 |
| P968 |   1 |
| Q793 |   1 |
| Q753 |   1 |
| Q754 |   1 |
| P143 |   1 |
| Q769 |   1 |
| Q774 |   1 |
| Q779 |   1 |
| P012 |   1 |
| Q791 |   1 |
| Q792 |   1 |
| Q798 |   1 |
| Q748 |   1 |
| Q828 |   1 |
| Q833 |   1 |
| Q251 |   1 |
| Q270 |   1 |
| Q36  |   1 |
| Q871 |   1 |
| Q878 |   1 |
| P082 |   1 |
| P080 |   1 |
| P052 |   1 |
| Q913 |   1 |
| Q749 |   1 |
| P209 |   1 |
| Q728 |   1 |
| Q623 |   1 |
| D103 |   1 |
| P942 |   1 |
| Q390 |   1 |
| Q410 |   1 |
| P969 |   1 |
| Q439 |   1 |
| P914 |   1 |
| P545 |   1 |
| P371 |   1 |
| Q556 |   1 |
| P284 |   1 |
| Q651 |   1 |
| K068 |   1 |
| Q07  |   1 |
| K439 |   1 |
| P022 |   1 |
| Q079 |   1 |
| Q670 |   1 |
| Q674 |   1 |
| Q678 |   1 |
| Q210 |   1 |
| Q248 |   1 |
| L813 |   1 |
| B07X |   1 |
| Q917 |   1 |

In [ ]:
label="S-MG"
a = df[(df[label] == 1) | (df[label] == 2)].CODIGOCIEANOMALIA1.value_counts()
b = df[(df[label] == 1) | (df[label] == 2)].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False))

Q170    289.0
Q379    285.0
Q172    210.0
Q369    196.0
Q359    184.0
Q173    153.0
Q174     74.0
Q381     54.0
Q189     41.0
P073     41.0
P128     40.0
Q372     34.0
Q385     29.0
Q179     29.0
Q161     28.0
Q309     27.0
Q699     27.0
Q181     26.0
Q178     25.0
Q360     25.0
Q660     24.0
K070     22.0
P071     20.0
Q897     18.0
P835     17.0
Q160     16.0
P081     15.0
Q039     15.0
Q188     15.0
Q103     14.0
Q02X     12.0
Q300     12.0
Q531     11.0
Q378     11.0
Q371     10.0
Q752      9.0
P050      9.0
Q532      9.0
Q373      9.0
Q120      8.0
Q361      8.0
P229      8.0
Q652      8.0
Q909      8.0
Q353      7.0
Q308      7.0
Q386      7.0
Q668      7.0
Q000      7.0
Q111      6.0
P121      6.0
Q374      6.0
Q753      6.0
Q183      6.0
Q709      6.0
Q423      6.0
P113      6.0
Q539      6.0
Q382      6.0
Q303      6.0
Q169      6.0
Q158      6.0
Q351      5.0
Q672      5.0
Q301      5.0
Q184      5.0
Q750      5.0
Q690      5.0
Q758      5.0
Q249      5.0
Q870      5.0
Q549      5.0
Q380      5.0
Q375      5.0
Q042      5.0
Q828      5.0
P221      5.0
P220      5.0
P968      5.0
Q899      5.0
Q019      5.0
P011      4.0
Q564      4.0
P059      4.0
Q171      4.0
Q663      4.0
P159      4.0
Q793      4.0
Q658      4.0
Q759      4.0
P701      4.0
P969      4.0
Q355      4.0
Q159      3.0
D180      3.0
Q208      3.0
K429      3.0
Q105      3.0
Q556      3.0
Q681      3.0
Q150      3.0
Q112      3.0
Q666      3.0
Q848      3.0
Q302      3.0
Q370      3.0
Q761      3.0
Q383      3.0
Q792      3.0
Q059      3.0
Q439      2.0
Q35       2.0
Q650      2.0
Q673      2.0
Q674      2.0
Q270      2.0
Q754      2.0
P012      2.0
Q798      2.0
P052      2.0
P209      2.0
Q790      2.0
P545      2.0
Q764      2.0
P838      2.0
P942      2.0
P963      2.0
Q860      2.0
Q748      2.0
P082      2.0
Q113      2.0
Q206      2.0
Q138      2.0
Q164      2.0
Q898      2.0
Q180      2.0
Q692      2.0
Q669      1.0
Q824      1.0
Q917      1.0
Q913      1.0
Q833      1.0
Q840      1.0
Q667      1.0
Q838      1.0
Q871      1.0
Q849      1.0
Q878      1.0
Q670      1.0
Q665      1.0
Q682      1.0
Q779      1.0
Q799      1.0
Q740      1.0
Q677      1.0
Q684      1.0
Q713      1.0
Q718      1.0
Q728      1.0
Q738      1.0
Q749      1.0
Q671      1.0
Q760      1.0
Q769      1.0
Q774      1.0
Q678      1.0
Q791      1.0
Q795      1.0
Q723      1.0
B07X      1.0
Q651      1.0
P072      1.0
P819      1.0
P704      1.0
P560      1.0
P399      1.0
P371      1.0
P369      1.0
P285      1.0
P284      1.0
P154      1.0
P143      1.0
P123      1.0
P120      1.0
P112      1.0
P080      1.0
P051      1.0
P917      1.0
P040      1.0
P036      1.0
P031      1.0
P030      1.0
P025      1.0
P022      1.0
P005      1.0
N47X      1.0
L922      1.0
L813      1.0
L059      1.0
K439      1.0
K068      1.0
K048      1.0
P914      1.0
Q043      1.0
Q623      1.0
Q246      1.0
Q605      1.0
Q559      1.0
Q543      1.0
Q528      1.0
Q428      1.0
Q410      1.0
Q390      1.0
Q384      1.0
Q36       1.0
Q278      1.0
Q273      1.0
D103      1.0
Q251      1.0
Q248      1.0
Q243      1.0
Q07       1.0
Q242      1.0
Q234      1.0
Q210      1.0
Q182      1.0
Q175      1.0
Q17       1.0
Q143      1.0
Q133      1.0
Q130      1.0
Q110      1.0
Q106      1.0
Q104      1.0
Q079      1.0
Q078      1.0
R160      1.0
dtype: float64