<a href="https://colab.research.google.com/github/tlacloc/analisis-defunciones-nacimientos-2022/blob/main/2021_nacimientos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 # Libreria para cargar nuestro drive
from google.colab import drive

# Cargamos nuestro drive en nuestro notebook
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!ls "/content/drive/MyDrive/Colab Notebooks"

'Copy of SDC11_actividad1_Badillo_Casanova.ipynb'   SDC_12		 test.ipynb
'EVC Hackathon Files'				    SDC_13		 Untitled0.ipynb
 Image						    SDC_14		 Untitled1.ipynb
 miriam						    SDC_15		 Vero
 SCD_12_Erick_Casanova.ipynb			    test-forvero.ipynb	 Visualizacion

In [3]:
# Librerias de ayuda
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind
import matplotlib.pyplot as plt
import seaborn as sns

year = '2021'
year_key = {
    '2022': 5,
    '2021': 4,
    '2020': 3,
    '2019': 2,
    '2018': 1
}

In [4]:
fileName = '/content/drive/My Drive/Colab Notebooks/miriam/nacimientos_' + year + '.csv'
df = pd.read_csv(fileName, low_memory=False)
df.head(10)

,NACIOEXTRANJERO,ENTIDADNACIMIENTO,MUNICIPIONACIMIENTO,EDAD,SECONSIDERAINDIGENA,HABLALENGUAINDIGENA,FECHANACIMIENTOMADRE,ESTADOCONYUGAL,RESIDEEXTRANJERO,ENTIDADRESIDENCIA,...,TIPOMEDICOATENDIO,ENTIDADFEDERATIVAPARTO,MUNICIPIOPARTO,LOCALIDADPARTO,CERTIFICADOPOR,CLUESCERTIFICA,ENTIDADFEDERATIVACERTIFICA,MUNICIPIOCERTIFICA,LOCALIDADCERTIFICA,FECHACERTIFICADO
0,2,15,33,21,2,2,10/02/1999,4,2,15,...,11.0,15,33,1,7,NaN,15,33,1,06/01/2021
1,2,14,39,37,2,2,22/10/1983,4,2,26,...,11.0,26,43,1,1,NaN,26,43,1,03/01/2021
2,2,30,130,37,2,2,27/03/1983,4,2,23,...,11.0,23,8,1,1,QRSSA018001,23,8,1,28/01/2021
3,2,7,19,26,1,2,11/10/1994,1,2,23,...,11.0,23,8,1,1,QRSSA018001,23,8,1,09/02/2021
4,2,23,7,15,1,2,26/10/2005,1,2,23,...,11.0,23,8,1,1,QRSSA018001,23,8,1,11/02/2021
5,1,88,997,31,2,2,09/06/1989,1,2,23,...,11.0,23,8,1,1,QRSSA018001,23,8,1,26/03/2021
6,2,27,4,17,2,2,31/12/2003,1,2,23,...,11.0,23,8,1,1,QRSSA018001,23,8,1,10/03/2021
7,2,23,4,18,2,2,20/11/2002,1,2,23,...,11.0,23,8,1,1,QRSSA018001,23,8,1,12/03/2021
8,1,88,997,36,2,2,02/02/1985,1,2,23,...,11.0,23,8,1,1,QRSSA018001,23,8,1,02/03/2021
9,2,31,69,30,1,1,30/01/1991,1,2,23,...,11.0,23,8,1,1,QRSSA018001,23,8,1,26/02/2021

In [5]:
oldColumns = df.columns
oldColumns

Index(['NACIOEXTRANJERO', 'ENTIDADNACIMIENTO', 'MUNICIPIONACIMIENTO', 'EDAD',
       'SECONSIDERAINDIGENA', 'HABLALENGUAINDIGENA', 'FECHANACIMIENTOMADRE',
       'ESTADOCONYUGAL', 'RESIDEEXTRANJERO', 'ENTIDADRESIDENCIA',
       'MUNICIPIORESIDENCIA', 'LOCALIDADRESIDENCIA', 'NUMEROEMBARAZOS',
       'HIJOSNACIDOSMUERTOS', 'HIJOSNACIDOSVIVOS', 'HIJOSSOBREVIVIENTES',
       'CONDICIONHIJOANTERIOR', 'VIVEHIJOANTERIOR', 'ORDENNACIMIENTO',
       'ATENCIONPRENATAL', 'TRIMESTREPRIMERCONSULTA', 'TOTALCONSULTAS',
       'SOBREVIVIOPARTO', 'AFILIACION', 'ESCOLARIDAD', 'INTERRUMPIOESTUDIOS',
       'CLAVEOCUPACIONHABITUAL', 'TRABAJAACTUALMENTE', 'EDADPADRE',
       'FECHANACIMIENTO', 'HORANACIMIENTO', 'SEXO', 'EDADGESTACIONAL', 'TALLA',
       'PESO', 'APGAR', 'SILVERMAN', 'TAMIZAUDITIVO', 'VACUNA_BCG',
       'VACUNAHEPATITIS_B', 'VITAMINA_A', 'VITAMINA_K', 'PRODUCTOEMBARAZO',
       'ORDENPRODUCTO', 'TOTALPRODUCTOS', 'CODIGOCIEANOMALIA1',
       'CODIGOCIEANOMALIA2', 'LUGARNACIMIENTO', 'CLUES', 'TIEMPOTRASLADO',
       'RESOLUCIONEMBARAZO', 'UTILIZOFORCEPS', 'TIPOCESAREA',
       'PERSONALATENDIO', 'TIPOMEDICOATENDIO', 'ENTIDADFEDERATIVAPARTO',
       'MUNICIPIOPARTO', 'LOCALIDADPARTO', 'CERTIFICADOPOR', 'CLUESCERTIFICA',
       'ENTIDADFEDERATIVACERTIFICA', 'MUNICIPIOCERTIFICA',
       'LOCALIDADCERTIFICA', 'FECHACERTIFICADO'],
      dtype='object')

Variables que sd van a utilizar

In [6]:
# Limpieza de datos
# Se eliminaran las columnas que no se utilizaran

columnsToRemove = [
    "TAMIZAUDITIVO",
    "HIJOSSOBREVIVIENTES",
    # "FECHANACIMIENTO",
    "ORDENPRODUCTO",
    "NACIOEXTRANJERO",
    "ENTIDADNACIMIENTO",
    "MUNICIPIONACIMIENTO",
    "SECONSIDERAINDIGENA",
    "HABLALENGUAINDIGENA",
    "FECHANACIMIENTOMADRE",
    "RESIDEEXTRANJERO",
    "ESTADOCONYUGAL",
    "ENTIDADRESIDENCIA",
    "MUNICIPIORESIDENCIA",
    "LOCALIDADRESIDENCIA",
    "HIJOSNACIDOSVIVOS",
    "CONDICIONHIJOANTERIOR",
    "VIVEHIJOANTERIOR",
    "ORDENNACIMIENTO",
    "AFILIACION",
    "INTERRUMPIOESTUDIOS",
    "CLAVEOCUPACIONHABITUAL",
    "TRABAJAACTUALMENTE",
    "HORANACIMIENTO",
    "VACUNA_BCG",
    "VACUNAHEPATITIS_B",
    "VITAMINA_A",
    "VITAMINA_K",
    # Relacionado a gemelos
    # "PRODUCTOEMBARAZO",
    "ORDENPRODUCTO",
    "TOTALPRODUCTOS",
    "CLUES",
    "TIEMPOTRASLADO",
    # "RESOLUCIONEMBARAZO",
    "UTILIZOFORCEPS",
    "TIPOCESAREA",
    "PERSONALATENDIO",
    "TIPOMEDICOATENDIO",
    "MUNICIPIOPARTO",
    "LOCALIDADPARTO",
    "CERTIFICADOPOR",
    "CLUESCERTIFICA",
    "ENTIDADFEDERATIVACERTIFICA",
    "MUNICIPIOCERTIFICA",
    "LOCALIDADCERTIFICA",
    "FECHACERTIFICADO",
    "LUGARNACIMIENTO",
    "EDADPADRE"
]

df.drop(columnsToRemove, inplace=True, axis=1)

In [7]:
columnsToReview = df.columns
columnsToReview

Index(['EDAD', 'NUMEROEMBARAZOS', 'HIJOSNACIDOSMUERTOS', 'ATENCIONPRENATAL',
       'TRIMESTREPRIMERCONSULTA', 'TOTALCONSULTAS', 'SOBREVIVIOPARTO',
       'ESCOLARIDAD', 'FECHANACIMIENTO', 'SEXO', 'EDADGESTACIONAL', 'TALLA',
       'PESO', 'APGAR', 'SILVERMAN', 'PRODUCTOEMBARAZO', 'CODIGOCIEANOMALIA1',
       'CODIGOCIEANOMALIA2', 'RESOLUCIONEMBARAZO', 'ENTIDADFEDERATIVAPARTO'],
      dtype='object')

In [8]:
#df=df.drop(df[df['EDAD']==999].index)
#df=df.drop(df[df['EDAD']==888].index)
#df=df.drop(df[df['NUMEROEMBARAZOS']==99].index)
#df=df.drop(df[df['HIJOSNACIDOSMUERTOS']==99].index)
#df=df.drop(df[df['ATENCIONPRENATAL']==9].index)
#df=df.drop(df[df['TRIMESTREPRIMERCONSULTA']==9].index)
#df=df.drop(df[df['TOTALCONSULTAS']==99].index)
#df=df.drop(df[df['SOBREVIVIOPARTO']==9].index)
#df=df.drop(df[df['ESCOLARIDAD']==999].index)
#df=df.drop(df[df['EDADPADRE']==999].index)
#df=df.drop(df[df['SEXO']==99].index)
#df=df.drop(df[df['EDADGESTACIONAL']==99].index)
#df=df.drop(df[df['TALLA']==99].index)
#df=df.drop(df[df['PESO']==9999].index)
#df=df.drop(df[df['TALLA']==9].index)
#df=df.drop(df[df['APGAR']==99].index)
#df=df.drop(df[df['SILVERMAN']==99].index)
#df=df.drop(df[df['UTILIZOFORCEPS']==9].index)

In [9]:
df.head(10)

,EDAD,NUMEROEMBARAZOS,HIJOSNACIDOSMUERTOS,ATENCIONPRENATAL,TRIMESTREPRIMERCONSULTA,TOTALCONSULTAS,SOBREVIVIOPARTO,ESCOLARIDAD,FECHANACIMIENTO,SEXO,EDADGESTACIONAL,TALLA,PESO,APGAR,SILVERMAN,PRODUCTOEMBARAZO,CODIGOCIEANOMALIA1,CODIGOCIEANOMALIA2,RESOLUCIONEMBARAZO,ENTIDADFEDERATIVAPARTO
0,21,2,0,1,1,12.0,2,72,05/01/2021,2,38,51,3100,9,1,1,0000,0000,3,15
1,37,2,0,1,1,14.0,1,81,04/01/2021,1,40,49,3300,9,1,1,0000,0000,3,26
2,37,4,0,1,2,5.0,1,52,26/01/2021,1,38,48,2920,8,0,1,0000,0000,1,23
3,26,2,0,1,2,5.0,1,32,05/02/2021,2,40,49,3175,8,0,1,0000,0000,1,23
4,15,1,0,1,2,5.0,1,31,02/02/2021,2,32,43,1520,8,0,1,P220,P220,3,23
5,31,2,0,1,1,4.0,1,71,11/03/2021,1,40,52,3050,9,0,1,0000,0000,1,23
6,17,1,0,1,3,6.0,1,31,05/03/2021,1,39,49,2875,9,0,1,0000,0000,1,23
7,18,1,0,1,2,6.0,1,51,09/03/2021,1,39,48,2990,9,0,1,0000,0000,3,23
8,36,2,0,1,2,6.0,1,81,21/02/2021,1,39,54,3805,8,0,1,0000,0000,1,23
9,30,2,0,1,1,9.0,1,71,22/02/2021,2,39,53,2805,8,0,1,0000,0000,3,23

# Variable: presencia o ausencia de Malformaciones Craneofaciales MCF
- Con MCF (1)
- Sin (0)

In [10]:
def update_codes(base_array):
  new_codes = []
  for value in base_array:
    for i in range(0, 10):
      new_codes.append(value[:-1] + str(i))

  return new_codes

In [11]:
codigos_mc = update_codes(['Q100', 'Q110', 'Q120', 'Q130', 'Q140', 'Q150', 'Q160', 'Q170', 'Q180', 'Q300', 'Q350', 'Q360', 'Q370', 'Q380'])
anomalias_mc = df['CODIGOCIEANOMALIA1'].isin(codigos_mc) | df['CODIGOCIEANOMALIA2'].isin(codigos_mc)

key = "MCC-General"

df[key] = None
df[key] = np.where(df.CODIGOCIEANOMALIA1.isin(codigos_mc) | df.CODIGOCIEANOMALIA2.isin(codigos_mc), 1, 0)
df[key].mask((~df.CODIGOCIEANOMALIA1.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA2 == '9999'), None, inplace=True)
df[key].mask((~df.CODIGOCIEANOMALIA2.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA1 == '9999'), None, inplace=True)
df[key].value_counts()

0.0    1633486
1.0       3630
Name: MCC-General, dtype: int64

## Variable categÃ³rica clasificaciÃ³n de MCF
- OftalmolÃ³gicas Q100 Q110 Q120 Q130 Q140 Q150
- OÃ­do Q160 Q170
- Cara y cuello Q180
- Nariz Q300
- Lengua y boca Q380 Q350 Q360 Q370

Aqui se usan numeros primos para hacer la limpieza de datos

In [12]:
codigos_oftalmo = update_codes(['Q100', 'Q110', 'Q120', 'Q130', 'Q140', 'Q150'])
codigos_oido = update_codes(['Q160', 'Q170'])
codigos_cara_cuello = update_codes(['Q180'])
codigos_nariz = update_codes(['Q300'])
codigos_lengua_boca = update_codes(['Q380', 'Q350', 'Q360', 'Q370'])

mc_value = {
    'oftalmo': 1,
    'oido': 10,
    'cuello': 100,
    'nariz': 1000,
    'boca': 10000
}
mc_values = [1, 10, 100, 1000, 10000]

### Oftalmo

In [13]:
# Valores par oftalmo
value = mc_value['oftalmo']
key = "MC-1"
df[key] = 0
df[key].mask(df['CODIGOCIEANOMALIA1'].isin(codigos_oftalmo), value, inplace=True)

key = "MC-2"
df[key] = 0
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_oftalmo), value, inplace=True)

### Oido

In [14]:
# Valores par oido
value = mc_value['oido']
key = "MC-1"
df[key].mask(df['CODIGOCIEANOMALIA1'].isin(codigos_oido), value, inplace=True)

key = "MC-2"
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_oido), value, inplace=True)

### Cara y cuello

In [15]:
# Valores par cara y cuello
value = mc_value['cuello']
key = "MC-1"
df[key].mask(df['CODIGOCIEANOMALIA1'].isin(codigos_cara_cuello), value, inplace=True)

key = "MC-2"
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_cara_cuello), value, inplace=True)

### Nariz

In [16]:
# Valores para nariz
value = mc_value['nariz']
key = "MC-1"
df[key].mask(df['CODIGOCIEANOMALIA1'].isin(codigos_nariz), value, inplace=True)

key = "MC-2"
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_nariz), value, inplace=True)

### Lengua y boca

In [17]:
# Valores para lengua y boca
value = mc_value['boca']
key = "MC-1"
df[key].mask(df['CODIGOCIEANOMALIA1'].isin(codigos_lengua_boca), value, inplace=True)

key = "MC-2"
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_lengua_boca), value, inplace=True)

In [18]:
key = "MC-1"
df[key].value_counts()

0        1636134
10          1614
10000       1422
100          134
1             93
1000          82
Name: MC-1, dtype: int64

In [19]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

10       1614
10000    1422
0         285
100       134
1          93
1000       82
Name: MC-1, dtype: int64

In [20]:
key = "MC-2"
df[key].value_counts()

0        1638529
10000        414
10           399
100           52
1000          44
1             41
Name: MC-2, dtype: int64

In [21]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

0        2680
10000     414
10        399
100        52
1000       44
1          41
Name: MC-2, dtype: int64

In [22]:
key = 'MC-G'
df[key] = None
df[key] = df[['MC-1', 'MC-2']].sum(axis=1)
df[key].value_counts()

0        1635849
10          1448
10000       1211
20000        292
20           250
100          131
1             88
1000          87
10010         28
110           20
200           16
2             15
1010          12
2000           9
10001          7
11             5
11000          4
1001           4
10100          2
1100           1
Name: MC-G, dtype: int64

In [23]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

10       1448
10000    1211
20000     292
20        250
100       131
1          88
1000       87
10010      28
110        20
200        16
2          15
1010       12
2000        9
10001       7
11          5
11000       4
1001        4
10100       2
1100        1
Name: MC-G, dtype: int64

## Variable categÃ³rica clasificaciÃ³n de MCF
- OftalmolÃ³gicas (1)
- OÃ­do (2)
- Cara y cuello (3)
- Nariz (4)
- Lengua y boca (5)

In [24]:
key="MC-G2"
etiqueta = 'MC-G'

df[key] = None
df[key].mask(df[etiqueta] == mc_value['oftalmo'], 1, inplace=True)
df[key].mask(df[etiqueta] == mc_value['oido'], 2, inplace=True)
df[key].mask(df[etiqueta] == mc_value['cuello'], 3, inplace=True)
df[key].mask(df[etiqueta] == mc_value['nariz'], 4, inplace=True)
df[key].mask(df[etiqueta] == mc_value['boca'], 5, inplace=True)
df[key].mask(~df[etiqueta].isin(mc_values), 6, inplace=True)
df[key].mask(df[etiqueta] == 0, None, inplace=True)


df[key].value_counts()

2    1448
5    1211
6     665
3     131
1      88
4      87
Name: MC-G2, dtype: int64

In [25]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    1448
5    1211
6     665
3     131
1      88
4      87
Name: MC-G2, dtype: int64

# Dos malformaciones
- No tenga una segunda malformacion, solo la primera sea MC (0)
- Las dos malformaciones sean cranofaciales  (1)
- Que una sea segunda malformacion y otra de otro tipo (2)
- MCF y no se espeficifa (3)

In [26]:
key="S-MG"
df[key] = None
# estos solo checan los que si o si, tienen solo una malformacion
mcf_primera = (df.CODIGOCIEANOMALIA1.isin(codigos_mc) & (df.CODIGOCIEANOMALIA2 == '0000'))
mcf_segunda = (df.CODIGOCIEANOMALIA2.isin(codigos_mc) & (df.CODIGOCIEANOMALIA1 == '0000'))

# tenga dos mcf
mcf_primera_y_segunda = (df.CODIGOCIEANOMALIA1.isin(codigos_mc) & df.CODIGOCIEANOMALIA2.isin(codigos_mc))

# que tenga una mcf y otra mc != a mcf
mcf_primera_mc_segunda = ((df.CODIGOCIEANOMALIA1.isin(codigos_mc))  & (df.CODIGOCIEANOMALIA2 != '0000') & (~df.CODIGOCIEANOMALIA2.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA2 != '9999'))
mc_primera_mcf_segunda = ((df.CODIGOCIEANOMALIA2.isin(codigos_mc))  & (df.CODIGOCIEANOMALIA1 != '0000') & (~df.CODIGOCIEANOMALIA1.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA1 != '9999'))

# que tenga una mcf y la otra idk
mcf_primera_idk_segunda = ((df.CODIGOCIEANOMALIA1.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA2 == '9999'))
idk_primera_mcf_segunda = ((df.CODIGOCIEANOMALIA2.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA1 == '9999'))

df[key].mask(mcf_primera | mcf_segunda, 0, inplace=True)
df[key].mask(mcf_primera_y_segunda, 1, inplace=True)
df[key].mask(mcf_primera_mc_segunda | mc_primera_mcf_segunda, 2, inplace=True)
df[key].mask(mcf_primera_idk_segunda | idk_primera_mcf_segunda, 3, inplace=True)
df[key].value_counts()

0    2340
1     665
2     617
3       8
Name: S-MG, dtype: int64

In [27]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

0    2340
1     665
2     617
3       8
Name: S-MG, dtype: int64

In [28]:
df[(df.CODIGOCIEANOMALIA1.isin(codigos_mc) & (df.CODIGOCIEANOMALIA2 != '0000') & (df.CODIGOCIEANOMALIA2 != '9999')) | (df.CODIGOCIEANOMALIA2.isin(codigos_mc) & (df.CODIGOCIEANOMALIA1 != '0000') & (df.CODIGOCIEANOMALIA1 != '9999'))]

,EDAD,NUMEROEMBARAZOS,HIJOSNACIDOSMUERTOS,ATENCIONPRENATAL,TRIMESTREPRIMERCONSULTA,TOTALCONSULTAS,SOBREVIVIOPARTO,ESCOLARIDAD,FECHANACIMIENTO,SEXO,...,CODIGOCIEANOMALIA1,CODIGOCIEANOMALIA2,RESOLUCIONEMBARAZO,ENTIDADFEDERATIVAPARTO,MCC-General,MC-1,MC-2,MC-G,MC-G2,S-MG
981,19,2,0,2,0,0.0,1,31,17/05/2021,2,...,Q170,Q170,1,9,1.0,10,10,20,6,1
1127,33,3,0,1,1,7.0,1,72,26/05/2021,1,...,Q249,Q371,1,9,1.0,0,10000,10000,5,2
1724,19,1,0,1,1,7.0,1,82,09/09/2021,1,...,Q300,Q300,3,9,1.0,1000,1000,2000,6,1
2148,19,1,0,1,1,5.0,1,51,10/10/2021,2,...,Q300,Q300,1,9,1.0,1000,1000,2000,6,1
5125,29,4,0,1,1,12.0,1,31,25/01/2021,2,...,Q173,Q161,1,32,1.0,10,10,20,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1638126,17,1,0,1,1,7.0,1,51,09/06/2021,1,...,Q369,Q359,1,22,1.0,10000,10000,20000,6,1
1638389,19,3,1,1,1,9.0,1,32,16/10/2021,1,...,Q359,Q359,1,11,1.0,10000,10000,20000,6,1
1638459,29,4,1,1,1,9.0,1,32,25/05/2021,1,...,Q169,Q681,3,9,1.0,10,0,10,2,2
1638770,35,4,0,1,1,5.0,1,51,04/03/2021,2,...,Q909,Q138,3,15,1.0,0,1,1,1,2
1639418,18,1,0,1,1,7.0,1,51,21/12/2021,2,...,Q000,Q379,1,24,1.0,0,10000,10000,5,2

# Edad materna
Edades por decadas de vida de los que presentan malformaciones craneofaciales, ya sea en una sola columna o ambas.
menores de 20 aÃ±os
20-29
30-39
40-49
mayores o igual a 50

In [29]:
etiqueta = 'EDAD'
key = "Edad materna"
df[key] = None


df[key].mask(df[etiqueta] < 20, 1, inplace=True)
df[key].mask((df[etiqueta] >= 20) & (df[etiqueta] < 30), 2, inplace=True)
df[key].mask((df[etiqueta] >= 30) & (df[etiqueta] < 40), 3, inplace=True)
df[key].mask((df[etiqueta] >= 40) & (df[etiqueta] < 50), 4, inplace=True)
df[key].mask((df[etiqueta] >= 50) & (df[etiqueta] != 999), 5, inplace=True)
df[key].value_counts()

2    884232
3    445737
1    272216
4     36998
5       228
Name: Edad materna, dtype: int64

In [30]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    1864
3    1074
1     563
4     125
5       3
Name: Edad materna, dtype: int64

## Tipo de producto del embarazo
- Ãšnico (1)
- Gemelar (2)
- Tres o mÃ¡s (3)

In [31]:
etiqueta = 'PRODUCTOEMBARAZO'
key = "Tipo producto"
df[key] = None
df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask(df[etiqueta] == 3, 3, inplace=True)
df[key].value_counts()

1    1609636
2      26101
3        729
Name: Tipo producto, dtype: int64

In [32]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

1    3558
2      61
3       1
Name: Tipo producto, dtype: int64

# Numero de embarazos
Primigesta (1 embarazo)
Multigesta (2 a 5 embarazos)
Gran multigesta (6 o mÃ¡s embarazos)

In [33]:
etiqueta = 'NUMEROEMBARAZOS'
key = "Numero de embarazos"
df[key] = None


df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask((df[etiqueta] >= 2) & (df[etiqueta] < 6), 2, inplace=True)
df[key].mask((df[etiqueta] >= 6) & (df[etiqueta] != 99), 3, inplace=True)
df[key].value_counts()

2    1040566
1     565704
3      33047
Name: Numero de embarazos, dtype: int64

In [34]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    2322
1    1210
3      98
Name: Numero de embarazos, dtype: int64

#Hijos nacidos muertos
- Ausente (0)
- Presente (1)

In [35]:
etiqueta = 'HIJOSNACIDOSMUERTOS'
key = "Hijos nacidos muertos"
df[key] = None

df[key].mask((df[etiqueta] >= 1) & (df[etiqueta] != 99), 1, inplace=True)
df[key].mask(df[etiqueta] == 0, 0, inplace=True)
df[key].value_counts()

0    1364507
1     274601
Name: Hijos nacidos muertos, dtype: int64

In [36]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

0    2896
1     733
Name: Hijos nacidos muertos, dtype: int64

# Madre sobrevivio parto SOBREVIVIOPARTO
* Si 1
* No 2
* no aplica, se ignora, no especificado 0, 8, 9

In [37]:
etiqueta = 'SOBREVIVIOPARTO'
no_especificado = [0, 8, 9]

key = "Madre sobrevivio al parto"
df[key] = None

df[key].mask(df[etiqueta] == 2, 0, inplace=True)
df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta].isin(no_especificado), 2, inplace=True)
df[key].value_counts()

1    1637637
2       1748
0         94
Name: Madre sobrevivio al parto, dtype: int64

In [38]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

1    3627
2       3
Name: Madre sobrevivio al parto, dtype: int64

#Madre recibio atencion prenatal
* Si 1
* No 2
* no aplica, se ignora, no especificado 0, 8, 9

In [39]:
etiqueta = 'ATENCIONPRENATAL'
no_especificado = [0, 8, 9]
key = "Madre recibio atencion prenatal"
df[key] = None

df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 0, inplace=True)
df[key].value_counts()

1    1581004
0      47568
Name: Madre recibio atencion prenatal, dtype: int64

In [40]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

1    3502
0     110
Name: Madre recibio atencion prenatal, dtype: int64

#Trimestre de primer consulta
Trimestre 1
Trimestre 2
Trimestre 3

In [41]:
etiqueta = 'TRIMESTREPRIMERCONSULTA'
key = "Trimestre de la primera consulta"
df[key] = None

df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask(df[etiqueta] == 3, 3, inplace=True)
df[key].value_counts()

1    1223848
2     276848
3      54183
Name: Trimestre de la primera consulta, dtype: int64

In [42]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

1    2630
2     694
3     113
Name: Trimestre de la primera consulta, dtype: int64

# Total de consulta durante el embarazo
Suficiente (5 o mas citas)
Insuficiente (1-4 citas)
No recibiÃ³ (0 citas)

In [43]:
etiqueta = 'TOTALCONSULTAS'
key = "Total numero de consultas embarazo"
df[key] = None

df[key].mask(df[etiqueta] == 0, 0, inplace=True)
df[key].mask((df[etiqueta] >= 1) & (df[etiqueta] < 5), 1, inplace=True)
df[key].mask((df[etiqueta] >= 5) & (df[etiqueta] != 99), 2, inplace=True)
df[key].value_counts()

2    1349689
1     218469
0      55487
Name: Total numero de consultas embarazo, dtype: int64

In [44]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    2977
1     496
0     109
Name: Total numero de consultas embarazo, dtype: int64

#Escolaridad materna
Ninguno (0, 1, 32, 88, 99)
Primaria completa (31, 52, 112)
Secundaria completa (51, 72)
Bachillerato o preparatoria completa (71, 82)
Licenciatura completa (81, 102)
Posgrado (101)
Tecnico terminal (111, 131, 132)

In [45]:
etiqueta = 'ESCOLARIDAD'
ninguno = [1]
primaria = [31, 32, 52, 112]
secundaria = [51, 72]
bachiller = [71, 82]
licenciatura = [81, 102]
posgrado = [101]
tecnico = [111, 131, 132]
no_esp = [0, 88, 99]
key = "Escolaridad materna"
df[key] = None
df[key].mask(df[etiqueta].isin(ninguno), 0, inplace=True)
df[key].mask(df[etiqueta].isin(primaria), 1, inplace=True)
df[key].mask(df[etiqueta].isin(secundaria), 2, inplace=True)
df[key].mask(df[etiqueta].isin(bachiller), 3, inplace=True)
df[key].mask(df[etiqueta].isin(licenciatura), 4, inplace=True)
df[key].mask(df[etiqueta].isin(posgrado), 5, inplace=True)
df[key].mask(df[etiqueta].isin(tecnico), 6, inplace=True)
df[key].mask(df[etiqueta].isin(no_esp), 7, inplace=True)
df[key].value_counts()

2    610195
3    439448
1    262724
4    247817
6     24330
0     22690
5     20534
7     11741
Name: Escolaridad materna, dtype: int64

In [46]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    1383
3     982
1     578
4     526
0      60
5      43
6      42
7      16
Name: Escolaridad materna, dtype: int64

# Entidad federativa de parto ENTIDADFEDERATIVAPARTO
df.agg(['count', 'size', 'nunique'])

In [47]:
df['ENTIDADFEDERATIVAPARTO'].mask(df['ENTIDADFEDERATIVAPARTO'] == 99, None, inplace=True)
df['ENTIDADFEDERATIVAPARTO'].value_counts()

15    180299
14    114256
21    101286
30     93879
9      91789
11     90489
7      88203
19     75190
16     73340
20     56675
12     51255
8      48302
28     46053
5      45324
2      44930
24     41986
25     39999
27     37825
26     35407
13     35264
22     33601
31     27657
10     26142
17     25611
32     24011
1      23036
23     22010
29     18153
18     15307
4      11761
6      10621
3       9818
Name: ENTIDADFEDERATIVAPARTO, dtype: int64

In [48]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    1383
3     982
1     578
4     526
0      60
5      43
6      42
7      16
Name: Escolaridad materna, dtype: int64

# Sexo del recien nacido SEXO
* Hombre 1
* mujer 2
* no especificado 0,9

In [49]:
etiqueta = 'SEXO'
key = "Escolaridad materna"
df[key] = None
df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask((df[etiqueta] == 0) | (df[etiqueta] == 9), 3, inplace=True)
df[key].value_counts()

1    833880
2    804310
3      1289
Name: Escolaridad materna, dtype: int64

In [50]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

1    1954
2    1668
3       8
Name: Escolaridad materna, dtype: int64

# Edad gestacional EDADGESTACIONAL
* pretermino =<36 semanas
* termino 37-41 semanas
* postermino =>42 semanas

In [51]:
etiqueta = 'EDADGESTACIONAL'
key = "Edad gestacional"
df[key] = None
df[key].mask(df[etiqueta] <= 36, 1, inplace=True)
df[key].mask((df[etiqueta] > 36) & (df[etiqueta] < 42), 2, inplace=True)
df[key].mask((df[etiqueta] >= 42) & (df[etiqueta] != 99), 3, inplace=True)
df[key].value_counts()

2    1495526
1     131109
3      11495
Name: Edad gestacional, dtype: int64

In [52]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    3076
1     517
3      35
Name: Edad gestacional, dtype: int64

# Peso del recien nacido PESO
* bajo peso =<2499gr
* normopeso 2500-3999gr
* macrosomico =>4000 gr

In [53]:
etiqueta = 'PESO'
key = "Peso del nacido vivo"
df[key] = None
df[key].mask(df[etiqueta] < 2500, 1, inplace=True)
df[key].mask((df[etiqueta] >= 2500) & (df[etiqueta] < 4000), 2, inplace=True)
df[key].mask((df[etiqueta] >= 4000) & (df[etiqueta] != 9999), 3, inplace=True)
df[key].value_counts()

2    1399821
1     109368
3      39314
Name: Peso del nacido vivo, dtype: int64

In [54]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    2840
1     438
3      68
Name: Peso del nacido vivo, dtype: int64

# Puntaje escala APGAR a los 5 minutos de recien nacido con MCF APGAR
* Normal 7-10 puntos
* Depresion moderada 4-6 puntos
* Depresion severa 0-3 puntos

In [55]:
etiqueta = 'APGAR'
key = "Puntaje apgar"
df[key] = None
df[key].mask((df[etiqueta] >= 7) & (df[etiqueta] <= 10), 1, inplace=True)
df[key].mask((df[etiqueta] >= 4) & (df[etiqueta] <= 6), 2, inplace=True)
df[key].mask((df[etiqueta] >= 0) & (df[etiqueta] <= 3), 3, inplace=True)
df[key].mask((df[etiqueta] == 99), 4, inplace=True)
df[key].value_counts()

1    1610482
3      11540
4      10646
2       6811
Name: Puntaje apgar, dtype: int64

In [56]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

1    3512
2      58
3      47
4      13
Name: Puntaje apgar, dtype: int64

# Puntaje escala Silverman Anderson en recien nacidos con MCF SILVERMAN
* sin dificultad respiratoria
* dificultad respiratoria leve 1-3 puntos
* dificultad respiratoria moderada 4-6 puntos
* dificultad respiratoria severa 7-10 puntos

In [57]:
etiqueta = 'SILVERMAN'
key = "Puntaje silverman"
df[key] = None
df[key].mask(df[etiqueta] == 0, 0, inplace=True)
df[key].mask((df[etiqueta] >= 1) & (df[etiqueta] <= 3), 1, inplace=True)
df[key].mask((df[etiqueta] >= 4) & (df[etiqueta] <= 6), 2, inplace=True)
df[key].mask((df[etiqueta] >= 7) & (df[etiqueta] <= 10), 3, inplace=True)
df[key].mask((df[etiqueta] == 99), 4, inplace=True)
df[key].value_counts()

0    1451035
1     152351
3      14874
4      12169
2       9050
Name: Puntaje silverman, dtype: int64

In [58]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

0    2915
1     609
2      65
4      22
3      19
Name: Puntaje silverman, dtype: int64

# Procedimiento utilizado para resolucion del embarazo RESOLUCIONEMBARAZO

* eutocico 1 (1)
* distocico 2 (2)
* cesarea 3 (3)
* otro 8 (4)
* no especificado 0 (5)

In [59]:
etiqueta = 'RESOLUCIONEMBARAZO'
key = "Procedimiento para resolucion"
df[key] = None
df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask(df[etiqueta] == 3, 3, inplace=True)
df[key].mask(df[etiqueta] == 8, 4, inplace=True)
df[key].mask(df[etiqueta] == 0, 5, inplace=True)

df[key].value_counts()

3    843729
1    766944
2     17713
5     10484
4       609
Name: Procedimiento para resolucion, dtype: int64

In [60]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

3    2070
1    1485
2      42
5      27
4       6
Name: Procedimiento para resolucion, dtype: int64

# FECHANACIMIENTO
Actualizar para solo usar el mes y el aÃ±o

SerÃ­a
- 2018 (1)
- 2019 (2)
- 2020 (3)
- 2021 (4)
- 2022 (5)

In [61]:
etiqueta = 'FECHANACIMIENTO'
df[etiqueta]

0          05/01/2021
1          04/01/2021
2          26/01/2021
3          05/02/2021
4          02/02/2021
              ...
1639474    23/09/2021
1639475    14/11/2021
1639476    11/02/2021
1639477    17/02/2021
1639478    21/09/2021
Name: FECHANACIMIENTO, Length: 1639479, dtype: object

In [62]:
etiqueta = 'fecha nacimiento'
df[etiqueta] = pd.to_datetime(df['FECHANACIMIENTO'], format='%d/%m/%Y').dt.strftime('%m/%Y')
key = 'Year'
format = '01/01/' + year
df[key] = None
df[key].mask(df[etiqueta] >= format, year_key[year], inplace=True)
df[key].value_counts()

4    1639479
Name: Year, dtype: int64

In [63]:
fileName = '/content/drive/My Drive/Colab Notebooks/miriam/' + year + '_nacimientos_clean.csv'
df.to_csv(fileName, index=False)

# Analisis de datos

In [64]:
df['EDAD'].replace([999, 888], None)
df['NUMEROEMBARAZOS'].replace([99], None)
df['HIJOSNACIDOSMUERTOS'].replace([99], None)
df['ATENCIONPRENATAL'].replace([9], None)
df['TRIMESTREPRIMERCONSULTA'].replace([9], None)
df['TOTALCONSULTAS'].replace([99], None)
df['SOBREVIVIOPARTO'].replace([9], None)
df['ESCOLARIDAD'].replace([999], None)
df['SEXO'].replace([99], None)
df['EDADGESTACIONAL'].replace([99], None)
df['TALLA'].replace([99], None)
df['PESO'].replace([9999], None)
df['TALLA'].replace([9], None)
df['APGAR'].replace([99], None)
df['SILVERMAN'].replace([99], None)

0          1
1          1
2          0
3          0
4          0
          ..
1639474    0
1639475    0
1639476    1
1639477    0
1639478    0
Name: SILVERMAN, Length: 1639479, dtype: object

### Pacientes con MCF

In [65]:
label = "MCC-General"
df[df[label] == 1].describe().applymap('{:,.2f}'.format)

,EDAD,NUMEROEMBARAZOS,HIJOSNACIDOSMUERTOS,ATENCIONPRENATAL,TRIMESTREPRIMERCONSULTA,TOTALCONSULTAS,SOBREVIVIOPARTO,ESCOLARIDAD,SEXO,EDADGESTACIONAL,...,PESO,APGAR,SILVERMAN,PRODUCTOEMBARAZO,RESOLUCIONEMBARAZO,ENTIDADFEDERATIVAPARTO,MCC-General,MC-1,MC-2,MC-G
count,"3,630.00","3,630.00","3,630.00","3,630.00","3,630.00","3,608.00","3,630.00","3,630.00","3,630.00","3,630.00",...,"3,630.00","3,630.00","3,630.00","3,630.00","3,630.00","3,630.00","3,630.00","3,630.00","3,630.00","3,630.00"
mean,26.96,2.30,0.29,1.05,1.39,7.94,1.00,60.80,1.46,38.17,...,"3,555.51",9.06,0.99,1.01,2.16,16.53,1.00,"3,948.11","1,155.16","5,103.27"
std,17.45,1.37,1.74,0.44,1.20,8.46,0.03,19.61,0.50,2.75,...,"1,952.11",5.50,7.73,0.14,1.02,8.31,0.00,"4,859.58","3,175.79","6,379.63"
min,12.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,21.00,...,400.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,0.00,1.00
25%,21.00,1.00,0.00,1.00,1.00,5.00,1.00,51.00,1.00,37.00,...,"2,770.00",9.00,0.00,1.00,1.00,10.25,1.00,10.00,0.00,10.00
50%,26.00,2.00,0.00,1.00,1.00,7.00,1.00,71.00,1.00,39.00,...,"3,100.00",9.00,0.00,1.00,3.00,15.00,1.00,10.00,0.00,100.00
75%,31.00,3.00,0.00,1.00,1.00,9.00,1.00,72.00,2.00,40.00,...,"3,460.00",9.00,0.00,1.00,3.00,22.00,1.00,"10,000.00",10.00,"10,000.00"
max,999.00,13.00,99.00,9.00,9.00,99.00,1.00,132.00,2.00,99.00,...,"9,999.00",99.00,99.00,3.00,8.00,32.00,1.00,"10,000.00","10,000.00","20,000.00"

In [66]:
df[df[label] == 1].mode(numeric_only=True)

,EDAD,NUMEROEMBARAZOS,HIJOSNACIDOSMUERTOS,ATENCIONPRENATAL,TRIMESTREPRIMERCONSULTA,TOTALCONSULTAS,SOBREVIVIOPARTO,ESCOLARIDAD,SEXO,EDADGESTACIONAL,...,PESO,APGAR,SILVERMAN,PRODUCTOEMBARAZO,RESOLUCIONEMBARAZO,ENTIDADFEDERATIVAPARTO,MCC-General,MC-1,MC-2,MC-G
0,21,1,0,1,1,8.0,1,51,1,39,...,9999,9,0,1,3,15,1.0,10,0,10

## MalformaciÃ³n congÃ©nita craneofacial
- Ausente (1)
- Presente (2)

In [67]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(df[df[label] == 1].CODIGOCIEANOMALIA1.value_counts().add(df[df[label] == 1].CODIGOCIEANOMALIA2.value_counts(),fill_value=0).sort_values(ascending=False).to_markdown())

|      |    0 |
|:-----|-----:|
| 0000 | 2340 |
| Q170 |  915 |
| Q379 |  663 |
| Q172 |  443 |
| Q359 |  377 |
| Q369 |  308 |
| Q173 |  207 |
| Q174 |  185 |
| Q381 |  138 |
| Q189 |   72 |
| Q161 |   68 |
| Q179 |   67 |
| Q178 |   58 |
| Q372 |   56 |
| Q181 |   48 |
| Q309 |   46 |
| P128 |   44 |
| Q385 |   35 |
| Q375 |   34 |
| Q103 |   33 |
| Q160 |   33 |
| P073 |   32 |
| Q378 |   31 |
| Q300 |   31 |
| Q371 |   31 |
| Q360 |   27 |
| Q188 |   27 |
| Q308 |   25 |
| Q184 |   25 |
| P081 |   24 |
| Q120 |   23 |
| Q169 |   21 |
| Q380 |   20 |
| Q386 |   19 |
| Q699 |   19 |
| P071 |   18 |
| P229 |   16 |
| Q370 |   15 |
| Q105 |   15 |
| Q897 |   15 |
| P835 |   14 |
| Q158 |   14 |
| Q373 |   14 |
| Q374 |   13 |
| K070 |   13 |
| Q652 |   12 |
| Q355 |   12 |
| Q660 |   12 |
| Q663 |   12 |
| Q361 |   11 |
| Q159 |   11 |
| Q531 |   10 |
| Q111 |   10 |
| Q059 |   10 |
| Q532 |   10 |
| Q383 |    9 |
| Q112 |    9 |
| Q668 |    9 |
| Q870 |    9 |
| Q351 |    9 |
| Q681 |    8 |
| Q303 |    8 |
| Q302 |    8 |
| Q02X |    8 |
| 9999 |    8 |
| Q301 |    8 |
| P050 |    7 |
| P220 |    7 |
| Q752 |    7 |
| Q423 |    7 |
| P838 |    6 |
| Q175 |    6 |
| Q690 |    6 |
| Q753 |    6 |
| Q828 |    6 |
| Q353 |    6 |
| Q439 |    6 |
| Q180 |    5 |
| Q825 |    5 |
| P059 |    5 |
| Q750 |    5 |
| Q186 |    5 |
| Q539 |    5 |
| Q878 |    5 |
| Q909 |    5 |
| Q713 |    5 |
| P113 |    5 |
| Q672 |    5 |
| P969 |    5 |
| Q164 |    4 |
| Q171 |    4 |
| Q384 |    4 |
| Q758 |    4 |
| Q658 |    4 |
| Q390 |    4 |
| Q709 |    4 |
| Q249 |    4 |
| Q000 |    4 |
| Q039 |    4 |
| Q682 |    3 |
| K098 |    3 |
| P143 |    3 |
| P917 |    3 |
| P121 |    3 |
| Q213 |    3 |
| Q692 |    3 |
| P221 |    3 |
| Q760 |    3 |
| Q793 |    3 |
| Q110 |    3 |
| Q899 |    3 |
| Q829 |    3 |
| K006 |    2 |
| Q564 |    2 |
| P219 |    2 |
| Q917 |    2 |
| B07X |    2 |
| Q382 |    2 |
| P072 |    2 |
| Q549 |    2 |
| Q552 |    2 |
| Q833 |    2 |
| Q669 |    2 |
| P011 |    2 |
| Q666 |    2 |
| Q740 |    2 |
| Q671 |    2 |
| Q673 |    2 |
| Q674 |    2 |
| P701 |    2 |
| Q688 |    2 |
| K429 |    2 |
| K090 |    2 |
| Q149 |    2 |
| P025 |    2 |
| Q106 |    2 |
| Q133 |    2 |
| Q078 |    2 |
| Q107 |    2 |
| Q165 |    2 |
| Q270 |    2 |
| Q113 |    2 |
| Q042 |    2 |
| Q104 |    2 |
| Q138 |    2 |
| Q182 |    1 |
| K071 |    1 |
| Q748 |    1 |
| Q742 |    1 |
| Q741 |    1 |
| L813 |    1 |
| Q012 |    1 |
| Q738 |    1 |
| Q723 |    1 |
| Q183 |    1 |
| Q676 |    1 |
| Q677 |    1 |
| Q716 |    1 |
| Q714 |    1 |
| Q048 |    1 |
| Q043 |    1 |
| E890 |    1 |
| Q700 |    1 |
| K137 |    1 |
| L810 |    1 |
| Q040 |    1 |
| Q030 |    1 |
| Q703 |    1 |
| P721 |    1 |
| E859 |    1 |
| Q759 |    1 |
| R238 |    1 |
| R234 |    1 |
| R220 |    1 |
| R160 |    1 |
| Q935 |    1 |
| Q928 |    1 |
| Q913 |    1 |
| Q132 |    1 |
| Q898 |    1 |
| D180 |    1 |
| D181 |    1 |
| Q874 |    1 |
| Q871 |    1 |
| D222 |    1 |
| Q868 |    1 |
| Q840 |    1 |
| Q838 |    1 |
| D227 |    1 |
| D370 |    1 |
| Q792 |    1 |
| Q790 |    1 |
| Q778 |    1 |
| Q670 |    1 |
| Q185 |    1 |
| Q187 |    1 |
| Q318 |    1 |
| P209 |    1 |
| P942 |    1 |
| Q388 |    1 |
| P080 |    1 |
| P115 |    1 |
| Q251 |    1 |
| P129 |    1 |
| P138 |    1 |
| P139 |    1 |
| P140 |    1 |
| P839 |    1 |
| P155 |    1 |
| P159 |    1 |
| P210 |    1 |
| P052 |    1 |
| P211 |    1 |
| P833 |    1 |
| P832 |    1 |
| P241 |    1 |
| P399 |    1 |
| P545 |    1 |
| Q357 |    1 |
| P550 |    1 |
| P809 |    1 |
| P704 |    1 |
| Q348 |    1 |
| Q330 |    1 |
| Q399 |    1 |
| Q436 |    1 |
| N47X |    1 |
| Q556 |    1 |
| P968 |    1 |
| Q665 |    1 |
| P000 |    1 |
| P001 |    1 |
| Q659 |    1 |
| P948 |    1 |
| P012 |    1 |
| Q620 |    1 |
| Q613 |    1 |
| Q610 |    1 |
| Q206 |    1 |
| Q558 |    1 |
| Q555 |    1 |
| P031 |    1 |
| Q233 |    1 |
| Q248 |    1 |
| P019 |    1 |
| Q139 |    1 |
| P026 |    1 |
| Q529 |    1 |
| Q527 |    1 |
| Q524 |    1 |
| Q523 |    1 |
| Q522 |    1 |
| Q447 |    1 |
| Q443 |    1 |
| Z208 |    1 |

## MCF CategÃ³rica
- OftalmolÃ³gicas (1)
- OÃ­do (2)
- Cara y cuello (3)
- Nariz (4)
- Lengua y boca (5)

In [68]:
label = "MC-G2"
mc_value = {
    'oftalmo': 1,
    'oido': 2,
    'cuello': 3,
    'nariz': 4,
    'boca': 5
}

#### Lista oftalmo

In [69]:
value = mc_value['oftalmo']
a = df[df[label] == value].CODIGOCIEANOMALIA1.value_counts()
b = df[df[label] == value].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False).to_markdown())

|      |   0 |
|:-----|----:|
| 0000 |  55 |
| Q120 |  17 |
| Q105 |  15 |
| Q103 |  13 |
| Q158 |   9 |
| Q112 |   8 |
| Q159 |   6 |
| Q111 |   4 |
| P081 |   3 |
| Q110 |   3 |
| Q106 |   2 |
| Q390 |   2 |
| Q138 |   2 |
| Q133 |   2 |
| Q107 |   2 |
| Q113 |   2 |
| Q104 |   2 |
| P073 |   2 |
| Q059 |   2 |
| P071 |   2 |
| Q909 |   2 |
| Q02X |   2 |
| P838 |   1 |
| Q652 |   1 |
| Q878 |   1 |
| Q793 |   1 |
| Q750 |   1 |
| Q688 |   1 |
| Q681 |   1 |
| Q671 |   1 |
| Q660 |   1 |
| Q527 |   1 |
| P721 |   1 |
| Q524 |   1 |
| Q447 |   1 |
| Q039 |   1 |
| Q249 |   1 |
| K429 |   1 |
| Q139 |   1 |
| 9999 |   1 |
| D370 |   1 |

#### Lista oido

In [70]:
value = mc_value['oido']
a = df[df[label] == value].CODIGOCIEANOMALIA1.value_counts()
b = df[df[label] == value].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False).to_markdown())

|      |    0 |
|:-----|-----:|
| 0000 | 1174 |
| Q170 |  682 |
| Q172 |  307 |
| Q173 |  150 |
| Q174 |  133 |
| Q179 |   48 |
| Q178 |   43 |
| Q161 |   41 |
| P128 |   28 |
| Q160 |   23 |
| Q169 |   15 |
| P081 |   12 |
| P071 |    9 |
| K070 |    8 |
| Q699 |    8 |
| Q531 |    6 |
| Q660 |    6 |
| Q690 |    6 |
| P073 |    6 |
| P835 |    6 |
| Q870 |    6 |
| Q897 |    5 |
| Q423 |    5 |
| P113 |    5 |
| Q652 |    5 |
| Q059 |    5 |
| Q668 |    5 |
| Q663 |    5 |
| Q672 |    4 |
| Q828 |    4 |
| P229 |    4 |
| Q682 |    3 |
| Q681 |    3 |
| 9999 |    3 |
| Q175 |    3 |
| Q753 |    3 |
| Q825 |    3 |
| Q658 |    3 |
| Q532 |    3 |
| P969 |    3 |
| Q666 |    2 |
| Q171 |    2 |
| K090 |    2 |
| Q909 |    2 |
| P011 |    2 |
| Q270 |    2 |
| Q674 |    2 |
| Q439 |    2 |
| Q539 |    2 |
| Q752 |    2 |
| Q549 |    2 |
| P025 |    2 |
| P121 |    2 |
| Q829 |    2 |
| P701 |    2 |
| P838 |    2 |
| Q760 |    2 |
| Q552 |    1 |
| Q558 |    1 |
| Q840 |    1 |
| Q874 |    1 |
| Q610 |    1 |
| Q838 |    1 |
| R234 |    1 |
| Q871 |    1 |
| Q659 |    1 |
| R220 |    1 |
| Q692 |    1 |
| Q878 |    1 |
| Q750 |    1 |
| Q665 |    1 |
| Q748 |    1 |
| Q742 |    1 |
| Q740 |    1 |
| Q928 |    1 |
| Q714 |    1 |
| Q713 |    1 |
| Q673 |    1 |
| Q676 |    1 |
| Q709 |    1 |
| Q868 |    1 |
| D222 |    1 |
| Q523 |    1 |
| P080 |    1 |
| P241 |    1 |
| P221 |    1 |
| P219 |    1 |
| P211 |    1 |
| P209 |    1 |
| P143 |    1 |
| P140 |    1 |
| P138 |    1 |
| P115 |    1 |
| P059 |    1 |
| Q443 |    1 |
| P052 |    1 |
| P050 |    1 |
| P031 |    1 |
| P019 |    1 |
| P012 |    1 |
| P001 |    1 |
| K098 |    1 |
| K071 |    1 |
| K006 |    1 |
| P399 |    1 |
| P550 |    1 |
| P704 |    1 |
| P809 |    1 |
| Q399 |    1 |
| Q390 |    1 |
| Q233 |    1 |
| Q213 |    1 |
| Q206 |    1 |
| E859 |    1 |
| B07X |    1 |
| D180 |    1 |
| D181 |    1 |
| Q164 |    1 |
| Q078 |    1 |
| Q043 |    1 |
| Q039 |    1 |
| Q02X |    1 |
| Q012 |    1 |
| P948 |    1 |
| P942 |    1 |
| P917 |    1 |
| P839 |    1 |
| Z208 |    1 |

Lista cuello

In [71]:
value = mc_value['cuello']
a = df[df[label] == value].CODIGOCIEANOMALIA1.value_counts()
b = df[df[label] == value].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False).to_markdown())

|      |   0 |
|:-----|----:|
| 0000 |  85 |
| Q189 |  53 |
| Q181 |  31 |
| Q184 |  21 |
| Q188 |  17 |
| Q180 |   4 |
| P128 |   4 |
| P081 |   3 |
| Q186 |   3 |
| P073 |   2 |
| P835 |   2 |
| Q532 |   2 |
| P838 |   2 |
| Q758 |   2 |
| P229 |   2 |
| Q870 |   1 |
| Q829 |   1 |
| Q828 |   1 |
| Q825 |   1 |
| Q741 |   1 |
| Q740 |   1 |
| Q723 |   1 |
| Q703 |   1 |
| Q688 |   1 |
| Q681 |   1 |
| Q663 |   1 |
| Q658 |   1 |
| Q652 |   1 |
| Q330 |   1 |
| Q529 |   1 |
| P220 |   1 |
| B07X |   1 |
| K006 |   1 |
| Q187 |   1 |
| 9999 |   1 |
| L810 |   1 |
| Q182 |   1 |
| P071 |   1 |
| P072 |   1 |
| Q039 |   1 |
| Q02X |   1 |
| P969 |   1 |
| P833 |   1 |
| R238 |   1 |

Lista nariz

In [72]:
value = mc_value['nariz']
a = df[df[label] == value].CODIGOCIEANOMALIA1.value_counts()
b = df[df[label] == value].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False).to_markdown())

|      |   0 |
|:-----|----:|
| 0000 |  49 |
| Q309 |  29 |
| Q308 |  22 |
| Q300 |  20 |
| Q303 |   7 |
| Q301 |   6 |
| Q302 |   3 |
| Q752 |   3 |
| Q897 |   2 |
| 9999 |   2 |
| P128 |   2 |
| Q750 |   2 |
| Q681 |   2 |
| Q670 |   1 |
| Q677 |   1 |
| Q709 |   1 |
| Q668 |   1 |
| Q713 |   1 |
| Q753 |   1 |
| Q828 |   1 |
| Q870 |   1 |
| Q878 |   1 |
| Q669 |   1 |
| Q390 |   1 |
| Q660 |   1 |
| Q652 |   1 |
| Q539 |   1 |
| Q078 |   1 |
| P968 |   1 |
| P229 |   1 |
| P221 |   1 |
| P220 |   1 |
| P081 |   1 |
| P059 |   1 |
| P026 |   1 |
| K429 |   1 |
| K070 |   1 |
| Q899 |   1 |

Lista lengua y boca

In [73]:
value = mc_value['boca']
a = df[df[label] == value].CODIGOCIEANOMALIA1.value_counts()
b = df[df[label] == value].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False).to_markdown())

|      |   0 |
|:-----|----:|
| 0000 | 977 |
| Q379 | 462 |
| Q359 | 217 |
| Q369 | 193 |
| Q381 |  91 |
| Q372 |  40 |
| Q378 |  25 |
| Q375 |  24 |
| Q385 |  23 |
| P073 |  22 |
| Q371 |  21 |
| Q360 |  20 |
| Q386 |  18 |
| Q380 |  17 |
| Q699 |  11 |
| Q373 |  11 |
| Q374 |  10 |
| Q370 |  10 |
| P128 |  10 |
| Q361 |   9 |
| P229 |   9 |
| Q897 |   8 |
| Q355 |   7 |
| P050 |   6 |
| P071 |   6 |
| P835 |   6 |
| Q663 |   6 |
| Q532 |   5 |
| P081 |   5 |
| P220 |   5 |
| Q351 |   4 |
| Q660 |   4 |
| Q02X |   4 |
| K070 |   4 |
| Q531 |   4 |
| Q652 |   4 |
| Q000 |   4 |
| Q439 |   4 |
| Q059 |   3 |
| Q383 |   3 |
| P059 |   3 |
| Q249 |   3 |
| Q713 |   3 |
| Q668 |   3 |
| P917 |   2 |
| K098 |   2 |
| Q384 |   2 |
| Q692 |   2 |
| Q917 |   2 |
| Q709 |   2 |
| Q564 |   2 |
| Q899 |   2 |
| P143 |   2 |
| Q878 |   2 |
| Q833 |   2 |
| Q042 |   2 |
| Q423 |   2 |
| Q353 |   2 |
| Q793 |   2 |
| Q539 |   2 |
| Q752 |   2 |
| Q753 |   2 |
| Q213 |   2 |
| Q758 |   2 |
| Q669 |   1 |
| Q673 |   1 |
| Q672 |   1 |
| Q681 |   1 |
| Q671 |   1 |
| L813 |   1 |
| Q700 |   1 |
| Q716 |   1 |
| Q738 |   1 |
| Q759 |   1 |
| Q760 |   1 |
| Q778 |   1 |
| Q790 |   1 |
| Q792 |   1 |
| Q825 |   1 |
| Q870 |   1 |
| Q898 |   1 |
| Q909 |   1 |
| Q913 |   1 |
| Q935 |   1 |
| Q750 |   1 |
| D227 |   1 |
| Q620 |   1 |
| Q613 |   1 |
| Q030 |   1 |
| P969 |   1 |
| P838 |   1 |
| P832 |   1 |
| P545 |   1 |
| P221 |   1 |
| P219 |   1 |
| P210 |   1 |
| P159 |   1 |
| P155 |   1 |
| P139 |   1 |
| P129 |   1 |
| P121 |   1 |
| P072 |   1 |
| P000 |   1 |
| Q039 |   1 |
| Q040 |   1 |
| Q048 |   1 |
| Q382 |   1 |
| Q556 |   1 |
| Q555 |   1 |
| Q552 |   1 |
| Q522 |   1 |
| Q436 |   1 |
| Q388 |   1 |
| N47X |   1 |
| Q248 |   1 |
| E890 |   1 |
| 9999 |   1 |
| K137 |   1 |
| Q348 |   1 |
| Q318 |   1 |
| Q251 |   1 |
| R160 |   1 |

In [74]:
label="S-MG"
a = df[(df[label] == 1) | (df[label] == 2)].CODIGOCIEANOMALIA1.value_counts()
b = df[(df[label] == 1) | (df[label] == 2)].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False))

Q170    321.0
Q379    272.0
Q359    217.0
Q172    204.0
Q369    138.0
Q173     99.0
Q174     93.0
Q381     63.0
Q189     44.0
P128     44.0
Q161     34.0
P073     32.0
Q309     31.0
Q179     28.0
Q385     25.0
Q103     25.0
Q372     25.0
Q178     24.0
P081     24.0
Q181     22.0
Q699     19.0
Q300     18.0
P071     18.0
Q160     16.0
P229     16.0
Q120     15.0
Q897     15.0
Q371     15.0
Q360     14.0
Q308     14.0
P835     14.0
Q378     13.0
Q375     13.0
K070     13.0
Q188     13.0
Q184     12.0
Q652     12.0
Q660     12.0
Q663     12.0
Q059     10.0
Q532     10.0
Q531     10.0
Q668      9.0
Q870      9.0
Q380      9.0
Q111      9.0
Q383      8.0
Q681      8.0
Q370      8.0
Q02X      8.0
Q423      7.0
P220      7.0
Q169      7.0
Q752      7.0
Q351      7.0
Q158      7.0
P050      7.0
Q159      7.0
P838      6.0
Q690      6.0
Q828      6.0
Q355      6.0
Q753      6.0
Q439      6.0
Q386      5.0
Q750      5.0
Q713      5.0
Q374      5.0
Q539      5.0
Q825      5.0
Q302      5.0
Q909      5.0
P969      5.0
P113      5.0
Q672      5.0
Q112      5.0
Q878      5.0
P059      5.0
Q301      4.0
Q180      4.0
Q353      4.0
Q390      4.0
Q373      4.0
Q000      4.0
Q709      4.0
Q249      4.0
Q039      4.0
Q658      4.0
Q758      4.0
K098      3.0
Q175      3.0
Q692      3.0
Q793      3.0
Q682      3.0
P121      3.0
Q303      3.0
Q164      3.0
P143      3.0
Q829      3.0
Q186      3.0
P221      3.0
Q899      3.0
P917      3.0
Q213      3.0
Q361      3.0
Q760      3.0
Q833      2.0
Q917      2.0
Q674      2.0
Q740      2.0
Q688      2.0
Q673      2.0
Q671      2.0
Q669      2.0
Q666      2.0
Q564      2.0
Q552      2.0
Q549      2.0
Q384      2.0
Q270      2.0
B07X      2.0
P219      2.0
K429      2.0
Q042      2.0
P025      2.0
K006      2.0
K090      2.0
P072      2.0
Q149      2.0
Q078      2.0
P701      2.0
Q165      2.0
Q171      2.0
P011      2.0
Q723      1.0
Q738      1.0
Q716      1.0
Q741      1.0
Q742      1.0
Q748      1.0
Q714      1.0
Q248      1.0
Q700      1.0
P012      1.0
P019      1.0
Q703      1.0
P000      1.0
P026      1.0
P031      1.0
P052      1.0
P080      1.0
Q677      1.0
Q676      1.0
P115      1.0
P129      1.0
P138      1.0
P139      1.0
P001      1.0
Q778      1.0
N47X      1.0
E859      1.0
R238      1.0
R234      1.0
R220      1.0
R160      1.0
Q935      1.0
Q928      1.0
D181      1.0
Q913      1.0
D222      1.0
D227      1.0
Q898      1.0
D370      1.0
Q874      1.0
L813      1.0
Q871      1.0
E890      1.0
Q868      1.0
Q840      1.0
Q838      1.0
K071      1.0
K137      1.0
Q792      1.0
Q790      1.0
P140      1.0
L810      1.0
Q759      1.0
Q670      1.0
P209      1.0
P155      1.0
Q110      1.0
P942      1.0
P948      1.0
Q382      1.0
P968      1.0
Q012      1.0
Q030      1.0
Q040      1.0
Q043      1.0
Q048      1.0
Q104      1.0
Q105      1.0
Q107      1.0
Q113      1.0
P833      1.0
Q132      1.0
Q357      1.0
Q133      1.0
Q138      1.0
Q348      1.0
Q330      1.0
Q318      1.0
Q183      1.0
Q185      1.0
Q206      1.0
D180      1.0
Q233      1.0
P839      1.0
P832      1.0
P159      1.0
P399      1.0
Q665      1.0
Q251      1.0
P210      1.0
Q659      1.0
P211      1.0
Q620      1.0
Q613      1.0
Q610      1.0
P241      1.0
Q558      1.0
Q556      1.0
Q555      1.0
P545      1.0
Q399      1.0
P550      1.0
P704      1.0
Q529      1.0
Q527      1.0
Q524      1.0
Q523      1.0
Q522      1.0
Q447      1.0
Q443      1.0
P721      1.0
Q436      1.0
P809      1.0
Z208      1.0
dtype: float64