<a href="https://colab.research.google.com/github/tlacloc/analisis-defunciones-nacimientos-2022/blob/main/2022_nacimientos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 # Libreria para cargar nuestro drive
from google.colab import drive

# Cargamos nuestro drive en nuestro notebook
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!ls "/content/drive/MyDrive/Colab Notebooks"

'Copy of SDC11_actividad1_Badillo_Casanova.ipynb'   SDC_12		 test.ipynb
'EVC Hackathon Files'				    SDC_13		 Untitled0.ipynb
 Image						    SDC_14		 Untitled1.ipynb
 miriam						    SDC_15		 Vero
 SCD_12_Erick_Casanova.ipynb			    test-forvero.ipynb	 Visualizacion

In [3]:
# Librerias de ayuda
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind
import matplotlib.pyplot as plt
import seaborn as sns

year = '2022'
year_key = {
    '2022': 5,
    '2021': 4,
    '2020': 3,
    '2019': 2,
    '2018': 1
}

In [4]:
fileName = '/content/drive/My Drive/Colab Notebooks/miriam/nacimientos_' + year + '.csv'
df = pd.read_csv(fileName, low_memory=False)
df.head(10)

,NACIOEXTRANJERO,ENTIDADNACIMIENTO,MUNICIPIONACIMIENTO,EDAD,SECONSIDERAINDIGENA,HABLALENGUAINDIGENA,FECHANACIMIENTOMADRE,ESTADOCONYUGAL,RESIDEEXTRANJERO,ENTIDADRESIDENCIA,...,TIPOMEDICOATENDIO,ENTIDADFEDERATIVAPARTO,MUNICIPIOPARTO,LOCALIDADPARTO,CERTIFICADOPOR,CLUESCERTIFICA,ENTIDADFEDERATIVACERTIFICA,MUNICIPIOCERTIFICA,LOCALIDADCERTIFICA,FECHACERTIFICADO
0,1,88,997,28,1,1,09/06/1993,5,2,23,...,11.0,23,8,1,1,QRSSA018001,23,8,1,08/02/2022
1,1,88,997,32,2,2,13/01/1990,5,2,23,...,11.0,23,8,1,1,QRSSA018001,23,8,1,09/02/2022
2,1,88,997,34,2,2,18/01/1988,1,2,23,...,11.0,23,8,1,1,QRSSA018001,23,8,1,04/02/2022
3,2,7,65,27,1,1,01/09/1994,1,2,23,...,11.0,23,8,1,1,QRSSA018001,23,8,1,09/02/2022
4,2,23,4,19,1,2,10/05/2002,1,2,23,...,11.0,23,8,1,1,QRSSA018001,23,8,1,09/02/2022
5,2,23,2,21,1,1,01/05/2000,1,2,23,...,11.0,23,8,1,1,QRSSA018001,23,8,1,02/02/2022
6,2,23,2,38,1,1,24/06/1983,1,2,23,...,11.0,23,8,1,1,QRSSA018001,23,8,1,24/01/2022
7,2,23,8,21,2,2,24/03/2000,1,2,23,...,11.0,23,8,1,1,QRSSA018001,23,8,1,24/01/2022
8,2,9,10,33,2,2,17/05/1988,5,2,9,...,11.0,9,15,1,1,DFSSA003990,9,15,1,30/01/2022
9,2,9,12,42,2,2,16/12/1979,1,2,9,...,11.0,9,14,1,1,DFIST000312,9,14,1,10/02/2022

In [5]:
oldColumns = df.columns
oldColumns

Index(['NACIOEXTRANJERO', 'ENTIDADNACIMIENTO', 'MUNICIPIONACIMIENTO', 'EDAD',
       'SECONSIDERAINDIGENA', 'HABLALENGUAINDIGENA', 'FECHANACIMIENTOMADRE',
       'ESTADOCONYUGAL', 'RESIDEEXTRANJERO', 'ENTIDADRESIDENCIA',
       'MUNICIPIORESIDENCIA', 'LOCALIDADRESIDENCIA', 'NUMEROEMBARAZOS',
       'HIJOSNACIDOSMUERTOS', 'HIJOSNACIDOSVIVOS', 'HIJOSSOBREVIVIENTES',
       'CONDICIONHIJOANTERIOR', 'VIVEHIJOANTERIOR', 'ORDENNACIMIENTO',
       'ATENCIONPRENATAL', 'TRIMESTREPRIMERCONSULTA', 'TOTALCONSULTAS',
       'SOBREVIVIOPARTO', 'AFILIACION', 'ESCOLARIDAD', 'INTERRUMPIOESTUDIOS',
       'CLAVEOCUPACIONHABITUAL', 'TRABAJAACTUALMENTE', 'EDADPADRE',
       'FECHANACIMIENTO', 'HORANACIMIENTO', 'SEXO', 'EDADGESTACIONAL', 'TALLA',
       'PESO', 'APGAR', 'SILVERMAN', 'TAMIZAUDITIVO', 'VACUNA_BCG',
       'VACUNAHEPATITIS_B', 'VITAMINA_A', 'VITAMINA_K', 'PRODUCTOEMBARAZO',
       'ORDENPRODUCTO', 'TOTALPRODUCTOS', 'CODIGOCIEANOMALIA1',
       'CODIGOCIEANOMALIA2', 'LUGARNACIMIENTO', 'CLUES', 'TIEMPOTRASLADO',
       'RESOLUCIONEMBARAZO', 'UTILIZOFORCEPS', 'TIPOCESAREA',
       'PERSONALATENDIO', 'TIPOMEDICOATENDIO', 'ENTIDADFEDERATIVAPARTO',
       'MUNICIPIOPARTO', 'LOCALIDADPARTO', 'CERTIFICADOPOR', 'CLUESCERTIFICA',
       'ENTIDADFEDERATIVACERTIFICA', 'MUNICIPIOCERTIFICA',
       'LOCALIDADCERTIFICA', 'FECHACERTIFICADO'],
      dtype='object')

Variables que sd van a utilizar

In [6]:
# Limpieza de datos
# Se eliminaran las columnas que no se utilizaran

columnsToRemove = [
    "TAMIZAUDITIVO",
    "HIJOSSOBREVIVIENTES",
    # "FECHANACIMIENTO",
    "ORDENPRODUCTO",
    "NACIOEXTRANJERO",
    "ENTIDADNACIMIENTO",
    "MUNICIPIONACIMIENTO",
    "SECONSIDERAINDIGENA",
    "HABLALENGUAINDIGENA",
    "FECHANACIMIENTOMADRE",
    "RESIDEEXTRANJERO",
    "ESTADOCONYUGAL",
    "ENTIDADRESIDENCIA",
    "MUNICIPIORESIDENCIA",
    "LOCALIDADRESIDENCIA",
    "HIJOSNACIDOSVIVOS",
    "CONDICIONHIJOANTERIOR",
    "VIVEHIJOANTERIOR",
    "ORDENNACIMIENTO",
    "AFILIACION",
    "INTERRUMPIOESTUDIOS",
    "CLAVEOCUPACIONHABITUAL",
    "TRABAJAACTUALMENTE",
    "HORANACIMIENTO",
    "VACUNA_BCG",
    "VACUNAHEPATITIS_B",
    "VITAMINA_A",
    "VITAMINA_K",
    # Relacionado a gemelos
    # "PRODUCTOEMBARAZO",
    "ORDENPRODUCTO",
    "TOTALPRODUCTOS",
    "CLUES",
    "TIEMPOTRASLADO",
    # "RESOLUCIONEMBARAZO",
    "UTILIZOFORCEPS",
    "TIPOCESAREA",
    "PERSONALATENDIO",
    "TIPOMEDICOATENDIO",
    "MUNICIPIOPARTO",
    "LOCALIDADPARTO",
    "CERTIFICADOPOR",
    "CLUESCERTIFICA",
    "ENTIDADFEDERATIVACERTIFICA",
    "MUNICIPIOCERTIFICA",
    "LOCALIDADCERTIFICA",
    "FECHACERTIFICADO",
    "LUGARNACIMIENTO",
    "EDADPADRE"
]

df.drop(columnsToRemove, inplace=True, axis=1)

In [7]:
columnsToReview = df.columns
columnsToReview

Index(['EDAD', 'NUMEROEMBARAZOS', 'HIJOSNACIDOSMUERTOS', 'ATENCIONPRENATAL',
       'TRIMESTREPRIMERCONSULTA', 'TOTALCONSULTAS', 'SOBREVIVIOPARTO',
       'ESCOLARIDAD', 'FECHANACIMIENTO', 'SEXO', 'EDADGESTACIONAL', 'TALLA',
       'PESO', 'APGAR', 'SILVERMAN', 'PRODUCTOEMBARAZO', 'CODIGOCIEANOMALIA1',
       'CODIGOCIEANOMALIA2', 'RESOLUCIONEMBARAZO', 'ENTIDADFEDERATIVAPARTO'],
      dtype='object')

In [8]:
#df=df.drop(df[df['EDAD']==999].index)
#df=df.drop(df[df['EDAD']==888].index)
#df=df.drop(df[df['NUMEROEMBARAZOS']==99].index)
#df=df.drop(df[df['HIJOSNACIDOSMUERTOS']==99].index)
#df=df.drop(df[df['ATENCIONPRENATAL']==9].index)
#df=df.drop(df[df['TRIMESTREPRIMERCONSULTA']==9].index)
#df=df.drop(df[df['TOTALCONSULTAS']==99].index)
#df=df.drop(df[df['SOBREVIVIOPARTO']==9].index)
#df=df.drop(df[df['ESCOLARIDAD']==999].index)
#df=df.drop(df[df['EDADPADRE']==999].index)
#df=df.drop(df[df['SEXO']==99].index)
#df=df.drop(df[df['EDADGESTACIONAL']==99].index)
#df=df.drop(df[df['TALLA']==99].index)
#df=df.drop(df[df['PESO']==9999].index)
#df=df.drop(df[df['TALLA']==9].index)
#df=df.drop(df[df['APGAR']==99].index)
#df=df.drop(df[df['SILVERMAN']==99].index)
#df=df.drop(df[df['UTILIZOFORCEPS']==9].index)

In [9]:
df.head(10)

,EDAD,NUMEROEMBARAZOS,HIJOSNACIDOSMUERTOS,ATENCIONPRENATAL,TRIMESTREPRIMERCONSULTA,TOTALCONSULTAS,SOBREVIVIOPARTO,ESCOLARIDAD,FECHANACIMIENTO,SEXO,EDADGESTACIONAL,TALLA,PESO,APGAR,SILVERMAN,PRODUCTOEMBARAZO,CODIGOCIEANOMALIA1,CODIGOCIEANOMALIA2,RESOLUCIONEMBARAZO,ENTIDADFEDERATIVAPARTO
0,28,3,0,1,2,10.0,1,31,03/02/2022,2,42,49,3495,9,0,1,0000,0000,1,23
1,32,5,1,1,1,8.0,1,52,10/01/2022,1,33,41,1660,9,0,1,P071,0000,1,23
2,34,3,0,1,1,9.0,1,71,01/02/2022,1,40,49,3100,9,0,1,0000,0000,1,23
3,27,2,1,1,1,7.0,1,51,01/02/2022,2,38,49,2850,9,0,1,0000,0000,3,23
4,19,1,0,1,1,12.0,1,71,05/02/2022,2,40,50,3535,9,0,1,0000,0000,3,23
5,21,1,0,1,1,9.0,1,51,27/01/2022,2,40,53,3550,9,0,1,0000,0000,1,23
6,38,8,0,2,0,0.0,1,31,20/01/2022,1,38,50,3155,9,0,1,0000,0000,1,23
7,21,2,0,1,2,4.0,1,82,18/01/2022,2,40,56,3420,9,0,1,0000,0000,3,23
8,33,2,0,1,1,6.0,1,72,29/01/2022,1,38,52,3400,9,0,1,Q699,0000,1,9
9,42,1,0,1,1,16.0,1,81,08/02/2022,1,39,49,3052,9,0,1,0000,0000,3,9

# Variable: presencia o ausencia de Malformaciones Craneofaciales MCF
- Con MCF (1)
- Sin (0)

In [10]:
def update_codes(base_array):
  new_codes = []
  for value in base_array:
    for i in range(0, 10):
      new_codes.append(value[:-1] + str(i))

  return new_codes

In [11]:
codigos_mc = update_codes(['Q100', 'Q110', 'Q120', 'Q130', 'Q140', 'Q150', 'Q160', 'Q170', 'Q180', 'Q300', 'Q350', 'Q360', 'Q370', 'Q380'])
anomalias_mc = df['CODIGOCIEANOMALIA1'].isin(codigos_mc) | df['CODIGOCIEANOMALIA2'].isin(codigos_mc)

key = "MCC-General"

df[key] = None
df[key] = np.where(df.CODIGOCIEANOMALIA1.isin(codigos_mc) | df.CODIGOCIEANOMALIA2.isin(codigos_mc), 1, 0)
df[key].mask((~df.CODIGOCIEANOMALIA1.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA2 == '9999'), None, inplace=True)
df[key].mask((~df.CODIGOCIEANOMALIA2.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA1 == '9999'), None, inplace=True)
df[key].value_counts()

0.0    1618823
1.0       3848
Name: MCC-General, dtype: int64

## Variable categórica clasificación de MCF
- Oftalmológicas Q100 Q110 Q120 Q130 Q140 Q150
- Oído Q160 Q170
- Cara y cuello Q180
- Nariz Q300
- Lengua y boca Q380 Q350 Q360 Q370

Aqui se usan numeros primos para hacer la limpieza de datos

In [12]:
codigos_oftalmo = update_codes(['Q100', 'Q110', 'Q120', 'Q130', 'Q140', 'Q150'])
codigos_oido = update_codes(['Q160', 'Q170'])
codigos_cara_cuello = update_codes(['Q180'])
codigos_nariz = update_codes(['Q300'])
codigos_lengua_boca = update_codes(['Q380', 'Q350', 'Q360', 'Q370'])

mc_value = {
    'oftalmo': 1,
    'oido': 10,
    'cuello': 100,
    'nariz': 1000,
    'boca': 10000
}
mc_values = [1, 10, 100, 1000, 10000]

### Oftalmo

In [13]:
# Valores par oftalmo
value = mc_value['oftalmo']
key = "MC-1"
df[key] = 0
df[key].mask(df['CODIGOCIEANOMALIA1'].isin(codigos_oftalmo), value, inplace=True)

key = "MC-2"
df[key] = 0
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_oftalmo), value, inplace=True)

### Oido

In [14]:
# Valores par oido
value = mc_value['oido']
key = "MC-1"
df[key].mask(df['CODIGOCIEANOMALIA1'].isin(codigos_oido), value, inplace=True)

key = "MC-2"
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_oido), value, inplace=True)

### Cara y cuello

In [15]:
# Valores par cara y cuello
value = mc_value['cuello']
key = "MC-1"
df[key].mask(df['CODIGOCIEANOMALIA1'].isin(codigos_cara_cuello), value, inplace=True)

key = "MC-2"
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_cara_cuello), value, inplace=True)

### Nariz

In [16]:
# Valores para nariz
value = mc_value['nariz']
key = "MC-1"
df[key].mask(df['CODIGOCIEANOMALIA1'].isin(codigos_nariz), value, inplace=True)

key = "MC-2"
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_nariz), value, inplace=True)

### Lengua y boca

In [17]:
# Valores para lengua y boca
value = mc_value['boca']
key = "MC-1"
df[key].mask(df['CODIGOCIEANOMALIA1'].isin(codigos_lengua_boca), value, inplace=True)

key = "MC-2"
df[key].mask(df['CODIGOCIEANOMALIA2'].isin(codigos_lengua_boca), value, inplace=True)

In [18]:
key = "MC-1"
df[key].value_counts()

0        1619410
10          1665
10000       1506
100          166
1             90
1000          84
Name: MC-1, dtype: int64

In [19]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

10       1665
10000    1506
0         337
100       166
1          90
1000       84
Name: MC-1, dtype: int64

In [20]:
key = "MC-2"
df[key].value_counts()

0        1622017
10           401
10000        374
1000          49
100           46
1             34
Name: MC-2, dtype: int64

In [21]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

0        2944
10        401
10000     374
1000       49
100        46
1          34
Name: MC-2, dtype: int64

In [22]:
key = 'MC-G'
df[key] = None
df[key] = df[['MC-1', 'MC-2']].sum(axis=1)
df[key].value_counts()

0        1619073
10          1573
10000       1359
20000        240
20           217
100          163
1             97
1000          89
10010         23
110           22
200           11
2000          10
11000          9
1010           9
1001           6
2              5
11             5
10001          5
10100          4
101            1
Name: MC-G, dtype: int64

In [23]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

10       1573
10000    1359
20000     240
20        217
100       163
1          97
1000       89
10010      23
110        22
200        11
2000       10
11000       9
1010        9
1001        6
2           5
11          5
10001       5
10100       4
101         1
Name: MC-G, dtype: int64

## Variable categórica clasificación de MCF
- Oftalmológicas (1)
- Oído (2)
- Cara y cuello (3)
- Nariz (4)
- Lengua y boca (5)

In [24]:
key="MC-G2"
etiqueta = 'MC-G'

df[key] = None
df[key].mask(df[etiqueta] == mc_value['oftalmo'], 1, inplace=True)
df[key].mask(df[etiqueta] == mc_value['oido'], 2, inplace=True)
df[key].mask(df[etiqueta] == mc_value['cuello'], 3, inplace=True)
df[key].mask(df[etiqueta] == mc_value['nariz'], 4, inplace=True)
df[key].mask(df[etiqueta] == mc_value['boca'], 5, inplace=True)
df[key].mask(~df[etiqueta].isin(mc_values), 6, inplace=True)
df[key].mask(df[etiqueta] == 0, None, inplace=True)


df[key].value_counts()

2    1573
5    1359
6     567
3     163
1      97
4      89
Name: MC-G2, dtype: int64

In [25]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    1573
5    1359
6     567
3     163
1      97
4      89
Name: MC-G2, dtype: int64

# Dos malformaciones
- No tenga una segunda malformacion, solo la primera sea MC (0)
- Las dos malformaciones sean cranofaciales  (1)
- Que una sea segunda malformacion y otra de otro tipo (2)
- MCF y no se espeficifa (3)

In [26]:
key="S-MG"
df[key] = None
# estos solo checan los que si o si, tienen solo una malformacion
mcf_primera = (df.CODIGOCIEANOMALIA1.isin(codigos_mc) & (df.CODIGOCIEANOMALIA2 == '0000'))
mcf_segunda = (df.CODIGOCIEANOMALIA2.isin(codigos_mc) & (df.CODIGOCIEANOMALIA1 == '0000'))

# tenga dos mcf
mcf_primera_y_segunda = (df.CODIGOCIEANOMALIA1.isin(codigos_mc) & df.CODIGOCIEANOMALIA2.isin(codigos_mc))

# que tenga una mcf y otra mc != a mcf
mcf_primera_mc_segunda = ((df.CODIGOCIEANOMALIA1.isin(codigos_mc))  & (df.CODIGOCIEANOMALIA2 != '0000') & (~df.CODIGOCIEANOMALIA2.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA2 != '9999'))
mc_primera_mcf_segunda = ((df.CODIGOCIEANOMALIA2.isin(codigos_mc))  & (df.CODIGOCIEANOMALIA1 != '0000') & (~df.CODIGOCIEANOMALIA1.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA1 != '9999'))

# que tenga una mcf y la otra idk
mcf_primera_idk_segunda = ((df.CODIGOCIEANOMALIA1.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA2 == '9999'))
idk_primera_mcf_segunda = ((df.CODIGOCIEANOMALIA2.isin(codigos_mc)) & (df.CODIGOCIEANOMALIA1 == '9999'))

df[key].mask(mcf_primera | mcf_segunda, 0, inplace=True)
df[key].mask(mcf_primera_y_segunda, 1, inplace=True)
df[key].mask(mcf_primera_mc_segunda | mc_primera_mcf_segunda, 2, inplace=True)
df[key].mask(mcf_primera_idk_segunda | idk_primera_mcf_segunda, 3, inplace=True)
df[key].value_counts()

0    2585
2     683
1     567
3      13
Name: S-MG, dtype: int64

In [27]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

0    2585
2     683
1     567
3      13
Name: S-MG, dtype: int64

In [28]:
df[(df.CODIGOCIEANOMALIA1.isin(codigos_mc) & (df.CODIGOCIEANOMALIA2 != '0000') & (df.CODIGOCIEANOMALIA2 != '9999')) | (df.CODIGOCIEANOMALIA2.isin(codigos_mc) & (df.CODIGOCIEANOMALIA1 != '0000') & (df.CODIGOCIEANOMALIA1 != '9999'))]

,EDAD,NUMEROEMBARAZOS,HIJOSNACIDOSMUERTOS,ATENCIONPRENATAL,TRIMESTREPRIMERCONSULTA,TOTALCONSULTAS,SOBREVIVIOPARTO,ESCOLARIDAD,FECHANACIMIENTO,SEXO,...,CODIGOCIEANOMALIA1,CODIGOCIEANOMALIA2,RESOLUCIONEMBARAZO,ENTIDADFEDERATIVAPARTO,MCC-General,MC-1,MC-2,MC-G,MC-G2,S-MG
16,37,1,0,1,1,15.0,1,101,31/01/2022,1,...,Q374,Q213,3,9,1.0,10000,0,10000,5,2
378,32,2,0,1,1,9.0,1,31,19/04/2022,1,...,Q184,P221,3,23,1.0,100,0,100,3,2
752,38,2,0,1,3,2.0,1,51,24/01/2022,1,...,Q172,Q172,3,9,1.0,10,10,20,6,1
946,23,3,1,1,2,6.0,1,52,26/06/2022,2,...,Q255,Q359,1,23,1.0,0,10000,10000,5,2
1095,42,1,0,1,1,10.0,1,71,16/06/2022,2,...,Q302,Q390,1,9,1.0,1000,0,1000,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1617694,16,1,0,1,1,6.0,1,51,02/08/2022,2,...,Q173,Q795,1,9,1.0,10,0,10,2,2
1621238,27,3,0,1,3,5.0,1,51,05/11/2022,2,...,Q000,Q379,3,15,1.0,0,10000,10000,5,2
1621303,23,1,0,1,2,6.0,1,51,25/10/2022,1,...,Q160,Q160,1,30,1.0,10,10,20,6,1
1622186,27,2,1,1,1,5.0,1,51,11/10/2022,1,...,Q360,Q369,3,6,1.0,10000,10000,20000,6,1
1622613,19,1,0,1,2,5.0,1,71,14/11/2022,1,...,Q355,Q361,1,30,1.0,10000,10000,20000,6,1

# Edad materna
Edades por decadas de vida de los que presentan malformaciones craneofaciales, ya sea en una sola columna o ambas.
menores de 20 años
20-29
30-39
40-49
mayores o igual a 50

In [29]:
etiqueta = 'EDAD'
key = "Edad materna"
df[key] = None


df[key].mask(df[etiqueta] < 20, 1, inplace=True)
df[key].mask((df[etiqueta] >= 20) & (df[etiqueta] < 30), 2, inplace=True)
df[key].mask((df[etiqueta] >= 30) & (df[etiqueta] < 40), 3, inplace=True)
df[key].mask((df[etiqueta] >= 40) & (df[etiqueta] < 50), 4, inplace=True)
df[key].mask((df[etiqueta] >= 50) & (df[etiqueta] != 999), 5, inplace=True)
df[key].value_counts()

2    868345
3    461074
1    254984
4     38272
5       223
Name: Edad materna, dtype: int64

In [30]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    1977
3    1202
1     559
4     109
5       1
Name: Edad materna, dtype: int64

## Tipo de producto del embarazo
- Único (1)
- Gemelar (2)
- Tres o más (3)

In [31]:
etiqueta = 'PRODUCTOEMBARAZO'
key = "Tipo producto"
df[key] = None
df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask(df[etiqueta] == 3, 3, inplace=True)
df[key].value_counts()

1    1592949
2      26895
3        717
Name: Tipo producto, dtype: int64

In [32]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

1    3765
2      74
3       5
Name: Tipo producto, dtype: int64

# Numero de embarazos
Primigesta (1 embarazo)
Multigesta (2 a 5 embarazos)
Gran multigesta (6 o más embarazos)

In [33]:
etiqueta = 'NUMEROEMBARAZOS'
key = "Numero de embarazos"
df[key] = None


df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask((df[etiqueta] >= 2) & (df[etiqueta] < 6), 2, inplace=True)
df[key].mask((df[etiqueta] >= 6) & (df[etiqueta] != 99), 3, inplace=True)
df[key].value_counts()

2    1030108
1     561393
3      31321
Name: Numero de embarazos, dtype: int64

In [34]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    2462
1    1312
3      74
Name: Numero de embarazos, dtype: int64

#Hijos nacidos muertos
- Ausente (0)
- Presente (1)

In [35]:
etiqueta = 'HIJOSNACIDOSMUERTOS'
key = "Hijos nacidos muertos"
df[key] = None

df[key].mask((df[etiqueta] >= 1) & (df[etiqueta] != 99), 1, inplace=True)
df[key].mask(df[etiqueta] == 0, 0, inplace=True)
df[key].value_counts()

0    1341483
1     281133
Name: Hijos nacidos muertos, dtype: int64

In [36]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

0    3091
1     757
Name: Hijos nacidos muertos, dtype: int64

# Madre sobrevivio parto SOBREVIVIOPARTO
* Si 1
* No 2
* no aplica, se ignora, no especificado 0, 8, 9

In [37]:
etiqueta = 'SOBREVIVIOPARTO'
no_especificado = [0, 8, 9]

key = "Madre sobrevivio al parto"
df[key] = None

df[key].mask(df[etiqueta] == 2, 0, inplace=True)
df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta].isin(no_especificado), 2, inplace=True)
df[key].value_counts()

1    1621428
2       1413
0         80
Name: Madre sobrevivio al parto, dtype: int64

In [38]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

1    3847
2       1
Name: Madre sobrevivio al parto, dtype: int64

#Madre recibio atencion prenatal
* Si 1
* No 2
* no aplica, se ignora, no especificado 0, 8, 9

In [39]:
etiqueta = 'ATENCIONPRENATAL'
no_especificado = [0, 8, 9]
key = "Madre recibio atencion prenatal"
df[key] = None

df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 0, inplace=True)
df[key].value_counts()

1    1572585
0      39985
Name: Madre recibio atencion prenatal, dtype: int64

In [40]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

1    3745
0      88
Name: Madre recibio atencion prenatal, dtype: int64

#Trimestre de primer consulta
Trimestre 1
Trimestre 2
Trimestre 3

In [41]:
etiqueta = 'TRIMESTREPRIMERCONSULTA'
key = "Trimestre de la primera consulta"
df[key] = None

df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask(df[etiqueta] == 3, 3, inplace=True)
df[key].value_counts()

1    1236852
2     261942
3      50338
Name: Trimestre de la primera consulta, dtype: int64

In [42]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

1    2912
2     676
3     102
Name: Trimestre de la primera consulta, dtype: int64

# Total de consulta durante el embarazo
Suficiente (5 o mas citas)
Insuficiente (1-4 citas)
No recibió (0 citas)

In [43]:
etiqueta = 'TOTALCONSULTAS'
key = "Total numero de consultas embarazo"
df[key] = None

df[key].mask(df[etiqueta] == 0, 0, inplace=True)
df[key].mask((df[etiqueta] >= 1) & (df[etiqueta] < 5), 1, inplace=True)
df[key].mask((df[etiqueta] >= 5) & (df[etiqueta] != 99), 2, inplace=True)
df[key].value_counts()

2    1359050
1     201761
0      47410
Name: Total numero de consultas embarazo, dtype: int64

In [44]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    3283
1     438
0      89
Name: Total numero de consultas embarazo, dtype: int64

#Escolaridad materna
Ninguno (0, 1, 32, 88, 99)
Primaria completa (31, 52, 112)
Secundaria completa (51, 72)
Bachillerato o preparatoria completa (71, 82)
Licenciatura completa (81, 102)
Posgrado (101)
Tecnico terminal (111, 131, 132)

In [45]:
etiqueta = 'ESCOLARIDAD'
ninguno = [1]
primaria = [31, 32, 52, 112]
secundaria = [51, 72]
bachiller = [71, 82]
licenciatura = [81, 102]
posgrado = [101]
tecnico = [111, 131, 132]
no_esp = [0, 88, 99]
key = "Escolaridad materna"
df[key] = None
df[key].mask(df[etiqueta].isin(ninguno), 0, inplace=True)
df[key].mask(df[etiqueta].isin(primaria), 1, inplace=True)
df[key].mask(df[etiqueta].isin(secundaria), 2, inplace=True)
df[key].mask(df[etiqueta].isin(bachiller), 3, inplace=True)
df[key].mask(df[etiqueta].isin(licenciatura), 4, inplace=True)
df[key].mask(df[etiqueta].isin(posgrado), 5, inplace=True)
df[key].mask(df[etiqueta].isin(tecnico), 6, inplace=True)
df[key].mask(df[etiqueta].isin(no_esp), 7, inplace=True)
df[key].value_counts()

2    591917
3    439160
4    259744
1    252094
6     27729
5     22766
0     19716
7      9795
Name: Escolaridad materna, dtype: int64

In [46]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    1471
3    1015
4     615
1     569
6      67
5      54
0      36
7      21
Name: Escolaridad materna, dtype: int64

# Entidad federativa de parto ENTIDADFEDERATIVAPARTO
df.agg(['count', 'size', 'nunique'])

In [47]:
df['ENTIDADFEDERATIVAPARTO'].mask(df['ENTIDADFEDERATIVAPARTO'] == 99, None, inplace=True)
df['ENTIDADFEDERATIVAPARTO'].value_counts()

15    184741
14    108852
21    101751
9      96139
30     92135
11     88507
7      86896
19     73168
16     71513
20     55363
12     50228
8      47623
28     45556
5      44030
2      43508
24     41067
25     40398
27     36655
13     35198
26     33911
22     33728
31     28196
10     25641
17     24944
23     22937
32     22366
1      21301
29     18699
18     15708
4      11657
3      10477
6      10028
Name: ENTIDADFEDERATIVAPARTO, dtype: int64

In [48]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    1471
3    1015
4     615
1     569
6      67
5      54
0      36
7      21
Name: Escolaridad materna, dtype: int64

# Sexo del recien nacido SEXO
* Hombre 1
* mujer 2
* no especificado 0,9

In [49]:
etiqueta = 'SEXO'
key = "Escolaridad materna"
df[key] = None
df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask((df[etiqueta] == 0) | (df[etiqueta] == 9), 3, inplace=True)
df[key].value_counts()

1    826549
2    795243
3      1129
Name: Escolaridad materna, dtype: int64

In [50]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

1    2097
2    1746
3       5
Name: Escolaridad materna, dtype: int64

# Edad gestacional EDADGESTACIONAL
* pretermino =<36 semanas
* termino 37-41 semanas
* postermino =>42 semanas

In [51]:
etiqueta = 'EDADGESTACIONAL'
key = "Edad gestacional"
df[key] = None
df[key].mask(df[etiqueta] <= 36, 1, inplace=True)
df[key].mask((df[etiqueta] > 36) & (df[etiqueta] < 42), 2, inplace=True)
df[key].mask((df[etiqueta] >= 42) & (df[etiqueta] != 99), 3, inplace=True)
df[key].value_counts()

2    1476787
1     133638
3      11407
Name: Edad gestacional, dtype: int64

In [52]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    3263
1     559
3      24
Name: Edad gestacional, dtype: int64

# Peso del recien nacido PESO
* bajo peso =<2499gr
* normopeso 2500-3999gr
* macrosomico =>4000 gr

In [53]:
etiqueta = 'PESO'
key = "Peso del nacido vivo"
df[key] = None
df[key].mask(df[etiqueta] < 2500, 1, inplace=True)
df[key].mask((df[etiqueta] >= 2500) & (df[etiqueta] < 4000), 2, inplace=True)
df[key].mask((df[etiqueta] >= 4000) & (df[etiqueta] != 9999), 3, inplace=True)
df[key].value_counts()

2    1383531
1     113131
3      35188
Name: Peso del nacido vivo, dtype: int64

In [54]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

2    2986
1     452
3      77
Name: Peso del nacido vivo, dtype: int64

# Puntaje escala APGAR a los 5 minutos de recien nacido con MCF APGAR
* Normal 7-10 puntos
* Depresion moderada 4-6 puntos
* Depresion severa 0-3 puntos

In [55]:
etiqueta = 'APGAR'
key = "Puntaje apgar"
df[key] = None
df[key].mask((df[etiqueta] >= 7) & (df[etiqueta] <= 10), 1, inplace=True)
df[key].mask((df[etiqueta] >= 4) & (df[etiqueta] <= 6), 2, inplace=True)
df[key].mask((df[etiqueta] >= 0) & (df[etiqueta] <= 3), 3, inplace=True)
df[key].mask((df[etiqueta] == 99), 4, inplace=True)
df[key].value_counts()

1    1594076
3      11995
4       9791
2       7059
Name: Puntaje apgar, dtype: int64

In [56]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

1    3731
2      58
3      49
4      10
Name: Puntaje apgar, dtype: int64

# Puntaje escala Silverman Anderson en recien nacidos con MCF SILVERMAN
* sin dificultad respiratoria
* dificultad respiratoria leve 1-3 puntos
* dificultad respiratoria moderada 4-6 puntos
* dificultad respiratoria severa 7-10 puntos

In [57]:
etiqueta = 'SILVERMAN'
key = "Puntaje silverman"
df[key] = None
df[key].mask(df[etiqueta] == 0, 0, inplace=True)
df[key].mask((df[etiqueta] >= 1) & (df[etiqueta] <= 3), 1, inplace=True)
df[key].mask((df[etiqueta] >= 4) & (df[etiqueta] <= 6), 2, inplace=True)
df[key].mask((df[etiqueta] >= 7) & (df[etiqueta] <= 10), 3, inplace=True)
df[key].mask((df[etiqueta] == 99), 4, inplace=True)
df[key].value_counts()

0    1421313
1     162437
3      19239
4      10434
2       9498
Name: Puntaje silverman, dtype: int64

In [58]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

0    3025
1     716
2      62
3      32
4      13
Name: Puntaje silverman, dtype: int64

# Procedimiento utilizado para resolucion del embarazo RESOLUCIONEMBARAZO

* eutocico 1 (1)
* distocico 2 (2)
* cesarea 3 (3)
* otro 8 (4)
* no especificado 0 (5)

In [59]:
etiqueta = 'RESOLUCIONEMBARAZO'
key = "Procedimiento para resolucion"
df[key] = None
df[key].mask(df[etiqueta] == 1, 1, inplace=True)
df[key].mask(df[etiqueta] == 2, 2, inplace=True)
df[key].mask(df[etiqueta] == 3, 3, inplace=True)
df[key].mask(df[etiqueta] == 8, 4, inplace=True)
df[key].mask(df[etiqueta] == 0, 5, inplace=True)

df[key].value_counts()

3    843343
1    753453
2     16217
5      9547
4       361
Name: Procedimiento para resolucion, dtype: int64

In [60]:
# Con MCF
df[df["MCC-General"] == 1][key].value_counts()

3    2280
1    1506
2      39
5      23
Name: Procedimiento para resolucion, dtype: int64

# FECHANACIMIENTO
Actualizar para solo usar el mes y el año

Sería
- 2018 (1)
- 2019 (2)
- 2020 (3)
- 2021 (4)
- 2022 (5)

In [61]:
etiqueta = 'FECHANACIMIENTO'
df[etiqueta]

0          03/02/2022
1          10/01/2022
2          01/02/2022
3          01/02/2022
4          05/02/2022
              ...
1622916    17/11/2022
1622917    26/11/2022
1622918    10/11/2022
1622919    17/11/2022
1622920    03/12/2022
Name: FECHANACIMIENTO, Length: 1622921, dtype: object

In [62]:
etiqueta = 'fecha nacimiento'
df[etiqueta] = pd.to_datetime(df['FECHANACIMIENTO'], format='%d/%m/%Y').dt.strftime('%m/%Y')
key = 'Year'
format = '01/01/' + year
df[key] = None
df[key].mask(df[etiqueta] >= format, year_key[year], inplace=True)
df[key].value_counts()

5    1622921
Name: Year, dtype: int64

In [63]:
fileName = '/content/drive/My Drive/Colab Notebooks/miriam/' + year + '_nacimientos_clean.csv'
df.to_csv(fileName, index=False)

# Analisis de datos

In [64]:
df['EDAD'].replace([999, 888], None)
df['NUMEROEMBARAZOS'].replace([99], None)
df['HIJOSNACIDOSMUERTOS'].replace([99], None)
df['ATENCIONPRENATAL'].replace([9], None)
df['TRIMESTREPRIMERCONSULTA'].replace([9], None)
df['TOTALCONSULTAS'].replace([99], None)
df['SOBREVIVIOPARTO'].replace([9], None)
df['ESCOLARIDAD'].replace([999], None)
df['SEXO'].replace([99], None)
df['EDADGESTACIONAL'].replace([99], None)
df['TALLA'].replace([99], None)
df['PESO'].replace([9999], None)
df['TALLA'].replace([9], None)
df['APGAR'].replace([99], None)
df['SILVERMAN'].replace([99], None)

0          0
1          0
2          0
3          0
4          0
          ..
1622916    0
1622917    2
1622918    0
1622919    0
1622920    0
Name: SILVERMAN, Length: 1622921, dtype: object

### Pacientes con MCF

In [65]:
label = "MCC-General"
df[df[label] == 1].describe().applymap('{:,.2f}'.format)

,EDAD,NUMEROEMBARAZOS,HIJOSNACIDOSMUERTOS,ATENCIONPRENATAL,TRIMESTREPRIMERCONSULTA,TOTALCONSULTAS,SOBREVIVIOPARTO,ESCOLARIDAD,SEXO,EDADGESTACIONAL,...,PESO,APGAR,SILVERMAN,PRODUCTOEMBARAZO,RESOLUCIONEMBARAZO,ENTIDADFEDERATIVAPARTO,MCC-General,MC-1,MC-2,MC-G
count,"3,848.00","3,848.00","3,848.00","3,848.00","3,848.00","3,829.00","3,848.00","3,848.00","3,848.00","3,848.00",...,"3,848.00","3,848.00","3,848.00","3,848.00","3,848.00","3,848.00","3,848.00","3,848.00","3,848.00","3,848.00"
mean,26.77,2.24,0.26,1.05,1.34,8.14,1.00,62.37,1.45,38.15,...,"3,609.54",8.97,0.79,1.02,2.19,16.57,1.00,"3,944.22",986.91,"4,931.13"
std,6.53,1.27,0.59,0.49,1.10,7.29,0.02,19.60,0.50,2.73,...,"2,034.67",4.72,5.84,0.16,0.99,8.24,0.00,"4,858.89","2,959.81","6,092.19"
min,12.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,18.00,...,495.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,0.00,1.00
25%,22.00,1.00,0.00,1.00,1.00,6.00,1.00,51.00,1.00,37.00,...,"2,765.00",9.00,0.00,1.00,1.00,10.00,1.00,10.00,0.00,10.00
50%,26.00,2.00,0.00,1.00,1.00,8.00,1.00,71.00,1.00,39.00,...,"3,095.00",9.00,0.00,1.00,3.00,15.00,1.00,10.00,0.00,100.00
75%,31.00,3.00,0.00,1.00,1.00,9.00,1.00,72.00,2.00,40.00,...,"3,465.75",9.00,0.00,1.00,3.00,22.00,1.00,"10,000.00",0.00,"10,000.00"
max,50.00,12.00,7.00,9.00,9.00,99.00,1.00,132.00,2.00,99.00,...,"9,999.00",99.00,99.00,3.00,3.00,32.00,1.00,"10,000.00","10,000.00","20,000.00"

In [66]:
df[df[label] == 1].mode(numeric_only=True)

,EDAD,NUMEROEMBARAZOS,HIJOSNACIDOSMUERTOS,ATENCIONPRENATAL,TRIMESTREPRIMERCONSULTA,TOTALCONSULTAS,SOBREVIVIOPARTO,ESCOLARIDAD,SEXO,EDADGESTACIONAL,...,PESO,APGAR,SILVERMAN,PRODUCTOEMBARAZO,RESOLUCIONEMBARAZO,ENTIDADFEDERATIVAPARTO,MCC-General,MC-1,MC-2,MC-G
0,28,1,0,1,1,8.0,1,51,1,39,...,9999,9,0,1,3,15,1.0,10,0,10

## Malformación congénita craneofacial
- Ausente (1)
- Presente (2)

In [67]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(df[df[label] == 1].CODIGOCIEANOMALIA1.value_counts().add(df[df[label] == 1].CODIGOCIEANOMALIA2.value_counts(),fill_value=0).sort_values(ascending=False).to_markdown())

|      |    0 |
|:-----|-----:|
| 0000 | 2585 |
| Q170 |  934 |
| Q379 |  529 |
| Q172 |  510 |
| Q369 |  441 |
| Q359 |  302 |
| Q173 |  213 |
| Q381 |  129 |
| Q174 |  102 |
| Q161 |   81 |
| Q179 |   70 |
| Q372 |   68 |
| Q189 |   67 |
| Q181 |   65 |
| Q360 |   62 |
| Q178 |   55 |
| Q160 |   55 |
| Q378 |   50 |
| Q309 |   49 |
| Q386 |   46 |
| P073 |   42 |
| Q385 |   42 |
| Q300 |   37 |
| Q184 |   35 |
| Q371 |   35 |
| P128 |   32 |
| Q375 |   28 |
| Q188 |   28 |
| Q308 |   27 |
| Q103 |   27 |
| Q370 |   25 |
| Q169 |   24 |
| P081 |   24 |
| P071 |   20 |
| Q02X |   19 |
| Q374 |   18 |
| Q158 |   18 |
| Q361 |   18 |
| Q699 |   18 |
| Q373 |   16 |
| P835 |   15 |
| 9999 |   13 |
| P229 |   13 |
| Q355 |   13 |
| Q897 |   13 |
| K070 |   13 |
| Q112 |   12 |
| Q382 |   12 |
| Q380 |   12 |
| Q909 |   12 |
| Q120 |   11 |
| Q039 |   11 |
| Q171 |   11 |
| Q652 |   11 |
| Q663 |   10 |
| Q106 |   10 |
| Q105 |   10 |
| Q660 |   10 |
| Q539 |   10 |
| Q353 |    9 |
| P209 |    9 |
| Q753 |    9 |
| Q301 |    9 |
| Q531 |    8 |
| P220 |    8 |
| P072 |    8 |
| K429 |    8 |
| Q351 |    8 |
| P113 |    8 |
| Q159 |    7 |
| Q111 |    7 |
| Q249 |    7 |
| Q668 |    7 |
| P050 |    7 |
| Q670 |    7 |
| Q899 |    7 |
| P059 |    7 |
| Q709 |    6 |
| P121 |    6 |
| Q059 |    6 |
| Q752 |    6 |
| P221 |    6 |
| Q390 |    6 |
| Q302 |    6 |
| Q000 |    6 |
| P969 |    6 |
| Q758 |    6 |
| Q164 |    5 |
| Q303 |    5 |
| Q180 |    5 |
| Q750 |    5 |
| P120 |    5 |
| Q138 |    5 |
| Q206 |    5 |
| Q357 |    5 |
| Q658 |    5 |
| Q384 |    5 |
| Q532 |    5 |
| Q549 |    4 |
| Q185 |    4 |
| Q870 |    4 |
| Q183 |    4 |
| Q792 |    4 |
| Q759 |    4 |
| Q383 |    4 |
| Q042 |    4 |
| Q764 |    4 |
| Q243 |    4 |
| P545 |    3 |
| Q793 |    3 |
| P968 |    3 |
| Q270 |    3 |
| Q019 |    3 |
| Q878 |    3 |
| Q674 |    3 |
| P159 |    3 |
| Q681 |    3 |
| Q031 |    3 |
| Q828 |    3 |
| Q690 |    3 |
| Q556 |    3 |
| Q388 |    3 |
| Q162 |    3 |
| P369 |    3 |
| Q672 |    3 |
| P838 |    3 |
| Q439 |    3 |
| Q743 |    3 |
| Q564 |    3 |
| Q742 |    2 |
| Q748 |    2 |
| Q969 |    2 |
| Q898 |    2 |
| Q795 |    2 |
| Q820 |    2 |
| Q423 |    2 |
| Q842 |    2 |
| Q829 |    2 |
| Q790 |    2 |
| Q692 |    2 |
| Q825 |    2 |
| Q186 |    2 |
| P138 |    2 |
| 7777 |    2 |
| P002 |    2 |
| P701 |    2 |
| Q133 |    2 |
| P080 |    2 |
| Q101 |    2 |
| Q079 |    2 |
| Q150 |    2 |
| P219 |    2 |
| Q175 |    2 |
| P134 |    2 |
| Q040 |    2 |
| D180 |    2 |
| Q213 |    2 |
| P070 |    2 |
| P211 |    2 |
| P009 |    2 |
| Q741 |    1 |
| Q713 |    1 |
| Q740 |    1 |
| Q730 |    1 |
| Q724 |    1 |
| P122 |    1 |
| Q719 |    1 |
| Q229 |    1 |
| Q712 |    1 |
| Q704 |    1 |
| Q703 |    1 |
| Q701 |    1 |
| Q700 |    1 |
| P141 |    1 |
| P143 |    1 |
| P148 |    1 |
| Q682 |    1 |
| P154 |    1 |
| Q676 |    1 |
| P201 |    1 |
| Q673 |    1 |
| P111 |    1 |
| Q760 |    1 |
| Q751 |    1 |
| P052 |    1 |
| R160 |    1 |
| Q999 |    1 |
| Q968 |    1 |
| Q913 |    1 |
| D229 |    1 |
| D287 |    1 |
| D487 |    1 |
| E858 |    1 |
| H509 |    1 |
| K006 |    1 |
| Q862 |    1 |
| Q860 |    1 |
| K061 |    1 |
| L059 |    1 |
| L209 |    1 |
| P011 |    1 |
| P012 |    1 |
| P025 |    1 |
| P031 |    1 |
| Q789 |    1 |
| P036 |    1 |
| P038 |    1 |
| P051 |    1 |
| Q671 |    1 |
| P288 |    1 |
| Q669 |    1 |
| Q139 |    1 |
| Q050 |    1 |
| Q054 |    1 |
| Q058 |    1 |
| Q078 |    1 |
| Q100 |    1 |
| Q107 |    1 |
| Q121 |    1 |
| Q122 |    1 |
| Q128 |    1 |
| Q130 |    1 |
| Q132 |    1 |
| Q134 |    1 |
| Q140 |    1 |
| P284 |    1 |
| Q142 |    1 |
| Q348 |    1 |
| Q318 |    1 |
| Q165 |    1 |
| Q182 |    1 |
| Q187 |    1 |
| Q200 |    1 |
| Q259 |    1 |
| Q255 |    1 |
| Q251 |    1 |
| Q248 |    1 |
| Q222 |    1 |
| Q045 |    1 |
| Q038 |    1 |
| P949 |    1 |
| P942 |    1 |
| Q666 |    1 |
| P285 |    1 |
| Q234 |    1 |
| Q659 |    1 |
| P291 |    1 |
| P299 |    1 |
| Q620 |    1 |
| Q600 |    1 |
| P362 |    1 |
| Q559 |    1 |
| Q558 |    1 |
| P598 |    1 |
| Q552 |    1 |
| Q551 |    1 |
| Q541 |    1 |
| P702 |    1 |
| P722 |    1 |
| P831 |    1 |
| P832 |    1 |
| P839 |    1 |
| Q420 |    1 |
| Q410 |    1 |
| Q399 |    1 |
| P914 |    1 |
| P917 |    1 |
| R294 |    1 |

## MCF Categórica
- Oftalmológicas (1)
- Oído (2)
- Cara y cuello (3)
- Nariz (4)
- Lengua y boca (5)

In [68]:
label = "MC-G2"
mc_value = {
    'oftalmo': 1,
    'oido': 2,
    'cuello': 3,
    'nariz': 4,
    'boca': 5
}

#### Lista oftalmo

In [69]:
value = mc_value['oftalmo']
a = df[df[label] == value].CODIGOCIEANOMALIA1.value_counts()
b = df[df[label] == value].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False).to_markdown())

|      |   0 |
|:-----|----:|
| 0000 |  67 |
| Q103 |  18 |
| Q158 |  13 |
| Q120 |  11 |
| Q105 |  10 |
| Q112 |   9 |
| Q106 |   8 |
| Q159 |   6 |
| P072 |   5 |
| P073 |   4 |
| Q138 |   3 |
| Q111 |   3 |
| Q101 |   2 |
| Q150 |   2 |
| Q133 |   2 |
| P369 |   2 |
| P128 |   2 |
| Q410 |   1 |
| Q134 |   1 |
| Q531 |   1 |
| P011 |   1 |
| Q539 |   1 |
| Q669 |   1 |
| Q142 |   1 |
| Q681 |   1 |
| Q140 |   1 |
| Q139 |   1 |
| Q753 |   1 |
| P051 |   1 |
| Q122 |   1 |
| Q132 |   1 |
| Q130 |   1 |
| Q128 |   1 |
| Q121 |   1 |
| 9999 |   1 |
| Q107 |   1 |
| P050 |   1 |
| Q042 |   1 |
| P545 |   1 |
| P209 |   1 |
| P138 |   1 |
| P121 |   1 |
| P120 |   1 |
| Q899 |   1 |

#### Lista oido

In [70]:
value = mc_value['oido']
a = df[df[label] == value].CODIGOCIEANOMALIA1.value_counts()
b = df[df[label] == value].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False).to_markdown())

|      |    0 |
|:-----|-----:|
| 0000 | 1253 |
| Q170 |  761 |
| Q172 |  355 |
| Q173 |  167 |
| Q174 |   77 |
| Q179 |   51 |
| Q161 |   47 |
| Q178 |   42 |
| Q160 |   41 |
| P073 |   23 |
| P128 |   22 |
| Q169 |   15 |
| P071 |   13 |
| P081 |   11 |
| K070 |    9 |
| Q171 |    9 |
| 9999 |    9 |
| P835 |    8 |
| Q699 |    8 |
| P113 |    8 |
| Q652 |    7 |
| K429 |    7 |
| Q660 |    6 |
| Q670 |    6 |
| P220 |    5 |
| P229 |    5 |
| Q909 |    5 |
| Q539 |    5 |
| P059 |    4 |
| Q206 |    4 |
| P969 |    4 |
| Q02X |    4 |
| Q531 |    4 |
| Q532 |    4 |
| Q164 |    4 |
| Q759 |    3 |
| Q059 |    3 |
| Q752 |    3 |
| Q753 |    3 |
| Q039 |    3 |
| P209 |    3 |
| Q668 |    3 |
| P121 |    3 |
| Q243 |    3 |
| Q870 |    3 |
| Q897 |    3 |
| P050 |    3 |
| Q663 |    2 |
| Q658 |    2 |
| Q270 |    2 |
| Q390 |    2 |
| Q439 |    2 |
| Q175 |    2 |
| P838 |    2 |
| Q878 |    2 |
| Q898 |    2 |
| Q828 |    2 |
| Q764 |    2 |
| Q758 |    2 |
| Q750 |    2 |
| P072 |    2 |
| P159 |    2 |
| Q743 |    2 |
| Q969 |    2 |
| Q558 |    1 |
| Q620 |    1 |
| Q795 |    1 |
| Q899 |    1 |
| Q968 |    1 |
| Q842 |    1 |
| Q829 |    1 |
| Q999 |    1 |
| Q825 |    1 |
| Q700 |    1 |
| Q792 |    1 |
| Q793 |    1 |
| Q692 |    1 |
| Q760 |    1 |
| Q673 |    1 |
| Q674 |    1 |
| Q748 |    1 |
| Q676 |    1 |
| Q551 |    1 |
| Q681 |    1 |
| Q713 |    1 |
| Q709 |    1 |
| Q682 |    1 |
| Q690 |    1 |
| Q552 |    1 |
| D229 |    1 |
| Q549 |    1 |
| P120 |    1 |
| P285 |    1 |
| P284 |    1 |
| P221 |    1 |
| P219 |    1 |
| P211 |    1 |
| P201 |    1 |
| P148 |    1 |
| P141 |    1 |
| P122 |    1 |
| P111 |    1 |
| P545 |    1 |
| P080 |    1 |
| P070 |    1 |
| P052 |    1 |
| P025 |    1 |
| P012 |    1 |
| P009 |    1 |
| P002 |    1 |
| L059 |    1 |
| H509 |    1 |
| P369 |    1 |
| P702 |    1 |
| Q541 |    1 |
| D180 |    1 |
| Q423 |    1 |
| Q348 |    1 |
| Q251 |    1 |
| Q249 |    1 |
| Q229 |    1 |
| Q213 |    1 |
| Q200 |    1 |
| E858 |    1 |
| 7777 |    1 |
| Q165 |    1 |
| P831 |    1 |
| Q162 |    1 |
| Q058 |    1 |
| Q045 |    1 |
| Q042 |    1 |
| Q038 |    1 |
| Q031 |    1 |
| P968 |    1 |
| P949 |    1 |
| P839 |    1 |
| R160 |    1 |

Lista cuello

In [71]:
value = mc_value['cuello']
a = df[df[label] == value].CODIGOCIEANOMALIA1.value_counts()
b = df[df[label] == value].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False).to_markdown())

|      |   0 |
|:-----|----:|
| 0000 | 117 |
| Q181 |  53 |
| Q189 |  48 |
| Q184 |  31 |
| Q188 |  20 |
| Q180 |   5 |
| P073 |   3 |
| P081 |   3 |
| P229 |   3 |
| Q02X |   3 |
| Q186 |   2 |
| P128 |   2 |
| P221 |   2 |
| Q789 |   1 |
| Q249 |   1 |
| Q531 |   1 |
| Q897 |   1 |
| Q549 |   1 |
| Q556 |   1 |
| Q842 |   1 |
| Q652 |   1 |
| Q600 |   1 |
| Q764 |   1 |
| Q820 |   1 |
| Q742 |   1 |
| Q751 |   1 |
| Q753 |   1 |
| Q758 |   1 |
| Q668 |   1 |
| Q183 |   1 |
| Q187 |   1 |
| P121 |   1 |
| D180 |   1 |
| K006 |   1 |
| K429 |   1 |
| P031 |   1 |
| P036 |   1 |
| P120 |   1 |
| P134 |   1 |
| Q185 |   1 |
| P159 |   1 |
| P219 |   1 |
| P835 |   1 |
| P968 |   1 |
| Q182 |   1 |
| 9999 |   1 |
| Q899 |   1 |

Lista nariz

In [72]:
value = mc_value['nariz']
a = df[df[label] == value].CODIGOCIEANOMALIA1.value_counts()
b = df[df[label] == value].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False).to_markdown())

|      |   0 |
|:-----|----:|
| 0000 |  53 |
| Q309 |  28 |
| Q300 |  28 |
| Q308 |  19 |
| Q303 |   5 |
| Q301 |   5 |
| Q302 |   4 |
| P081 |   2 |
| Q752 |   2 |
| Q672 |   2 |
| Q02X |   2 |
| P050 |   2 |
| Q909 |   2 |
| Q764 |   1 |
| Q719 |   1 |
| Q681 |   1 |
| Q660 |   1 |
| Q390 |   1 |
| Q870 |   1 |
| Q878 |   1 |
| Q699 |   1 |
| Q243 |   1 |
| K070 |   1 |
| Q059 |   1 |
| Q042 |   1 |
| Q039 |   1 |
| Q000 |   1 |
| P969 |   1 |
| P722 |   1 |
| P288 |   1 |
| P229 |   1 |
| P220 |   1 |
| P073 |   1 |
| P071 |   1 |
| P038 |   1 |
| L209 |   1 |
| R294 |   1 |

Lista lengua y boca

In [73]:
value = mc_value['boca']
a = df[df[label] == value].CODIGOCIEANOMALIA1.value_counts()
b = df[df[label] == value].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False).to_markdown())

|      |    0 |
|:-----|-----:|
| 0000 | 1095 |
| Q379 |  398 |
| Q369 |  304 |
| Q359 |  182 |
| Q381 |  112 |
| Q372 |   48 |
| Q360 |   47 |
| Q378 |   44 |
| Q386 |   39 |
| Q385 |   32 |
| Q371 |   24 |
| Q375 |   23 |
| Q370 |   19 |
| Q373 |   12 |
| P073 |   11 |
| Q380 |   11 |
| Q374 |   11 |
| Q02X |   10 |
| Q382 |   10 |
| Q361 |   10 |
| Q897 |    9 |
| Q353 |    9 |
| Q699 |    9 |
| Q663 |    8 |
| P081 |    8 |
| Q355 |    7 |
| Q039 |    7 |
| P835 |    6 |
| P071 |    6 |
| P128 |    6 |
| P209 |    5 |
| Q709 |    5 |
| Q249 |    5 |
| Q909 |    5 |
| Q384 |    5 |
| Q000 |    5 |
| Q753 |    4 |
| P229 |    4 |
| Q539 |    4 |
| Q899 |    4 |
| P059 |    3 |
| Q357 |    3 |
| Q668 |    3 |
| K070 |    3 |
| Q383 |    3 |
| Q019 |    3 |
| Q390 |    3 |
| Q564 |    3 |
| Q652 |    3 |
| Q658 |    3 |
| P221 |    3 |
| Q750 |    3 |
| Q660 |    3 |
| Q388 |    3 |
| Q792 |    3 |
| Q758 |    3 |
| Q351 |    3 |
| Q674 |    2 |
| Q690 |    2 |
| 9999 |    2 |
| Q531 |    2 |
| Q549 |    2 |
| Q556 |    2 |
| P120 |    2 |
| Q790 |    2 |
| Q031 |    2 |
| Q040 |    2 |
| P701 |    2 |
| Q079 |    2 |
| P220 |    2 |
| Q059 |    2 |
| Q793 |    2 |
| Q701 |    1 |
| Q820 |    1 |
| Q795 |    1 |
| Q659 |    1 |
| Q825 |    1 |
| Q752 |    1 |
| Q828 |    1 |
| Q829 |    1 |
| Q860 |    1 |
| Q862 |    1 |
| Q759 |    1 |
| Q748 |    1 |
| Q666 |    1 |
| Q692 |    1 |
| Q670 |    1 |
| Q743 |    1 |
| Q742 |    1 |
| Q671 |    1 |
| Q672 |    1 |
| Q741 |    1 |
| Q740 |    1 |
| Q730 |    1 |
| Q559 |    1 |
| Q712 |    1 |
| Q704 |    1 |
| Q703 |    1 |
| Q724 |    1 |
| P072 |    1 |
| Q532 |    1 |
| P545 |    1 |
| Q042 |    1 |
| P969 |    1 |
| P968 |    1 |
| P942 |    1 |
| P917 |    1 |
| P914 |    1 |
| P838 |    1 |
| P832 |    1 |
| P598 |    1 |
| P362 |    1 |
| Q439 |    1 |
| P299 |    1 |
| P291 |    1 |
| P211 |    1 |
| P154 |    1 |
| P143 |    1 |
| P138 |    1 |
| P134 |    1 |
| P121 |    1 |
| P080 |    1 |
| Q050 |    1 |
| Q054 |    1 |
| Q078 |    1 |
| Q206 |    1 |
| Q423 |    1 |
| Q420 |    1 |
| Q399 |    1 |
| D287 |    1 |
| D487 |    1 |
| K061 |    1 |
| P002 |    1 |
| P009 |    1 |
| P050 |    1 |
| 7777 |    1 |
| P070 |    1 |
| Q318 |    1 |
| Q270 |    1 |
| Q259 |    1 |
| Q255 |    1 |
| Q248 |    1 |
| Q234 |    1 |
| Q222 |    1 |
| Q213 |    1 |
| Q913 |    1 |

In [74]:
label="S-MG"
a = df[(df[label] == 1) | (df[label] == 2)].CODIGOCIEANOMALIA1.value_counts()
b = df[(df[label] == 1) | (df[label] == 2)].CODIGOCIEANOMALIA2.value_counts()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(a.add(b,fill_value=0).sort_values(ascending=False))

Q170    283.0
Q172    235.0
Q379    199.0
Q359    179.0
Q369    172.0
Q173     89.0
Q174     61.0
P073     42.0
Q161     41.0
Q189     38.0
Q381     35.0
Q309     33.0
P128     32.0
Q372     29.0
Q360     29.0
Q179     27.0
Q160     25.0
P081     24.0
Q385     21.0
Q178     20.0
P071     20.0
Q181     20.0
Q02X     19.0
Q371     18.0
Q300     18.0
Q699     18.0
Q103     16.0
Q184     15.0
Q169     15.0
P835     15.0
Q308     14.0
P229     13.0
Q158     13.0
K070     13.0
Q897     13.0
Q909     12.0
Q188     12.0
Q378     12.0
Q370     11.0
Q039     11.0
Q652     11.0
Q663     10.0
Q660     10.0
Q361     10.0
Q539     10.0
Q374      9.0
P209      9.0
Q373      9.0
Q386      9.0
Q753      9.0
Q531      8.0
K429      8.0
P072      8.0
P220      8.0
P113      8.0
Q375      8.0
Q301      7.0
Q670      7.0
Q668      7.0
Q249      7.0
P050      7.0
Q899      7.0
P059      7.0
Q059      6.0
Q709      6.0
Q382      6.0
Q390      6.0
Q000      6.0
P969      6.0
P121      6.0
Q758      6.0
Q752      6.0
Q355      6.0
Q112      6.0
P221      6.0
Q138      5.0
Q532      5.0
Q111      5.0
Q658      5.0
Q750      5.0
Q206      5.0
P120      5.0
Q380      5.0
Q351      5.0
Q357      4.0
Q759      4.0
Q243      4.0
Q764      4.0
Q792      4.0
Q549      4.0
Q183      4.0
Q042      4.0
Q870      4.0
Q302      4.0
Q303      4.0
Q674      3.0
Q162      3.0
Q672      3.0
Q164      3.0
Q185      3.0
Q556      3.0
Q681      3.0
P545      3.0
Q564      3.0
Q439      3.0
Q878      3.0
Q828      3.0
Q383      3.0
Q793      3.0
P159      3.0
Q106      3.0
P369      3.0
P838      3.0
P968      3.0
Q019      3.0
Q031      3.0
Q270      3.0
Q690      3.0
Q743      3.0
Q213      2.0
Q353      2.0
Q388      2.0
D180      2.0
Q423      2.0
7777      2.0
Q692      2.0
P134      2.0
Q790      2.0
Q795      2.0
P211      2.0
P219      2.0
Q820      2.0
P080      2.0
P701      2.0
Q748      2.0
Q742      2.0
P070      2.0
Q825      2.0
Q829      2.0
Q842      2.0
P009      2.0
Q079      2.0
Q898      2.0
Q171      2.0
Q159      2.0
Q969      2.0
P138      2.0
P002      2.0
Q040      2.0
Q913      1.0
Q968      1.0
Q862      1.0
Q600      1.0
Q999      1.0
R160      1.0
Q559      1.0
Q860      1.0
Q620      1.0
Q673      1.0
Q789      1.0
Q704      1.0
Q669      1.0
Q676      1.0
Q682      1.0
Q666      1.0
Q558      1.0
Q700      1.0
Q701      1.0
Q703      1.0
Q712      1.0
Q671      1.0
Q713      1.0
Q659      1.0
Q719      1.0
Q724      1.0
Q730      1.0
Q740      1.0
Q741      1.0
Q751      1.0
Q760      1.0
Q222      1.0
Q552      1.0
P284      1.0
P122      1.0
P141      1.0
P143      1.0
P148      1.0
P154      1.0
P201      1.0
P285      1.0
P052      1.0
P288      1.0
P291      1.0
P299      1.0
P362      1.0
P598      1.0
P702      1.0
P111      1.0
P051      1.0
Q551      1.0
K061      1.0
D229      1.0
D287      1.0
D487      1.0
E858      1.0
H509      1.0
K006      1.0
L059      1.0
P038      1.0
L209      1.0
P011      1.0
P012      1.0
P025      1.0
P031      1.0
P036      1.0
P722      1.0
P831      1.0
P832      1.0
Q255      1.0
Q186      1.0
Q200      1.0
Q229      1.0
Q234      1.0
Q248      1.0
Q251      1.0
Q259      1.0
P839      1.0
Q318      1.0
Q348      1.0
Q399      1.0
Q410      1.0
Q420      1.0
Q541      1.0
Q180      1.0
Q142      1.0
Q130      1.0
Q120      1.0
Q105      1.0
Q101      1.0
Q100      1.0
Q078      1.0
Q058      1.0
Q054      1.0
Q050      1.0
Q045      1.0
Q038      1.0
P949      1.0
P942      1.0
P917      1.0
P914      1.0
R294      1.0
dtype: float64