In [60]:
import numpy as np
import pandas as pd
import seaborn as sns

# Importando datos relacionados con las nacimientos del 2022

In [61]:
df = pd.read_csv('data/nacimientos_2022.csv')
df.head(10)

/tmp/ipykernel_13407/36575421.py:1: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/nacimientos_2022.csv')

,NACIOEXTRANJERO,ENTIDADNACIMIENTO,MUNICIPIONACIMIENTO,EDAD,SECONSIDERAINDIGENA,HABLALENGUAINDIGENA,FECHANACIMIENTOMADRE,ESTADOCONYUGAL,RESIDEEXTRANJERO,ENTIDADRESIDENCIA,...,TIPOMEDICOATENDIO,ENTIDADFEDERATIVAPARTO,MUNICIPIOPARTO,LOCALIDADPARTO,CERTIFICADOPOR,CLUESCERTIFICA,ENTIDADFEDERATIVACERTIFICA,MUNICIPIOCERTIFICA,LOCALIDADCERTIFICA,FECHACERTIFICADO
0,1,88,997,28,1,1,09/06/1993,5,2,23,...,11.0,23,8,1,1,QRSSA018001,23,8,1,08/02/2022
1,1,88,997,32,2,2,13/01/1990,5,2,23,...,11.0,23,8,1,1,QRSSA018001,23,8,1,09/02/2022
2,1,88,997,34,2,2,18/01/1988,1,2,23,...,11.0,23,8,1,1,QRSSA018001,23,8,1,04/02/2022
3,2,7,65,27,1,1,01/09/1994,1,2,23,...,11.0,23,8,1,1,QRSSA018001,23,8,1,09/02/2022
4,2,23,4,19,1,2,10/05/2002,1,2,23,...,11.0,23,8,1,1,QRSSA018001,23,8,1,09/02/2022
5,2,23,2,21,1,1,01/05/2000,1,2,23,...,11.0,23,8,1,1,QRSSA018001,23,8,1,02/02/2022
6,2,23,2,38,1,1,24/06/1983,1,2,23,...,11.0,23,8,1,1,QRSSA018001,23,8,1,24/01/2022
7,2,23,8,21,2,2,24/03/2000,1,2,23,...,11.0,23,8,1,1,QRSSA018001,23,8,1,24/01/2022
8,2,9,10,33,2,2,17/05/1988,5,2,9,...,11.0,9,15,1,1,DFSSA003990,9,15,1,30/01/2022
9,2,9,12,42,2,2,16/12/1979,1,2,9,...,11.0,9,14,1,1,DFIST000312,9,14,1,10/02/2022

# Lista de las columnas que se van a utilizar

In [62]:
df.describe()

,NACIOEXTRANJERO,ENTIDADNACIMIENTO,MUNICIPIONACIMIENTO,EDAD,SECONSIDERAINDIGENA,HABLALENGUAINDIGENA,ESTADOCONYUGAL,RESIDEEXTRANJERO,ENTIDADRESIDENCIA,MUNICIPIORESIDENCIA,...,TIPOCESAREA,PERSONALATENDIO,TIPOMEDICOATENDIO,ENTIDADFEDERATIVAPARTO,MUNICIPIOPARTO,LOCALIDADPARTO,CERTIFICADOPOR,ENTIDADFEDERATIVACERTIFICA,MUNICIPIOCERTIFICA,LOCALIDADCERTIFICA
count,1.622921e+06,1.622921e+06,1.622921e+06,1.622921e+06,1.622921e+06,1.622921e+06,1.622921e+06,1.622921e+06,1.622921e+06,1.622921e+06,...,1.622921e+06,1.622921e+06,1.583485e+06,1.622921e+06,1.622921e+06,1.622921e+06,1.622921e+06,1.622921e+06,1.622921e+06,1.622921e+06
mean,1.991637e+00,1.724882e+01,8.334949e+01,2.629363e+01,1.964346e+00,1.989340e+00,4.028023e+00,1.999419e+00,1.655266e+01,5.541189e+01,...,4.680570e+00,1.079417e+00,1.154535e+01,1.645178e+01,5.098282e+01,2.506204e+01,1.955993e+00,1.645080e+01,5.067793e+01,1.683576e+01
std,9.106464e-02,1.024777e+01,1.768172e+02,7.351158e+00,6.711060e-01,6.870492e-01,1.282992e+00,2.409800e-02,8.219216e+00,8.093825e+01,...,3.323599e+00,5.785479e-01,1.147699e+00,7.948411e+00,6.490339e+01,3.847661e+02,1.776060e+00,7.951865e+00,6.361468e+01,2.662543e+02
min,1.000000e+00,0.000000e+00,1.000000e+00,9.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,1.100000e+01,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
25%,2.000000e+00,1.100000e+01,1.400000e+01,2.100000e+01,2.000000e+00,2.000000e+00,4.000000e+00,2.000000e+00,1.100000e+01,1.200000e+01,...,1.000000e+00,1.000000e+00,1.100000e+01,1.100000e+01,1.300000e+01,1.000000e+00,1.000000e+00,1.100000e+01,1.300000e+01,1.000000e+00
50%,2.000000e+00,1.500000e+01,3.700000e+01,2.600000e+01,2.000000e+00,2.000000e+00,4.000000e+00,2.000000e+00,1.500000e+01,3.300000e+01,...,2.000000e+00,1.000000e+00,1.100000e+01,1.500000e+01,3.300000e+01,1.000000e+00,1.000000e+00,1.500000e+01,3.300000e+01,1.000000e+00
75%,2.000000e+00,2.300000e+01,7.800000e+01,3.100000e+01,2.000000e+00,2.000000e+00,5.000000e+00,2.000000e+00,2.200000e+01,7.400000e+01,...,8.000000e+00,1.000000e+00,1.100000e+01,2.200000e+01,6.700000e+01,1.000000e+00,2.000000e+00,2.200000e+01,6.700000e+01,1.000000e+00
max,2.000000e+00,9.900000e+01,9.990000e+02,9.990000e+02,9.000000e+00,9.000000e+00,9.000000e+00,2.000000e+00,9.900000e+01,9.990000e+02,...,8.000000e+00,8.000000e+00,1.600000e+01,3.200000e+01,9.990000e+02,9.999000e+03,7.000000e+00,9.900000e+01,9.990000e+02,9.999000e+03

In [63]:
oldColumns = df.columns
oldColumns

Index(['NACIOEXTRANJERO', 'ENTIDADNACIMIENTO', 'MUNICIPIONACIMIENTO', 'EDAD',
       'SECONSIDERAINDIGENA', 'HABLALENGUAINDIGENA', 'FECHANACIMIENTOMADRE',
       'ESTADOCONYUGAL', 'RESIDEEXTRANJERO', 'ENTIDADRESIDENCIA',
       'MUNICIPIORESIDENCIA', 'LOCALIDADRESIDENCIA', 'NUMEROEMBARAZOS',
       'HIJOSNACIDOSMUERTOS', 'HIJOSNACIDOSVIVOS', 'HIJOSSOBREVIVIENTES',
       'CONDICIONHIJOANTERIOR', 'VIVEHIJOANTERIOR', 'ORDENNACIMIENTO',
       'ATENCIONPRENATAL', 'TRIMESTREPRIMERCONSULTA', 'TOTALCONSULTAS',
       'SOBREVIVIOPARTO', 'AFILIACION', 'ESCOLARIDAD', 'INTERRUMPIOESTUDIOS',
       'CLAVEOCUPACIONHABITUAL', 'TRABAJAACTUALMENTE', 'EDADPADRE',
       'FECHANACIMIENTO', 'HORANACIMIENTO', 'SEXO', 'EDADGESTACIONAL', 'TALLA',
       'PESO', 'APGAR', 'SILVERMAN', 'TAMIZAUDITIVO', 'VACUNA_BCG',
       'VACUNAHEPATITIS_B', 'VITAMINA_A', 'VITAMINA_K', 'PRODUCTOEMBARAZO',
       'ORDENPRODUCTO', 'TOTALPRODUCTOS', 'CODIGOCIEANOMALIA1',
       'CODIGOCIEANOMALIA2', 'LUGARNACIMIENTO', 'CLUES', 'TIEMPOTRASLADO',
       'RESOLUCIONEMBARAZO', 'UTILIZOFORCEPS', 'TIPOCESAREA',
       'PERSONALATENDIO', 'TIPOMEDICOATENDIO', 'ENTIDADFEDERATIVAPARTO',
       'MUNICIPIOPARTO', 'LOCALIDADPARTO', 'CERTIFICADOPOR', 'CLUESCERTIFICA',
       'ENTIDADFEDERATIVACERTIFICA', 'MUNICIPIOCERTIFICA',
       'LOCALIDADCERTIFICA', 'FECHACERTIFICADO'],
      dtype='object')

In [64]:
df.size

103866944

## Limpiando los datos

### Tema

Se busca asocial marfomaciones craneofaciales con un apgar y silverman precario y un tamiz auditivo alterado.

### Variables sugeridas

- Edad materna y paterna
- Sobrevivio parto

### Variables que se van a eliminar

- NACIOEXTRANJERO
- ENTIDADNACIMIENTO
- MUNICIPIONACIMIENTO
- SECONSIDERAINDIGENA
- HABLALENGUAINDIGENA
- FECHANACIMIENTOMADRE
- RESIDEEXTRANJERO
- ESTADOCONYUGAL
- ENTIDADRESIDENCIA
- MUNICIPIORESIDENCIA
- LOCALIDADRESIDENCIA
- HIJOSNACIDOSVIVOS
- CONDICIONHIJOANTERIOR
- VIVEHIJOANTERIOR 
- ORDENNACIMIENTO
- AFILIACION
- INTERRUMPIOESTUDIOS
- CLAVEOCUPACIONHABITUAL
- TRABAJAACTUALMENTE
- HORANACIMIENTO
- VACUNA_BCG
- VACUNAHEPATITIS_B
- VITAMINA_A
- VITAMINA_K
- PRODUCTOEMBARAZO
- ORDENPRODUCTO
- TOTALPRODUCTOS
- CLUES
- TIEMPOTRASLADO
- RESOLUCIONEMBARAZO
- UTILIZOFORCEPS
- TIPOCESAREA
- PERSONALATENDIO
- TIPOMEDICOATENDIO
- MUNICIPIOPARTO
- LOCALIDADPARTO
- CERTIFICADOPOR
- CLUESCERTIFICA
- ENTIDADFEDERATIVACERTIFICA
- MUNICIPIOCERTIFICA
- LOCALIDADCERTIFICA
- FECHACERTIFICADO

In [65]:
# Limpieza de datos
# Se eliminaran las columnas que no se utilizaran

columnsToRemove = [
  "NACIOEXTRANJERO",
  "ENTIDADNACIMIENTO",
  "MUNICIPIONACIMIENTO",
  "SECONSIDERAINDIGENA",
  "HABLALENGUAINDIGENA",
  "FECHANACIMIENTOMADRE",
  "RESIDEEXTRANJERO",
  "ESTADOCONYUGAL",
  "ENTIDADRESIDENCIA",
  "MUNICIPIORESIDENCIA",
  "LOCALIDADRESIDENCIA",
  "HIJOSNACIDOSVIVOS",
  "CONDICIONHIJOANTERIOR",
  "VIVEHIJOANTERIOR",
  "ORDENNACIMIENTO",
  "AFILIACION",
  "INTERRUMPIOESTUDIOS",
  "CLAVEOCUPACIONHABITUAL",
  "TRABAJAACTUALMENTE",
  "HORANACIMIENTO",
  "VACUNA_BCG",
  "VACUNAHEPATITIS_B",
  "VITAMINA_A",
  "VITAMINA_K",
  # Relacionado a gemelos
  # "PRODUCTOEMBARAZO",
  # "ORDENPRODUCTO",
  # "TOTALPRODUCTOS",
  "CLUES",
  "TIEMPOTRASLADO",
  "RESOLUCIONEMBARAZO",
  "UTILIZOFORCEPS",
  "TIPOCESAREA",
  "PERSONALATENDIO",
  "TIPOMEDICOATENDIO",
  "MUNICIPIOPARTO",
  "LOCALIDADPARTO",
  "CERTIFICADOPOR",
  "CLUESCERTIFICA",
  "ENTIDADFEDERATIVACERTIFICA",
  "MUNICIPIOCERTIFICA",
  "LOCALIDADCERTIFICA",
  "FECHACERTIFICADO",
  "LUGARNACIMIENTO"
]

df.drop(columnsToRemove, inplace=True, axis=1)

In [66]:
columnsToReview = df.columns
columnsToReview

Index(['EDAD', 'NUMEROEMBARAZOS', 'HIJOSNACIDOSMUERTOS', 'HIJOSSOBREVIVIENTES',
       'ATENCIONPRENATAL', 'TRIMESTREPRIMERCONSULTA', 'TOTALCONSULTAS',
       'SOBREVIVIOPARTO', 'ESCOLARIDAD', 'EDADPADRE', 'FECHANACIMIENTO',
       'SEXO', 'EDADGESTACIONAL', 'TALLA', 'PESO', 'APGAR', 'SILVERMAN',
       'TAMIZAUDITIVO', 'PRODUCTOEMBARAZO', 'ORDENPRODUCTO', 'TOTALPRODUCTOS',
       'CODIGOCIEANOMALIA1', 'CODIGOCIEANOMALIA2', 'ENTIDADFEDERATIVAPARTO'],
      dtype='object')

In [67]:
df.head(10)

,EDAD,NUMEROEMBARAZOS,HIJOSNACIDOSMUERTOS,HIJOSSOBREVIVIENTES,ATENCIONPRENATAL,TRIMESTREPRIMERCONSULTA,TOTALCONSULTAS,SOBREVIVIOPARTO,ESCOLARIDAD,EDADPADRE,...,PESO,APGAR,SILVERMAN,TAMIZAUDITIVO,PRODUCTOEMBARAZO,ORDENPRODUCTO,TOTALPRODUCTOS,CODIGOCIEANOMALIA1,CODIGOCIEANOMALIA2,ENTIDADFEDERATIVAPARTO
0,28,3,0,3,1,2,10.0,1,31,NaN,...,3495,9,0,1,1,NaN,NaN,0000,0000,23
1,32,5,1,4,1,1,8.0,1,52,NaN,...,1660,9,0,1,1,NaN,NaN,P071,0000,23
2,34,3,0,3,1,1,9.0,1,71,NaN,...,3100,9,0,2,1,NaN,NaN,0000,0000,23
3,27,2,1,1,1,1,7.0,1,51,NaN,...,2850,9,0,1,1,NaN,NaN,0000,0000,23
4,19,1,0,1,1,1,12.0,1,71,NaN,...,3535,9,0,1,1,NaN,NaN,0000,0000,23
5,21,1,0,1,1,1,9.0,1,51,NaN,...,3550,9,0,1,1,NaN,NaN,0000,0000,23
6,38,8,0,8,2,0,0.0,1,31,NaN,...,3155,9,0,1,1,NaN,NaN,0000,0000,23
7,21,2,0,2,1,2,4.0,1,82,NaN,...,3420,9,0,1,1,NaN,NaN,0000,0000,23
8,33,2,0,2,1,1,6.0,1,72,NaN,...,3400,9,0,2,1,NaN,NaN,Q699,0000,9
9,42,1,0,1,1,1,16.0,1,81,NaN,...,3052,9,0,2,1,NaN,NaN,0000,0000,9

# Definir variables de interÃ©s para el anÃ¡lisis

- EDADGESTACIONAL
-

# Variables para relacionar

- Checar si hay una malformacion (CIE10)
- Si la malformacion es craneofacial ()
-

In [76]:
df[df['CODIGOCIEANOMALIA1'] != 0000]

,EDAD,NUMEROEMBARAZOS,HIJOSNACIDOSMUERTOS,HIJOSSOBREVIVIENTES,ATENCIONPRENATAL,TRIMESTREPRIMERCONSULTA,TOTALCONSULTAS,SOBREVIVIOPARTO,ESCOLARIDAD,EDADPADRE,...,PESO,APGAR,SILVERMAN,TAMIZAUDITIVO,PRODUCTOEMBARAZO,ORDENPRODUCTO,TOTALPRODUCTOS,CODIGOCIEANOMALIA1,CODIGOCIEANOMALIA2,ENTIDADFEDERATIVAPARTO
0,28,3,0,3,1,2,10.0,1,31,NaN,...,3495,9,0,1,1,NaN,NaN,0000,0000,23
1,32,5,1,4,1,1,8.0,1,52,NaN,...,1660,9,0,1,1,NaN,NaN,P071,0000,23
2,34,3,0,3,1,1,9.0,1,71,NaN,...,3100,9,0,2,1,NaN,NaN,0000,0000,23
3,27,2,1,1,1,1,7.0,1,51,NaN,...,2850,9,0,1,1,NaN,NaN,0000,0000,23
4,19,1,0,1,1,1,12.0,1,71,NaN,...,3535,9,0,1,1,NaN,NaN,0000,0000,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1622916,29,3,0,3,1,1,5.0,1,51,28.0,...,3000,9,0,2,1,NaN,NaN,0000,0000,30
1622917,35,5,0,5,1,1,4.0,1,31,34.0,...,740,8,2,2,2,1.0,2.0,0000,0000,25
1622918,16,1,0,1,1,1,6.0,1,52,17.0,...,2850,9,0,2,1,NaN,NaN,0000,0000,5
1622919,29,7,2,5,1,1,6.0,1,51,29.0,...,2750,9,0,2,1,NaN,NaN,0000,0000,2
1622920,18,2,1,1,1,3,5.0,1,51,25.0,...,3050,9,0,2,1,NaN,NaN,0000,0000,30

#